.carousel2__item-viewer-close-button {
    height: 5rem;
    width: 5rem;
    fill: white;
    opacity: .75;
    border: none;
    transform: translateX(6.75px);
}

.carousel2__item-viewer-close-button:hover {
    opacity: 1;
    cursor: pointer;
}