.carousel2__video {
    width: 100vw;
    object-fit: contain;
    max-height: 92.5vh;
}

.carousel2__video-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carousel2__video-progress {
    width: 97.5%;
    margin: 1rem 0 0 0;
    cursor: pointer;
    height: .5rem;
    appearance: none;
    border: none;
}

.carousel2__video-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}