:root {
  --thumbnail-carousel-video-overlay-custom-button-top: calc(20px * .5);
  --thumbnail-carousel-video-overlay-custom-button-right: calc(20px * .5);
}

.thumbnail-carousel--hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.thumbnail-carousel--visible, .thumbnail-carousel__item-container:hover .thumbnail-carousel__item-viewer-toolbar {
  pointer-events: all;
  visibility: visible;
  opacity: 1;
}

.loading-container {
  color: #fff;
  text-align: center;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  column-gap: 0px;
  padding: 20px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: calc(80px / 2) calc(80px / 2);
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1)::after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2)::after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3)::after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4)::after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5)::after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6)::after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7)::after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8)::after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.thumbnail-carousel-button {
  overflow: hidden;
  height: 30px;
  width: 30px;
  opacity: 0.75;
  border: none;
  position: relative;
  background-color: transparent;
}
.thumbnail-carousel-button:hover {
  opacity: 1;
  cursor: pointer;
}
.thumbnail-carousel-button * {
  background-color: #fff;
  fill: #fff;
}
.thumbnail-carousel-button--arrow-left-one, .thumbnail-carousel-button--arrow-left-two, .thumbnail-carousel-button--arrow-right-one, .thumbnail-carousel-button--arrow-right-two {
  background-color: #000;
  width: 3.75px;
  height: 11.1803398875px;
}
.thumbnail-carousel-button--arrow-left-one {
  position: absolute;
  top: calc(50% + 3.9528470752px - 1.3258252147px);
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.thumbnail-carousel-button--arrow-left-two {
  position: absolute;
  top: calc(50% - 3.9528470752px + 1.3258252147px);
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%) rotate(45deg);
}
.thumbnail-carousel-button--arrow-right-one {
  position: absolute;
  top: calc(50% - 3.9528470752px + 1.3258252147px);
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.thumbnail-carousel-button--arrow-right-two {
  position: absolute;
  top: calc(50% + 3.9528470752px - 1.3258252147px);
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%) rotate(45deg);
}
.thumbnail-carousel-button--close-left, .thumbnail-carousel-button--close-right {
  width: 7.5px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%) rotate(var(--rotation));
}
.thumbnail-carousel-button--close-left-inverse, .thumbnail-carousel-button--close-right-inverse {
  background-color: #000;
  margin-top: 0;
  width: 3.75px;
  height: 22.5px;
}
.thumbnail-carousel-button--close-left {
  --rotation: -45deg;
}
.thumbnail-carousel-button--close-right {
  --rotation: 45deg;
}
.thumbnail-carousel-button--next-left {
  border-left: calc(30px / 2.5) solid #fff;
  background-color: transparent;
  width: 0;
  height: 0;
  border-top: calc(30px / 2.25) solid transparent;
  border-bottom: calc(30px / 2.25) solid transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-75%, -50%) rotate(0);
}
.thumbnail-carousel-button--next-right {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(calc(-50% + 7.5px), -50%) rotate(0);
  width: 3.75px;
  height: calc(30px * .85);
}
.thumbnail-carousel-button--inverse {
  transform: translateX(6px);
  margin-top: 0;
}
.thumbnail-carousel-button--pause-left, .thumbnail-carousel-button--pause-right {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(calc(-50% + 7.5px), -50%) rotate(0);
  width: 7.5px;
  height: calc(30px * .85);
}
.thumbnail-carousel-button--pause-left {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(calc(-50% - 7.5px), -50%) rotate(0);
}
.thumbnail-carousel-button--play-triangle {
  position: absolute;
  top: 50%;
  left: 0;
  right: auto;
  bottom: auto;
  transform: translate(22.5%, -50%) rotate(0);
  background-color: transparent;
  width: 0;
  height: 0;
  border-top: calc(30px / 2.25) solid transparent;
  border-left: calc(30px / 1.33) solid #fff;
  border-bottom: calc(30px / 2.25) solid transparent;
}
.thumbnail-carousel-button--previous-left {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(calc(-50% + 7.5px), -50%) rotate(0);
  width: 3.75px;
  height: calc(30px * .85);
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-175%, -50%) rotate(0);
}
.thumbnail-carousel-button--previous-right {
  border-right: calc(30px / 2.5) solid #fff;
  background-color: transparent;
  width: 0;
  height: 0;
  border-top: calc(30px / 2.25) solid transparent;
  border-bottom: calc(30px / 2.25) solid transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-20%, -50%) rotate(0);
}
.thumbnail-carousel-button--restart-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%) rotate(0);
  right: 0;
  top: 0;
  transform: translate(0%, 15%);
  background-color: transparent;
  width: 0;
  height: 0;
  border-top: calc(30px / 2.5) solid transparent;
  border-right: calc(30px / 2.5) solid #fff;
  border-bottom: none;
}
.thumbnail-carousel-button--restart-circle-inner, .thumbnail-carousel-button--restart-circle-outer {
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%) rotate(0);
}
.thumbnail-carousel-button--restart-circle-inner {
  height: calc((30px * .85) - 15px);
  width: calc((30px * .85) - 15px);
  background-color: rgba(0, 0, 0, 0);
}
.thumbnail-carousel-button--restart-circle-outer {
  height: calc(30px * .85);
  width: calc(30px * .85);
}
.thumbnail-carousel-button--restart-triangle-cutout {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%) rotate(0);
  bottom: 0;
  right: 0;
  transform: translate(0, -50%);
  background-color: transparent;
  width: 0;
  height: 0;
  border-top: calc(30px / 1) solid transparent;
  border-right: calc(30px / 1) solid rgba(0, 0, 0, 0);
  border-bottom: calc(30px / 1) solid transparent;
}
.thumbnail-carousel-button--seek-back-left, .thumbnail-carousel-button--seek-back-right {
  border-left: calc(30px / 2.5) solid #fff;
  background-color: transparent;
  width: 0;
  height: 0;
  border-top: calc(30px / 2.25) solid transparent;
  border-bottom: calc(30px / 2.25) solid transparent;
}
.thumbnail-carousel-button--seek-back-left {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-100%, -50%) rotate(180deg);
}
.thumbnail-carousel-button--seek-back-right {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(0%, -50%) rotate(180deg);
}
.thumbnail-carousel-button--seek-forward-left, .thumbnail-carousel-button--seek-forward-right {
  border-left: calc(30px / 2.5) solid #fff;
  background-color: transparent;
  width: 0;
  height: 0;
  border-top: calc(30px / 2.25) solid transparent;
  border-bottom: calc(30px / 2.25) solid transparent;
}
.thumbnail-carousel-button--seek-forward-left {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-95%, -50%) rotate(0);
}
.thumbnail-carousel-button--seek-forward-right {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(5%, -50%) rotate(0);
}
.thumbnail-carousel-button--stop {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%) rotate(0);
  height: calc(30px * .85);
  width: calc(calc(30px * .85) * .95);
}

.thumbnail-carousel {
  width: 100%;
  overflow: hidden;
}
.thumbnail-carousel__dots {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  row-gap: 0px;
  column-gap: 0px;
}
.thumbnail-carousel__dots > div, .thumbnail-carousel__dots > svg {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  row-gap: 0px;
  column-gap: 0px;
  --opacity: 0.5;
  height: 24px;
  width: 16px;
  background-color: transparent;
}
.thumbnail-carousel__dots > div > div, .thumbnail-carousel__dots > svg > div {
  height: 4px;
  width: 4px;
  background-color: rgba(0, 0, 0, var(--opacity));
  border-radius: 100%;
}
.thumbnail-carousel__dots > div use, .thumbnail-carousel__dots > svg use {
  fill: #000;
  opacity: var(--opacity);
}
.thumbnail-carousel__dots > div:not(.thumbnail-carousel__dots-current):hover, .thumbnail-carousel__dots > svg:not(.thumbnail-carousel__dots-current):hover {
  cursor: pointer;
}
.thumbnail-carousel__dots > div:not(.thumbnail-carousel__dots-current):hover *, .thumbnail-carousel__dots > svg:not(.thumbnail-carousel__dots-current):hover * {
  --opacity: 0.8;
  opacity: 0.8 !important;
}
.thumbnail-carousel__item {
  margin: 4px 0;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  transition: border-radius 0.5s ease, box-shadow 0.5s ease, transform 0.5s ease;
}
.thumbnail-carousel__item-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.thumbnail-carousel__item-container--no-toolbar .thumbnail-carousel__item-viewer-toolbar {
  opacity: 0 !important;
  pointer-events: none !important;
}
.thumbnail-carousel__item-container img {
  width: 100vw;
  max-height: 100vh;
  object-fit: contain;
}
.thumbnail-carousel__item-thumbnail {
  object-fit: cover;
  object-position: top;
  height: 100%;
  width: 100%;
}
.thumbnail-carousel__item > div {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: auto;
  transition: bottom 0.5s ease;
  padding: 10px 20px;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.66);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 100%);
}
.thumbnail-carousel__item > div * {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
}
.thumbnail-carousel__item:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 0.4rem 0rem rgba(0, 0, 0, 0.5);
}
.thumbnail-carousel__item:hover > div {
  bottom: 0 !important;
}
.thumbnail-carousel__items {
  display: flex;
  width: 10000000vw;
  transition: transform 0.5s ease;
}
.thumbnail-carousel__item-viewer {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000000000000000000000;
  background-color: #000;
  transition: opacity 0.5s ease;
}
.thumbnail-carousel__item-viewer-button {
  overflow: hidden;
  height: 30px;
  width: 30px;
  opacity: 0.75;
  border: none;
  position: relative;
  background-color: transparent;
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.15;
  stroke-width: 2px;
}
.thumbnail-carousel__item-viewer-button:hover {
  opacity: 1;
  cursor: pointer;
}
.thumbnail-carousel__item-viewer-button * {
  background-color: #fff;
  fill: #fff;
}
.thumbnail-carousel__item-viewer-button-inverse {
  fill: #000;
  stroke: #fff;
}
.thumbnail-carousel__item-viewer-button-inverse * {
  fill: #000;
  stroke: #fff;
}
.thumbnail-carousel__item-viewer-toolbar {
  transition: transform 0.5s ease, opacity 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.8);
  /*this color is displayed if browser can't read the below properties*/
  background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, black 100%);
  background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, black 100%);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8a96e6", endColorstr="#8a96e6", GradientType=1);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: auto;
}
.thumbnail-carousel__item-viewer-toolbar-container {
  margin-top: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 0.75vw;
}
.thumbnail-carousel__item-viewer-toolbar-container > * {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 0.75vw;
}
.thumbnail-carousel__item-viewer-toolbar-middle {
  justify-content: flex-start;
  margin-right: auto;
  font-size: 1.5rem;
  color: #fff;
}
.thumbnail-carousel__item-viewer-toolbar-middle > * {
  text-align: center;
}
.thumbnail-carousel__item-viewer-toolbar-middle > * span {
  width: 6rem;
  display: inline-block;
}
.thumbnail-carousel__item-viewer-toolbar-middle > * span:nth-last-of-type(2) {
  width: 1rem;
}
.thumbnail-carousel__item-viewer-toolbar-preview {
  --width: 200px;
  --height: calc(var(--width) / 2);
  position: absolute;
  bottom: auto;
  left: auto;
  right: calc(20px / 2);
  top: calc(-1 * var(--height));
  width: var(--width);
  height: var(--height);
  background-color: rgba(0, 0, 0, 0.66);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: #fff;
  border-radius: 5px;
  overflow: hidden;
}
.thumbnail-carousel__item-viewer-toolbar-preview > * {
  width: calc(200px / 2);
}
.thumbnail-carousel__item-viewer-toolbar-preview-image-container {
  border-right: 1px solid rgba(255, 255, 255, 0.66);
  height: calc(100% - 0px);
}
.thumbnail-carousel__item-viewer-toolbar-preview-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}
.thumbnail-carousel__item-viewer-toolbar-preview-image-description {
  padding: 10px;
  text-align: center;
}
.thumbnail-carousel__item-viewer-toolbar-preview-image-description p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.thumbnail-carousel__item-viewer-toolbar-progress {
  transition: transform 0.5s;
  width: calc(100vw - 20px);
  margin-bottom: 5px;
  cursor: pointer;
  height: 5px;
  appearance: none;
  border: none;
}
.thumbnail-carousel__item-viewer-toolbar-progress::-webkit-progress-bar {
  background-color: #888;
}
.thumbnail-carousel__item-viewer-toolbar-progress::-webkit-progress-value {
  background-color: #fff;
  position: relative;
}
.thumbnail-carousel__item-viewer-toolbar-progress::-moz-progress-bar {
  /* style rules */
}
.thumbnail-carousel__item-viewer-toolbar-progress:hover {
  transform: scaleY(2);
}
.thumbnail-carousel__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}
.thumbnail-carousel__video {
  width: 100vw;
  object-fit: contain;
  max-height: 100vh;
}
.thumbnail-carousel__video-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%) rotate(0);
  color: black;
  max-height: 75%;
  max-width: 75%;
  background-color: white;
  border-radius: 5px;
  padding: 20px calc(30px);
  box-shadow: 0 0 0 50vmax rgba(0, 0, 0, 0.15);
  transition: opacity 0.5s ease;
  font-size: 14px;
}
.thumbnail-carousel__video-overlay-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.thumbnail-carousel__video-overlay p {
  padding-right: 20px;
}
.thumbnail-carousel__video-overlay-custom {
  padding-top: 0;
  padding-bottom: 0;
}
.thumbnail-carousel__video-overlay-custom .thumbnail-carousel__item-viewer-button {
  position: absolute;
  bottom: auto;
  left: auto;
  right: var(--thumbnail-carousel-video-overlay-custom-button-right);
  top: var(--thumbnail-carousel-video-overlay-custom-button-top);
}
.thumbnail-carousel__video-overlay-custom .thumbnail-carousel__item-viewer-button--close-left, .thumbnail-carousel__video-overlay-custom .thumbnail-carousel__item-viewer-button--close-right {
  width: 7.5px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%) rotate(var(--rotation));
}
.thumbnail-carousel__video-overlay-custom .thumbnail-carousel__item-viewer-button--close-left-inverse, .thumbnail-carousel__video-overlay-custom .thumbnail-carousel__item-viewer-button--close-right-inverse {
  background-color: #000;
  margin-top: 0;
  width: 3.75px;
  height: 22.5px;
}
.thumbnail-carousel__video-overlay-custom .thumbnail-carousel__item-viewer-button--close-left {
  --rotation: -45deg;
}
.thumbnail-carousel__video-overlay-custom .thumbnail-carousel__item-viewer-button--close-right {
  --rotation: 45deg;
}

/*# sourceMappingURL=style.css.map */
