:root {
  --thumbnail-carousel-classname: thumbnail-carousel;
  --thumbnail-carousel-video-overlay-custom-button-top: calc(2rem * .5);
  --thumbnail-carousel-video-overlay-custom-button-right: calc(2rem * .5);
}

.thumbnail-carousel--hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.thumbnail-carousel--visible, .thumbnail-carousel__item-container:hover .thumbnail-carousel__item-viewer-toolbar {
  pointer-events: all;
  visibility: visible;
  opacity: 1;
}

.thumbnail-carousel-button {
  overflow: hidden;
  height: 3rem;
  width: 3rem;
  opacity: 0.75;
  border: none;
  position: relative;
  background-color: transparent;
}
.thumbnail-carousel-button:hover {
  opacity: 1;
  cursor: pointer;
}
.thumbnail-carousel-button * {
  background-color: #fff;
  fill: #fff;
}
.thumbnail-carousel-button--close-left, .thumbnail-carousel-button--close-right {
  width: 0.75rem;
  height: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(var(--rotation));
}
.thumbnail-carousel-button--close-left-inverse, .thumbnail-carousel-button--close-right-inverse {
  background-color: #000;
  margin-top: 0;
  width: 0.375rem;
  height: 2.25rem;
}
.thumbnail-carousel-button--close-left {
  --rotation: -45deg;
}
.thumbnail-carousel-button--close-right {
  --rotation: 45deg;
}
.thumbnail-carousel-button--next-left {
  border-left: calc(3rem / 2.5) solid #fff;
  background-color: transparent;
  width: 0;
  height: 0;
  border-top: calc(3rem / 2.25) solid transparent;
  border-bottom: calc(3rem / 2.25) solid transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-75%, -50%) rotate(0);
}
.thumbnail-carousel-button--next-right {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% + 0.75rem), -50%) rotate(0);
  width: 0.375rem;
  height: calc(3rem * .85);
}
.thumbnail-carousel-button--inverse {
  transform: translateX(0.6rem);
  margin-top: 0;
}
.thumbnail-carousel-button--pause-left, .thumbnail-carousel-button--pause-right {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% + 0.75rem), -50%) rotate(0);
  width: 0.75rem;
  height: calc(3rem * .85);
}
.thumbnail-carousel-button--pause-left {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% - 0.75rem), -50%) rotate(0);
}
.thumbnail-carousel-button--play-triangle {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(22.5%, -50%) rotate(0);
  background-color: transparent;
  width: 0;
  height: 0;
  border-top: calc(3rem / 2.25) solid transparent;
  border-left: calc(3rem / 1.33) solid #fff;
  border-bottom: calc(3rem / 2.25) solid transparent;
}
.thumbnail-carousel-button--previous-left {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% + 0.75rem), -50%) rotate(0);
  width: 0.375rem;
  height: calc(3rem * .85);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-175%, -50%) rotate(0);
}
.thumbnail-carousel-button--previous-right {
  border-right: calc(3rem / 2.5) solid #fff;
  background-color: transparent;
  width: 0;
  height: 0;
  border-top: calc(3rem / 2.25) solid transparent;
  border-bottom: calc(3rem / 2.25) solid transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-20%, -50%) rotate(0);
}
.thumbnail-carousel-button--restart-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  right: 0;
  top: 0;
  transform: translate(0%, 15%);
  background-color: transparent;
  width: 0;
  height: 0;
  border-top: calc(3rem / 2.5) solid transparent;
  border-right: calc(3rem / 2.5) solid #fff;
  border-bottom: none;
}
.thumbnail-carousel-button--restart-circle-inner, .thumbnail-carousel-button--restart-circle-outer {
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
}
.thumbnail-carousel-button--restart-circle-inner {
  height: calc((3rem * .85) - 1.5rem);
  width: calc((3rem * .85) - 1.5rem);
  background-color: rgba(0, 0, 0, 0);
}
.thumbnail-carousel-button--restart-circle-outer {
  height: calc(3rem * .85);
  width: calc(3rem * .85);
}
.thumbnail-carousel-button--restart-triangle-cutout {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  bottom: 0;
  right: 0;
  transform: translate(0, -50%);
  background-color: transparent;
  width: 0;
  height: 0;
  border-top: calc(3rem / 1) solid transparent;
  border-right: calc(3rem / 1) solid rgba(0, 0, 0, 0);
  border-bottom: calc(3rem / 1) solid transparent;
}
.thumbnail-carousel-button--seek-back-left, .thumbnail-carousel-button--seek-back-right {
  border-left: calc(3rem / 2.5) solid #fff;
  background-color: transparent;
  width: 0;
  height: 0;
  border-top: calc(3rem / 2.25) solid transparent;
  border-bottom: calc(3rem / 2.25) solid transparent;
}
.thumbnail-carousel-button--seek-back-left {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%) rotate(180deg);
}
.thumbnail-carousel-button--seek-back-right {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0%, -50%) rotate(180deg);
}
.thumbnail-carousel-button--seek-forward-left, .thumbnail-carousel-button--seek-forward-right {
  border-left: calc(3rem / 2.5) solid #fff;
  background-color: transparent;
  width: 0;
  height: 0;
  border-top: calc(3rem / 2.25) solid transparent;
  border-bottom: calc(3rem / 2.25) solid transparent;
}
.thumbnail-carousel-button--seek-forward-left {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-95%, -50%) rotate(0);
}
.thumbnail-carousel-button--seek-forward-right {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(5%, -50%) rotate(0);
}
.thumbnail-carousel-button--stop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  height: calc(3rem * .85);
  width: calc(calc(3rem * .85) * .95);
}

.thumbnail-carousel {
  width: 100%;
  height: 20rem;
  display: flex;
  overflow: hidden;
}
.thumbnail-carousel__container {
  display: flex;
  column-gap: 10rem;
  width: 10000000vw;
  transition: transform 0.5s ease;
}
.thumbnail-carousel__item {
  margin-top: 0.5rem;
  position: relative;
  height: 15rem;
  width: 15rem;
  border-radius: 8px;
  overflow: hidden;
  transition: border-radius 0.5s ease, box-shadow 0.5s ease, transform 0.5s ease;
}
.thumbnail-carousel__item-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.thumbnail-carousel__item-container--no-toolbar .thumbnail-carousel__item-viewer-toolbar {
  opacity: 0 !important;
  pointer-events: none !important;
}
.thumbnail-carousel__item-container img {
  width: 100vw;
  max-height: 100vh;
  object-fit: contain;
}
.thumbnail-carousel__item-thumbnail {
  object-fit: cover;
  object-position: top;
  height: 100%;
  width: 100%;
}
.thumbnail-carousel__item > div {
  background-color: rgba(0, 0, 0, 0.66);
  color: #fff;
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  top: auto;
  transition: bottom 0.5s ease;
  padding: 1rem 2rem;
  text-align: center;
}
.thumbnail-carousel__item:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 0.5rem 1rem 0rem rgba(0, 0, 0, 0.33);
}
.thumbnail-carousel__item:hover > div {
  bottom: 0;
}
.thumbnail-carousel__item-viewer {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000000000000000000000;
  background-color: #000;
  transition: opacity 0.5s ease;
}
.thumbnail-carousel__item-viewer-button {
  overflow: hidden;
  height: 3rem;
  width: 3rem;
  opacity: 0.75;
  border: none;
  position: relative;
  background-color: transparent;
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.15;
  stroke-width: 2px;
}
.thumbnail-carousel__item-viewer-button:hover {
  opacity: 1;
  cursor: pointer;
}
.thumbnail-carousel__item-viewer-button * {
  background-color: #fff;
  fill: #fff;
}
.thumbnail-carousel__item-viewer-button-inverse {
  fill: #000;
  stroke: #fff;
}
.thumbnail-carousel__item-viewer-button-inverse * {
  fill: #000;
  stroke: #fff;
}
.thumbnail-carousel__item-viewer-toolbar {
  transition: transform 0.5s ease, opacity 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: rgba(0, 0, 0, 0.8);
  /*this color is displayed if browser can't read the below properties*/
  background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, black 100%);
  background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, black 100%);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8a96e6", endColorstr="#8a96e6", GradientType=1);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: auto;
}
.thumbnail-carousel__item-viewer-toolbar-container {
  margin-top: 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 0.75vw;
}
.thumbnail-carousel__item-viewer-toolbar-container > * {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 0.75vw;
}
.thumbnail-carousel__item-viewer-toolbar-middle {
  justify-content: flex-start;
  margin-right: auto;
  font-size: 1.5rem;
  color: #fff;
}
.thumbnail-carousel__item-viewer-toolbar-middle > * {
  text-align: center;
}
.thumbnail-carousel__item-viewer-toolbar-middle > * span {
  width: 6rem;
  display: inline-block;
}
.thumbnail-carousel__item-viewer-toolbar-middle > * span:nth-last-of-type(2) {
  width: 1rem;
}
.thumbnail-carousel__item-viewer-toolbar-preview {
  --width: 20rem;
  --height: calc(var(--width) / 2);
  position: absolute;
  bottom: auto;
  left: auto;
  right: calc(2rem / 2);
  top: calc(-1 * var(--height));
  width: var(--width);
  height: var(--height);
  background-color: rgba(0, 0, 0, 0.66);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
}
.thumbnail-carousel__item-viewer-toolbar-preview > * {
  width: calc(20rem / 2);
}
.thumbnail-carousel__item-viewer-toolbar-preview-image-container {
  border-right: 1px solid rgba(255, 255, 255, 0.66);
  height: calc(100% - 0px);
}
.thumbnail-carousel__item-viewer-toolbar-preview-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}
.thumbnail-carousel__item-viewer-toolbar-preview-image-description {
  padding: 1rem;
  text-align: center;
}
.thumbnail-carousel__item-viewer-toolbar-preview-image-description p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.thumbnail-carousel__item-viewer-toolbar-progress {
  transition: transform 0.5s;
  width: calc(100vw - 2rem);
  margin-bottom: 0.5rem;
  cursor: pointer;
  height: 0.5rem;
  appearance: none;
  border: none;
}
.thumbnail-carousel__item-viewer-toolbar-progress::-webkit-progress-bar {
  background-color: #888;
}
.thumbnail-carousel__item-viewer-toolbar-progress::-webkit-progress-value {
  background-color: #fff;
  position: relative;
}
.thumbnail-carousel__item-viewer-toolbar-progress::-moz-progress-bar {
  /* style rules */
}
.thumbnail-carousel__item-viewer-toolbar-progress:hover {
  transform: scaleY(2);
}
.thumbnail-carousel__video {
  width: 100vw;
  object-fit: contain;
  max-height: 100vh;
}
.thumbnail-carousel__video-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  color: black;
  max-height: 75%;
  max-width: 75%;
  background-color: white;
  border-radius: 0.5rem;
  padding: 2rem;
  box-shadow: 0 0 0 50vmax rgba(0, 0, 0, 0.15);
  transition: opacity 0.5s ease;
  font-size: 14px;
}
.thumbnail-carousel__video-overlay-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.thumbnail-carousel__video-overlay p {
  padding-right: 4rem;
}
.thumbnail-carousel__video-overlay-custom {
  padding-top: 0;
  padding-bottom: 0;
}
.thumbnail-carousel__video-overlay-custom .thumbnail-carousel__item-viewer-button {
  position: absolute;
  bottom: auto;
  left: auto;
  right: var(--thumbnail-carousel-video-overlay-custom-button-right);
  top: var(--thumbnail-carousel-video-overlay-custom-button-top);
}

/*# sourceMappingURL=style.css.map */
