@keyframes black-hole{
  0%{
    transform: scale(1) rotate(0deg);
  }
  100%{
    transform: scale(0) rotate(720deg);
  }
}

@keyframes black-hole-background {
  0%{
    background-color: $color-primary-1;
  }
  100%{
    background-color: $color-black;
  }
}

@keyframes animate-skills {
  
  0%{
    background-image: linear-gradient(to right, $color-primary-1, $color-primary-2);
  }
  5%{
    background-image: linear-gradient(to right, $color-primary-2, $color-primary-1);
  }
  100%{
    background-image: linear-gradient(to right, $color-primary-1, $color-primary-1);
    

  }
}