@keyframes black-hole{
  0%{
    transform: scale(1) rotate(0deg);
  }
  100%{
    transform: scale(0) rotate(720deg);
  }
}

@keyframes black-hole-background {
  0%{
    background-color: $color-primary-1;
  }
  100%{
    background-color: $color-black;
  }
}

@keyframes animate-skills {
  // 50% {
    // background-position: 150% center;
  // }
  100%{
    background-position: 200% center;
  }
}

// @keyframes selected-section {
//   0% {
//     transform: scale(1.05) rotate(0);
//   }
//   16.667% {
//     transform: scale(1.11666667) rotate(1.25deg);
    
//   }
//   33% {
//     transform: scale(1.18336667) rotate(-1.25deg);
//   }
//   50% {
//     transform: scale(1.33) rotate(0);
//   }
//   100% {
//     transform: scale(1.05) rotate(0);
//   }
// }
