//font
// $font-family-text: "Roboto", sans-serif;
// $font-family-headers: "Cinzel", sans-serif;
$line-height: 1.5;
$font-family-text: "Open Sans", sans-serif;
$font-family-headers: "Merriweather", serif;
$nav-switch-width: 71.8756em;
$default-font-size: 1.6rem;

//colors
$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;
$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-white: #fff;
$color-black: #000;

$color-primary-1: #28527a;
$color-primary-2: #8ac4d0;
$color-primary-3: #f4d160;
$color-primary-4: #fbeeac;

$color-primary-1: rgb(40, 82, 122);
$color-primary-2-rgb: rgb(138, 196, 208);
$color-primary-3-rgb: rgb(244, 209, 96);
$color-primary-4-rgb: rgb(251, 238, 172);

//sizes
$scale-amount: 1.05;
$navbar__logo-width-desktop: 7vw;
$github__logo-width-desktop: $navbar__logo-width-desktop * 1.1666666667;
$navbar__logo-width-mobile: $default-font-size * 5;
$content-padding-mobile: 5vmin;
$component-margin-amount: $default-font-size * 8;
$paddingFactor: 1.25;

//animation
$animation-duration: 0.5s;
$animation-easing-standard: ease;
$animation-easing-standard-easeInOutBack: cubic-bezier(0.68, -0.6, 0.32, 1.6);
$animation-easing-standard-easeInOutBack-smaller: cubic-bezier(
	0.68,
	-0.2,
	0.32,
	1.2
);
$animation-easing-modern: cubic-bezier(1, 0, 0, 1);
$animation-navbar: $animation-duration $animation-easing-standard;

//navbar stuff
$navbar__button-bar-before-rotation: rotate(105deg);
$navbar__button-bar-before-transform: $navbar__button-bar-before-rotation
	translate($default-font-size * 0.25, $default-font-size * 1.875);
$navbar__button-bar-after-rotation: rotate(-105deg);
$navbar__button-bar-after-transform: $navbar__button-bar-after-rotation
	translate(-$default-font-size * 0.075, -$default-font-size * 0.5);
$navbar-mobile-width: 97.5vw;

$navbar__item-border-radius: $default-font-size * 10;
$navbar__item-divider-width: $default-font-size * 0.2;
$navbar__item-divider: $navbar__item-divider-width solid $color-primary-1;

$navbar-box-shadow-color: rgba($color-black, 0.15);
$hover-color-change-amount: 15%;

//skills
$skills-linear-gradient-original: linear-gradient(
	to left,
	$color-primary-1 0%,
	lighten($color-primary-4, $hover-color-change-amount) 5%,
	$color-primary-1 10%,
	$color-primary-1 100%
);
$skills-linear-gradient-hover: linear-gradient(
	to right,
	lighten($color-primary-1, $hover-color-change-amount),
	$color-primary-1
);

//resume
$resume-card-width-full: $default-font-size * 53.125;

//header
$header-top-desktop: calc(
	(
			(
					100vw -
						(
							#{$resume-card-width-full} + (
									(100vw - #{$resume-card-width-full}) / 2
								) + #{$navbar__logo-width-desktop}
						)
				) / 2
		) - 1vw
);
$header-height: $default-font-size * 6.25;
$header-toggler-width: 4rem;
$header-mobile-width-nav-switch: 92.2vw;
$header-mobile-width-tab-land: 91.5vw;
$header-mobile-width-phone: 91.1vw;
$header-mobile-width-small-font: 90vw;

// $header-mobile-width-nav-switch: 92vw;
// $header-mobile-width-tab-land: 91.3vw;
// $header-mobile-width-phone: 90.6vw;
// $header-mobile-width-small-font: 88.5vw;

//page-nav
$page-nav-top: calc(
	100% +
		(
			(
					(
							(
									100vw -
										(
											#{$resume-card-width-full} + (
													(100vw - #{$resume-card-width-full}) / 2
												) + #{$navbar__logo-width-desktop}
										)
								) / 2
						) - 1vw
				) * 1
		) - 1.4vw
);

:root {
	--nav-switch-width: $nav-switch-width;
	--site-nav-linear-gradient: linear-gradient(
		to right,
		#{$color-primary-1} 0%,
		#{$color-primary-1} 0%,
		#{$color-primary-4} 0%,
		#{$color-primary-4} 100%
	);
	--site-nav-active-scale-amount: 1;
	--color-primary-1: $color-primary-1;
	--color-primary-2: $color-primary-2;
	--color-primary-3: $color-primary-3;
	--color-primary-4: $color-primary-4;
}
