$animation-duration: .5s;
$animation-easing: ease;
$animation-navbar: $animation-duration $animation-easing;

.navbar{
  width: $default-font-size * 40;
  overflow: hidden;
  // grid-column: 1 / -1;
  border: $default-font-size * .2 solid transparent;
  border-radius: $default-font-size * 10;

  position: fixed;
  top: $default-font-size * 2;
  left: $default-font-size * 2;
  font-size: $default-font-size * 1.5;
  text-align: center;
  display: flex;
  align-items: center;

  // transition: width 5s
  // ;

  &__logo {
    width: $navbar__logo-width;
    border-radius: 50%;
    border: .2rem solid $color-primary-4;
    z-index: 10000;
  }
  &__content {
    visibility: hidden;
    width: 100%;
    transform: translateX(-115%);
    transition: 
                visibility $animation-navbar,
                transform $animation-navbar
    ;
  }

  &__list {

    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  &__item {
    background-color: $color-primary-4;
    padding: $default-font-size * 1.375 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
    // transform: translateX(-60rem);
    transition: 
      transform $animation-duration * .5 $animation-easing,
      padding $animation-duration * 1 $animation-easing,
    ;

    &:hover {
      // transform: translate(0, -$default-font-size * .2);
    }

    &:not(:last-child){
      margin-right: $default-font-size * .2;
    }
  }

  &__link:link, &__link:visited {
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: $color-primary-1;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__button {
    background-color: $color-primary-4;
    border-radius: $default-font-size * 10;
    display: flex;
    align-items: center;
    transition: border-radius .5s $animation-easing;
  }

  &:hover {
    border: $default-font-size * .2 solid $color-primary-3;
    width: auto;
  }

  &:hover &__content {
    visibility: visible;
    opacity: 1;
    width: 100%;
    transform: translateX(0%);
  }
  &:hover &__button {
    border-radius: 0;
  }
  &:hover &__item {
    padding: $default-font-size * 1.375 $default-font-size * 2;
    // transform: translate(0, 0);
  }
}
