

.navbar{
  width: $navbar__logo-width * 1.2;
  // overflow: hidden;
  // grid-column: 1 / -1;
  border: $default-font-size * .2 solid transparent;
  border-radius: $default-font-size * 10;

  position: fixed;
  top: $default-font-size * 2;
  left: $default-font-size * 2;
  font-size: $default-font-size * 1.5;
  text-align: center;
  display: flex;
  align-items: center;

  transition: width 5s
  ;

  &__logo {
    width: $navbar__logo-width;
    border-radius: 50%;
    border: .2rem solid $color-primary-4;
    z-index: 10000;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  &__item {
    padding: 0;
    cursor: pointer;
    height: 100%;
    width: 0%;
    transition: 
      transform .2s ease,
      padding .2s .2s ease,
      width 2s ease,
    ;

    &:hover {
      transform: translateY(-$default-font-size * .2);
    }
    &[data-a] {
      background-color: green;
    }
  }

  &__link:link, &__link:visited {
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: $color-primary-4;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__button {
    width: auto;
    display: flex;
    align-items: center;
  }

  &__content {
    visibility: hidden;
    opacity: 0;
    width: 0%;
    transition: opacity .4s cubic-bezier(1,0,0,1),
                visibility .4s cubic-bezier(1,0,0,1),
                width .4s cubic-bezier(1,0,0,1)
    ;
  }
  
  &:hover {
    border: $default-font-size * .2 solid $color-primary-3;
    width: auto;
  }

  &:hover &__content {
    visibility: visible;
    opacity: 1;
    width: 100%
  }
  &:hover &__item, &:hover &__link {
    width: 100%
  }
  &:hover &__item {
    padding: $default-font-size * 1.375 $default-font-size * 2;
  }
}
