::-webkit-scrollbar {
	height: $default-font-size;
	width: $default-font-size;
	background: var(--color-primary-1);
}
::-webkit-scrollbar-thumb {
	background: var(--color-primary-4);
	// border-left: $default-font-size * .25 solid var(--color-primary-1);
	border: $default-font-size * 0.25 solid var(--color-primary-1);
	-webkit-border-radius: 0;
	border-radius: 0;
}
::-webkit-scrollbar-corner {
	background: var(--color-primary-4);
}
