// .diamond {
//   position: absolute;
//   height: var(--square-length);
//   width: var(--square-length);
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%) rotate(var(--diamond-rotation));
//   background-color: var(--color-primary-1);
//   box-shadow:
//     // 0 0 0 calc(var(--square-length) * 1) var(--color-primary-2),
//     0 0 0 calc(var(--square-length) * 2) var(--color-primary-3),
//     0 0 0 calc(var(--square-length) * 3) var(--color-primary-4),
//     0 0 0 calc(var(--square-length) * 4) var(--color-primary-1)
//   ;
// }

.square {
	// mix-blend-mode: darken;
	opacity: var(--square-outer-opacity);
	background-color: var(--color-primary-1);

	position: absolute;
	height: var(--square-length);
	width: var(--square-length);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: var(--translate-center) rotate(var(--diamond-rotation));

	&-inner {
		&-odd {
			opacity: calc(var(--square-outer-opacity) * var(--square-root-of-two));
			transform: var(--translate-center) rotate(0);
			// background-color: var(--color-primary-4);
		}
		&-even {
			// animation: square-even var(--square-animation-duration) infinite linear;
			opacity: calc(var(--square-outer-opacity) / 2);
			background-color: var(--color-primary-1);
		}
	}
	&-outer {
		height: calc(var(--square-length));
		width: calc(var(--square-length));
	}
	&-inner1 {
		// mix-blend-mode: color;
		// background-color: var(--color-primary-3);
		animation: square-odd var(--square-animation-duration) infinite linear;
		height: calc(var(--square-length) * var(--square-root-of-two));
		width: calc(var(--square-length) * var(--square-root-of-two));
	}
	&-inner2 {
		animation: square-even var(--square-animation-duration) infinite linear;

		height: calc(var(--square-length) / 2);
		width: calc(var(--square-length) / 2);
	}

	&-inner3 {
		animation: square-odd calc(var(--square-animation-duration) / 2) infinite
			linear;
		height: calc(var(--square-length) / 2 * var(--square-root-of-two));
		width: calc(var(--square-length) / 2 * var(--square-root-of-two));
	}
	&-inner4 {
		animation: square-even calc(var(--square-animation-duration) / 2) infinite
			linear;
		height: calc(var(--square-length) / 4);
		width: calc(var(--square-length) / 4);
	}
	&-inner5 {
		animation: square-even calc(var(--square-animation-duration) / 4) infinite
			linear;
		height: calc(var(--square-length) / 4 * var(--square-root-of-two));
		width: calc(var(--square-length) / 4 * var(--square-root-of-two));
	}
	&-inner6 {
		animation: square-even calc(var(--square-animation-duration) / 8) infinite
			linear;
		height: calc(var(--square-length) / 8);
		width: calc(var(--square-length) / 8);
	}
	&-inner7 {
		animation: square-even calc(var(--square-animation-duration) / 8) infinite
			linear;
		height: calc(var(--square-length) / 8 * var(--square-root-of-two));
		width: calc(var(--square-length) / 8 * var(--square-root-of-two));
	}
	&-inner8 {
		animation: square-even calc(var(--square-animation-duration) / 16) infinite
			linear;
		height: calc(var(--square-length) / 16);
		width: calc(var(--square-length) / 16);
	}
}

.circle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: var(--translate-center);
	background-color: var(--color-primary-4);
	border-radius: 1000px;

	&-1 {
		width: calc(var(--square-length));
		height: calc(var(--square-length));
	}
	&-2 {
		width: calc(var(--square-length) * var(--square-root-of-two));
		height: calc(var(--square-length) * var(--square-root-of-two));
	}
	&-3 {
		width: calc(var(--square-length) / 2);
		height: calc(var(--square-length) / 2);
	}
	&-4 {
		width: calc(var(--square-length) * var(--square-root-of-two) / 2);
		height: calc(var(--square-length) * var(--square-root-of-two) / 2);
	}
	&-5 {
		width: calc(var(--square-length) / 4);
		height: calc(var(--square-length) / 4);
	}
	&-6 {
		width: calc(var(--square-length) * var(--square-root-of-two) / 4);
		height: calc(var(--square-length) * var(--square-root-of-two) / 4);
	}
	&-7 {
		width: calc(var(--square-length) / 8);
		height: calc(var(--square-length) / 8);
	}
	&-8 {
		width: calc(var(--square-length) * var(--square-root-of-two) / 8);
		height: calc(var(--square-length) * var(--square-root-of-two) / 8);
	}
	&-9 {
		width: calc(var(--square-length) / 16);
		height: calc(var(--square-length) / 16);
	}

	// .line:nth-of-type(2), .square:nth-of-type(2) {
	//   height: calc(var(--square-length));
	//   width: calc(var(--square-length));
	//   background-color: green;
	// }
	// .line:nth-of-type(2), .square:nth-of-type(2) {
	//   width: calc(var(--square-length) * var(--square-root-of-two));
	//   height: calc(var(--square-length) * var(--square-root-of-two));
	// }
}
