.diamond {
  position: relative;
  height: 100vh;
  width: 100vw;

  &__left, &__right {
    width: 0;
    height: 0;
    border-style: solid;
    //top right bottom left (2 are the same length one is 0 and the 3rd is 2x the first 2;  the longest side is the base
    border-width: 75vh 0 75vh 75vw;
    //three are transparent and the longest side is the desired color
    border-color: transparent transparent transparent rgba($color-primary-4, .25);
    position: absolute;
    top: 50%;
    left: 50%;
  }

  &__left {
    transform: translate(-0%, -0%);
  }

  &__right {
    transform: translate(-100%, 0%) rotate(180deg);
  }
}