.github {
  font-family: 'Robot', sans-serif;
  font-size: $default-font-size * .85;
  position: absolute;
  top: $default-font-size * 2;
  right: $default-font-size * 2;
  display: flex;
  align-items: center;
  width: $default-font-size * 5;
  height: auto;

  &__link:link, &__link:visited {
    text-decoration: none;
    color: $color-primary-1;
    font-weight: 700;
  }

  &__svg {
    width: 100%;
    height: 8rem;
    fill: $color-primary-4;
  }
  &__text {
    position: absolute;
    left:50%;
    top:50%;

    &-top {
      transform: translate(-50%, -185%);
      font-weight: 300;
    }
    &-middle {
      transform: translate(-50%, -68%);
      font-weight: 300;
    }
    &-bottom {
      transform: translate(-50%, 75%);
      box-shadow: 0 $default-font-size * 2 $default-font-size * 3 rgba($color-primary-1, .2);
    }
  }

}