.github {
  font-family: $font-family-text;
  font-size: $default-font-size * .66;
  position: fixed;
  top: $default-font-size * .25;
  right: $default-font-size * .625;
  display: flex;
  align-items: center;
  width: $default-font-size * 5;
  height: auto;
  z-index: 10000;

  &__link:link, &__link:visited {
    text-decoration: none;
    color: $color-primary-1;
    font-weight: 700;
  }

  &__svg {
    width: 100%;
    height: $default-font-size * 5.875;
    fill: $color-primary-4;
    &:hover {
      fill: lighten($color-primary-4, $hover-color-change-amount);
    }
  }
  &__text {
    position: absolute;
    left:50%;
    // top:50%;

    &-top {
      transform: translate(-50%, 0%);
      top: $default-font-size * .4375;
    }
    &-middle {
      transform: translate(-50%, -68%);
      font-weight: 300;
    }
    &-bottom {
      transform: translate(-50%, 0%);
      bottom: $default-font-size * .5;
      box-shadow: 0 $default-font-size * 2 $default-font-size * 3 rgba($color-primary-1, .2);
    }
  }

  
}