.skills {
	font-size: $default-font-size;
	font-family: $font-family-text;
	// list-style: none;
	position: relative;

	&__section {
		&:first-child {
			margin: $default-font-size * 0.5 0;
		}

		&-content {
			height: 0;
			visibility: hidden;
			opacity: 0;
			transition: height $animation-duration * 2 $animation-easing-standard,
				opacity $animation-duration $animation-easing-standard;

			font-weight: 500;
			display: grid;
			grid-template-columns: max-content 1fr;
			grid-row-gap: $default-font-size * 0.125;
			grid-column-gap: $default-font-size * 1;
			grid-auto-rows: min-content;
			align-items: center;
			margin-left: $default-font-size;

			@include respond(nav-break) {
				grid-template-columns: 1fr;
			}
		}
		&-title {
			backface-visibility: hidden;

			user-select: none;
			cursor: pointer;
			display: flex;
			align-items: center;
			border-bottom: $default-font-size * 0.1 solid $color-primary-1;
			grid-column: 1/-1;
			font-size: $default-font-size * 1.5;
			font-weight: 300;

			transition: transform $animation-duration * 0.5 $animation-easing-standard,
				color $animation-duration * 1 $animation-easing-standard;

			&-svg {
				backface-visibility: hidden;

				fill: rgba($color-primary-1, 0.5);
				height: $default-font-size * 1.5;
				width: $default-font-size * 1.5;
				// margin-left: $default-font-size * .25;
				transition: fill $animation-duration * 1 $animation-easing-standard,
					transform $animation-duration * 0.25 $animation-easing-standard;
			}

			&:hover {
				transform: translateX($default-font-size * 0.5);
				font-weight: 500;
				color: darken($color-primary-1, $hover-color-change-amount / 4);
			}

			&.skills__section--open:hover {
				transform: translateX(0);

				font-weight: 300;
			}

			&:hover &-svg {
				fill: $color-primary-1;
			}
		}

		&-svg {
			margin-right: $default-font-size * 0.5;
			width: $default-font-size * 0.5;
			height: $default-font-size * 0.5;
			fill: $color-primary-1;
		}

		//Click Title Open Animation
		&--open + &-content {
			height: auto;
			visibility: visible;
			opacity: 1;
			margin-bottom: $default-font-size;
		}

		&--open svg {
			transform: rotate(90deg);
		}

		//Click Title Width Animation
		// &--open + &-content .skills__percent-outer {
		//   width: 100%;
		// }
		&--open + &-content .skills__percent-inner {
			opacity: 1;
		}

		& > *:nth-child(2n + 2) {
			margin-left: $default-font-size * 2;
		}
	}

	&__labels {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		align-items: flex-end;
		justify-items: center;
		align-items: center;
		z-index: 10;
		transform: translateY(33%);
		line-height: 1;

		@include respond(nav-break) {
			display: none;
		}

		& > span:first-child {
			justify-self: flex-start;
		}
		& > span:last-child {
			justify-self: flex-end;
		}
	}

	&__item {
		// list-style: none;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
		max-width: $default-font-size * 50;
		// margin-left: $default-font-size * 1;

		@include respond(nav-break) {
	    margin: $default-font-size * .5 0 $default-font-size * .1 0;
		}
	}

	&__title:link,
	&__title:visited,
	&__title {
		backface-visibility: hidden;
		position: relative;
		cursor: pointer;
		display: inline-block;
		text-decoration: none;
		border-bottom: $default-font-size * 0.1 solid $color-primary-1;
		color: $color-primary-1;

		&:hover {
			transform: scale($scale-amount);
		}
	}

	&__title--animating,
	&__title--animating:link,
	&__title--animating:visited {
		background: $skills-linear-gradient-original;
		background-size: 200% auto;
		background-clip: text;
		color: transparent;
		animation: animate-skills infinite 10s;
	}

	&-popup__link.skills__title--animating:link, &-popup__link.skills__title--animating:visited {
		display: flex;
	}

	&__title--animating.skills__section--open {
		animation: none;
		transform: translateX($default-font-size);
    font-weight: 700;
	}

	&__percent {
		&-outer {
			backface-visibility: hidden;

			position: relative;
			background-color: $color-primary-4;
			// width: 100%;
			height: $default-font-size;
			width: 0;
			transition: width $animation-duration * 2
				cubic-bezier(0.68, -0.33, 0.32, 1.33);

			&-left,
			&-center,
			&-right {
				z-index: 10000;
				position: absolute;
				background-color: $color-primary-1;
				width: $default-font-size * 0.1;
				height: $default-font-size;
			}

			&-left {
				top: 0;
				left: 0%;
				transform: translate(-50%, 0%);
			}
			&-center {
				bottom: 0;
				left: 50%;
				transform: translate(-50%, 0%);
			}
			&-right {
				bottom: 0;
				right: 0%;
				transform: translate(0%, 0%);
			}

			//Styling skills labels
			& .skills__labels {
				opacity: 0;
				display: grid;
				transform: translate(0);
				position: absolute;
				top:0;
				left:0;
				line-height: 1;
				height: 100%;
				width: 100%;
				padding: 0rem $default-font-size * .25;
				transition: 
					opacity $animation-duration * 1 $animation-easing-standard $animation-duration,
				;

				&:hover {
					@include respond(nav-break) {
						opacity: .5;
					}
				}
				&:hover + .skills__percent-inner {
					transform: scaleY(calc(5/3));
				}
			}
		}
		&-inner {
			position: relative;
			backface-visibility: hidden;
			box-shadow: 0 $default-font-size * .5 $default-font-size * 1 0 rgba($color-primary-1, 0.125);
			background-color: $color-primary-2;
			height: $default-font-size;
			opacity: 0;
			border: $default-font-size * 0.1 solid $color-primary-4;
			transition: opacity $animation-duration * 4 $animation-easing-standard
					$animation-duration * 1,
				transform $animation-duration * 2
					$animation-easing-standard-easeInOutBack;
			// &:hover {
			// }
			&:hover .skills__hours {
				transform: translate(-50%, -50%) scaleY(calc(3/5));
				opacity: 1;
			}
		}
	}

	&__hours {
		backface-visibility: hidden;
		opacity: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: $default-font-size;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		transition:
			opacity $animation-duration $animation-easing-standard $animation-duration * 1,
			transform $animation-duration $animation-easing-standard $animation-duration * 1,
		;
	}
}
