.skills-popup {
  color: $color-primary-1;
  position: fixed;
  top: 0;
  left: 0;
  font-size: $default-font-size * 1;
  backdrop-filter: blur(1px);
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  z-index: 100000000;
  transition: 
    opacity $animation-duration $animation-easing,
  ;
  
  &__content {
    overflow-y: auto;
    overflow-x: hidden;
    width: auto;
    max-width: 95vw;
    max-height: 100vh;
    background-color: $color-primary-4;
    padding: $default-font-size * 2 $default-font-size * 4;

    position: absolute;
    bottom: 0%;
    left: 2.5%;
    transform: translate(0%, 200%) ;
    border-radius: $default-font-size * .5;
    transition: 
      transform $animation-duration * .66 $animation-easing,
    ;
  }
  
  &__header {
    font-size: 3.2rem;
    font-weight: 100;
    text-align: center;
    &-skill {
      font-weight: 700;
    }
  }
  &__table {
    display: grid;
    grid-template-columns: min-content minmax(40rem, 1fr) repeat(3, min-content);
    grid-column-gap: $default-font-size * 2;
    grid-row-gap: $default-font-size * 1;
    &-header {
      font-weight: 700;
    }
    &__item {
      font-weight: 400;
      font-family: $font-family-text;
    }
  }

  &__url {
    display: flex;
    justify-content: center;
    // align-items: center;
    & svg {
      fill: $color-primary-1;
      height: $default-font-size * 2;
      width: $default-font-size * 2;
    }
  }

  &__close {
    cursor: pointer;
    fill: $color-primary-1;
    height: $default-font-size;
    width: $default-font-size;
    position: absolute;
    top: $default-font-size * .5;
    right: $default-font-size * .5;
    // top: 0;
    // right: 0;
    // transform: translate(50%, -50%);
    // background-color: $color-primary-4;
    // border-radius: 50%;
    

    &:hover {
      fill: $color-primary-2;
    }
  }
  
  &--active {
    opacity: 1;
    visibility: visible;

    & .skills-popup__content {
      transform: translate(-0%, -0%) ;
    }
  }
}