.skills-popup {
  // height: auto;
  // width: $default-font-size * 10;
  border-radius: $default-font-size * .5;
  font-size: $default-font-size * .9;
  background-color: $color-primary-2;
  transform: translate(-0%, -100%);
  max-height:$default-font-size * 20;
  overflow-y: auto;

  padding: $default-font-size * 2 $default-font-size * 4;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 100000000;
  transition: 
    opacity $animation-duration $animation-easing,
  
  ;
  &__header {
    
  }
  &__table {

  }
  &--active {
    opacity: 1;
    visibility: visible;
  }
  &:hover {
    opacity: 1;
    visibility: visible;
  }
}