.skills {
  font-size: $default-font-size;
  font-family: 'Roboto', sans-serif;
  // list-style: none;
  position: relative;  

  &__section {
    &:first-child{
      margin: $default-font-size * .5 0;
    }

    &-content{
      height: 0;
      visibility: hidden;
      opacity: 0;
      transition:
        height $animation-duration * 2 $animation-easing,
        opacity $animation-duration $animation-easing,

      ;

      font-weight: 500;
      display: grid;
      grid-template-columns: max-content 1fr;
      grid-row-gap: $default-font-size * .125;
      grid-column-gap: $default-font-size * 1;
      grid-auto-rows: min-content;
      align-items: center;
    }
    &-title {
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: text; /* Safari 'none' or 'text' here 'all' has issues*/
      -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none; /* Non-prefixed version, currently supported by Chrme, Opera and Firefox */
      cursor: pointer;
      display: inline-block;
      border-bottom:$default-font-size * .1 solid $color-primary-1;
      grid-column: 1/-1;
      font-size: $default-font-size * 1.5;
      font-weight: 300;

      transition:
        transform $animation-duration * .5 $animation-easing,
        color $animation-duration * 1 $animation-easing,
      ;
      &:hover {
        transform: translateX($default-font-size * .5);
        font-weight: 500;
        color: darken($color-primary-1, $hover-color-change-amount / 4);
      }
    }

    &-svg {
      margin-right: $default-font-size * .5;
      width: $default-font-size * .5;
      height: $default-font-size * .5;  
      fill: $color-primary-1;
    }
    
    &--open + &-content{
      height: auto;
      visibility: visible;
      opacity: 1;
      margin-bottom: $default-font-size;
    }

    & > *:nth-child(2n+2){
      margin-left: $default-font-size * 2;
    }
  }

  &__labels { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-end;
    justify-items: center;
    transform: translateY(33%);

    &>span:first-child {
      justify-self: flex-start;
    }
    &>span:last-child {
      justify-self: flex-end;
    }
  }

  &__item {
    // list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: $default-font-size * 50;
    margin-left: $default-font-size * 2;

  }
  &__title:link, &__title:visited {
    display: inline-block;
    text-decoration: none;
    border-bottom:$default-font-size * .1 solid $color-primary-1;
    color: $color-primary-1;

    &:hover {
      color: darken($color-primary-1, 15%);
      border-bottom:$default-font-size * .1 solid darken($color-primary-1, 15%);

    }
  }
  &__percent {
    &-outer {
      position: relative;
      background-color: $color-primary-4;
      // width: 100%;
      height: $default-font-size;

      &-left {
        background-color: $color-black;
        width: $default-font-size * .1;
        height: $default-font-size;
        position: absolute;
        top: 0;
        left: 0%;
        transform: translate(-50%, 0%);
      }
      &-center {
        background-color: $color-black;
        width: $default-font-size * .1;
        height: $default-font-size;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0%);
      }
      &-right {
        background-color: $color-black;
        width: $default-font-size * .1;
        height: $default-font-size;
        position: absolute;
        bottom: 0;
        right: 0%;
        transform: translate(0%, 0%);
      }
    }
    &-inner {
      background-color: $color-primary-1;
      height: $default-font-size;
    }
  }
  
  
}