.triangle-down {
  margin-left: $default-font-size * .5;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: $default-font-size * .33  0 $default-font-size * .33 $default-font-size * .75 ;
  border-color: transparent transparent transparent $color-primary-2 ;
}