/* ------------------------------------------------------------------------------------------------- */
:root {
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f3f1f1;
  --color-grey-light-3: #f1efef;
  --color-grey-light-1-rgb: 250, 249, 249;
  --color-grey-light-2-rgb: 243, 241, 241;
  --color-grey-light-3-rgb: 241, 239, 239;
  --color-black: #111111;
  --color-grey-20: #333333;
  --color-grey-40: #666666;
  --color-grey-60: #999999;
  --color-grey-80: #cccccc;
  --color-white: #ffffff;
  --color-black-rgb: 17, 17, 17;
  --color-grey-20-rgb: 51, 51, 51;
  --color-grey-40-rgb: 102, 102, 102;
  --color-grey-60-rgb: 153, 153, 153;
  --color-grey-80-rgb: 204, 204, 204;
  --color-white-rgb: 255, 255, 255;
  --color-primary-1: #28537b;
  --color-primary-1-light: #999999;
  --color-primary-2: #8ac6d0;
  --color-primary-3: #f4d262;
  --color-primary-4: #fbeeac;
  --color-primary-red: #7B2853;
  --color-primary-1-rgb: 40, 83, 123;
  --color-primary-1-light-rgb: 153, 153, 153;
  --color-primary-2-rgb: 138, 198, 208;
  --color-primary-3-rgb: 244, 210, 98;
  --color-primary-4-rgb: 251, 238, 172;
  --color-primary-red-rgb: 123, 40, 83;
  --color-primary-resume-1: #28537b;
  --color-primary-resume-2: #8ac5d0;
  --color-primary-resume-3: #f4d262;
  --color-primary-resume-4: #fbeeac;
  --color-primary-resume-red: #7B2853;
  --color-primary-resume-1-rgb: 40, 83, 123;
  --color-primary-resume-2-rgb: 138, 197, 208;
  --color-primary-resume-3-rgb: 244, 210, 98;
  --color-primary-resume-4-rgb: 251, 238, 172;
  --color-primary-resume-red-rgb: 123, 40, 83;
  --color-primary-bridge-2: #f59229;
  --color-primary-bridge-4: #f5f1db;
  --color-primary-bridge-3: #e4e0c9;
  --color-primary-bridge-1: #00406b;
  --color-primary-bridge-red: #6b0700;
  --color-primary-bridge-2-rgb: 245, 146, 41;
  --color-primary-bridge-4-rgb: 245, 241, 219;
  --color-primary-bridge-3-rgb: 228, 224, 201;
  --color-primary-bridge-1-rgb: 0, 64, 107;
  --color-primary-bridge-red-rgb: 107, 7, 0;
  --color-primary-downloader-1: #f9f7f7;
  --color-primary-downloader-2: #dbe2ef;
  --color-primary-downloader-3: #3f72af;
  --color-primary-downloader-4: #112d4e;
  --color-primary-downloader-red: #b05840;
  --color-primary-downloader-1-rgb: 249, 247, 247;
  --color-primary-downloader-2-rgb: 219, 226, 239;
  --color-primary-downloader-3-rgb: 63, 114, 175;
  --color-primary-downloader-4-rgb: 17, 45, 78;
  --color-primary-downloader-red-rgb: 176, 88, 64;
  --color-primary-playlist-syncer-1: #ffc996;
  --color-primary-playlist-syncer-3: #9f5f80;
  --color-primary-playlist-syncer-2: #ff8474;
  --color-primary-playlist-syncer-4: #583d72;
  --color-primary-playlist-syncer-red: #ff8474;
  --color-primary-playlist-syncer-1-rgb: 255, 201, 150;
  --color-primary-playlist-syncer-3-rgb: 159, 95, 128;
  --color-primary-playlist-syncer-2-rgb: 255, 132, 116;
  --color-primary-playlist-syncer-4-rgb: 88, 61, 114;
  --color-primary-playlist-syncer-red-rgb: 255, 132, 116;
  --color-primary-autobid-1: #e6e6e6;
  --color-primary-autobid-3: #532e1c;
  --color-primary-autobid-2: #c5a880;
  --color-primary-autobid-4: #0f0f0f;
  --color-primary-autobid-red: #541c2f;
  --color-primary-autobid-1-rgb: 230, 230, 230;
  --color-primary-autobid-3-rgb: 83, 46, 28;
  --color-primary-autobid-2-rgb: 197, 168, 128;
  --color-primary-autobid-4-rgb: 15, 15, 15;
  --color-primary-autobid-red-rgb: 84, 28, 47;
  --color-primary-replay-1: #28537b;
  --color-primary-replay-2: #8ac6d0;
  --color-primary-replay-3: #f4d262;
  --color-primary-replay-4: #fbeeac;
  --color-primary-replay-red: #7B5028;
  --color-primary-replay-1-rgb: 40, 83, 123;
  --color-primary-replay-2-rgb: 138, 198, 208;
  --color-primary-replay-3-rgb: 244, 210, 98;
  --color-primary-replay-4-rgb: 251, 238, 172;
  --color-primary-replay-red-rgb: 123, 80, 40;
  --color-primary-about-1: #161616;
  --color-primary-about-2: #c84b31;
  --color-primary-about-3: #31C9B0;
  --color-primary-about-4: #ecdbba;
  --color-primary-about-red: #c84b31;
  --color-primary-about-1-rgb: 22, 22, 22;
  --color-primary-about-2-rgb: 200, 75, 49;
  --color-primary-about-3-rgb: 49, 201, 176;
  --color-primary-about-4-rgb: 236, 219, 186;
  --color-primary-about-red-rgb: 200, 75, 49;
  --color-primary-the-big-five-1: #7D5A50;
  --color-primary-the-big-five-2: #B4846C;
  --color-primary-the-big-five-3: #E5B299;
  --color-primary-the-big-five-4: #FCDEC0;
  --color-primary-the-big-five-red: #111111;
  --color-primary-the-big-five-1-rgb: 125, 90, 80;
  --color-primary-the-big-five-2-rgb: 180, 132, 108;
  --color-primary-the-big-five-3-rgb: 229, 178, 153;
  --color-primary-the-big-five-4-rgb: 252, 222, 192;
  --color-primary-the-big-five-red-rgb: 17, 17, 17;
}

:root {
  scroll-behavior: smooth;
  scroll-padding-top: 10.5rem;
  --scrollbar-width: 1.4rem;
  --default-font-size: 1.4rem;
  --page-nav-min-column-width: calc(1.4rem * 9.5375);
  --site-nav-button-width: 7.5vw;
  --site-nav-item-gradient-direction: 45deg;
  --site-nav-linear-gradient: linear-gradient(
  	to right,
  	var(--color-primary-1) 0%,
  	var(--color-primary-1) 0%,
  	var(--color-primary-4) 0%,
  	var(--color-primary-4) 100%
  );
  --site-nav-active-scale-amount: 1;
  --body-background: linear-gradient(
  	to left,
  	var(--color-primary-1),
  	var(--color-primary-1)
  );
  --small-font-max-width: 29.3125em;
  --nav-break-max-width: 35.0625em;
  --phone-max-width: 40.9375em;
  --tab-port-max-width: 52.6875em;
  --tab-land-max-width: 58.5625em;
  --big-desktop-min-width: 112.5em;
  --nav-switch-width: 68.75em;
  --larger-than-nav-switch: calc(68.75em + 0.001em);
  --header-toggler-svg-rotation: 180deg;
  --header-toggler-translate-x: 0;
  --header-toggler-translate-y: 0;
  --header-height: 8.75rem;
  --header-toggler-height: 12.75rem;
  --header-toggler-width: 4rem;
  --header-inner-width-nav-switch: 100%;
  --navbar-logo-width: 6.6752rem;
  --page-padding-top: var(--header-height);
  --bridge-gradient-direction: to right;
  --bridge-arrow-button-fill-hover-nav-switch: var(--color-primary-bridge-4);
  --bridge-arrow-button-fill-hover: var(--color-primary-bridge-2);
  --bridge-arrow-button-fill-left: var(--color-primary-bridge-1);
  --bridge-arrow-button-fill-right: var(--color-primary-bridge-1);
  --bridge-arrow-button-left-fill-hover: var(--color-primary-bridge-2);
  --bridge-arrow-button-right-fill-hover: var(--color-primary-bridge-2);
  --bridge-arrow-button-rotation: 90deg;
  --bridge-arrow-hover-scale-amount: 1.1;
  --bridge-hero-rotate-heading-1: 0deg;
  --bridge-hero-rotate-heading-2: 0deg;
  --bridge-hero-rotate-heading-3: 0deg;
  --bridge-hero-rotate-heading-4: 0deg;
  --bridge-hero-translate-heading-1: (-50%, calc(-50% - 50vh));
  --bridge-hero-translate-heading-2: (calc(-50% - 50vw), -50%);
  --bridge-hero-translate-heading-3: (calc(50% + 50vw), -50%);
  --bridge-hero-translate-heading-4: (-50%, calc(50% + 50vh));
  --bridge-link-svg-fill: var(--color-primary-bridge-4);
  --bridge-link-svg-fill-hover: var(--color-primary-bridge-1);
  --bridge-link-text-fill: var(--color-primary-bridge-1);
  --bridge-link-text-fill-hover: var(--color-primary-bridge-4);
  --bridge-page-nav-link-color-hover: var(--color-primary-1);
  --bridge-page-nav-link-color: var(--color-primary-4);
  --bridge-section-height: 0px;
  --bridge-section-padding: 0;
  --card-playing-transform: translate3d(0, 0, 0) scale(1);
  --card-scale-amount: 1;
  --hero-more-y-translate: -50%;
  --carousel-grid-width: calc((600px - 2 * 5.6rem) / 4 + 0.3rem);
  --diamond-fractal-animation-duration: 120s;
  --diamond-fractal-length: calc(20vw * var(--aspect-ratio-factor));
  --aspect-ratio-factor: calc(16 / 9);
  --diamond-fractal-rotation: 45deg;
  --translate-center: translate3d(-50%, -50%, 0);
  --square-root-of-two: 0.707106781;
  --diamond-outer-opacity: 0.05;
  --audio-player-toggler-rotation-closed: 270deg;
  --audio-player-toggler-rotation-open: 90deg;
}
@media only screen and (max-width: 68.75em) {
  :root {
    --bridge-gradient-direction: to bottom;
  }
}

@keyframes translateToZero {
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes black-hole {
  0% {
    transform: scale(1) rotate(0deg);
  }
  100% {
    transform: scale(0) rotate(720deg);
  }
}
@keyframes black-hole-background {
  0% {
    background-color: var(--color-primary-1);
  }
  100% {
    background-color: #111111;
  }
}
@keyframes square-even {
  0% {
    transform: var(--translate-center) rotate(0deg);
  }
  100% {
    transform: var(--translate-center) rotate(360deg);
  }
}
@keyframes square-odd {
  0% {
    transform: var(--translate-center) rotate(0deg);
  }
  100% {
    transform: var(--translate-center) rotate(-360deg);
  }
}
@keyframes bridge-hero-windshield {
  0% {
    clip-path: polygon(1px 100%, 1px 0, 100% 100%, 100% 0%);
  }
  50% {
    clip-path: polygon(1px 100%, 100% 100%, 1px 0, 100% 0%);
  }
  100% {
    clip-path: polygon(1px 100%, 1px 0, 100% 100%, 100% 0%);
  }
}
@keyframes bridge-hero-windshield-two {
  0% {
    clip-path: polygon(1px 100%, 1px 0, calc(1px + 1px) 1000%, 200% 100%, 100% 0%, 1px 0);
  }
  50% {
    clip-path: polygon(1px 100%, 1px 0, 100% 1px, 200% 100%, 100% 0%, 1px 0);
  }
  100% {
    clip-path: polygon(1px 100%, 1px 0, calc(1px + 1px) 1000%, 200% 100%, 100% 0%, 1px 0);
  }
}
@keyframes bridge-more {
  0% {
    transform: translate3d(-50%, -50%, 0) scale(1);
  }
  50% {
    transform: translate3d(-50%, -50%, 0) scale(1.5);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) scale(1);
  }
}
@keyframes bridge-hero-hover {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  17% {
    transform: translate3d(-50%, -50%, 0) rotate(2.5deg);
  }
  33% {
    transform: translate3d(-50%, -50%, 0) rotate(-2.5deg);
  }
  50% {
    transform: translate3d(-50%, -50%, 0) rotate(2.5deg);
  }
  60% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  85% {
    transform: translate3d(-50%, -50%, 0) rotate(2.5deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
}
@keyframes color-change {
  0% {
    opacity: 1;
    fill: var(--color-primary-1);
  }
  33% {
    fill: var(--color-primary-2);
  }
  66% {
    fill: var(--color-primary-4);
  }
  100% {
    fill: var(--color-primary-1);
    opacity: 1;
  }
}
@keyframes text-bounce {
  0% {
    letter-spacing: 0;
  }
  30% {
    letter-spacing: 0.28rem;
  }
  90% {
    letter-spacing: 0;
  }
  100% {
    letter-spacing: 0;
  }
}
@keyframes text-bounce-mobile {
  0% {
    letter-spacing: 0;
  }
  30% {
    letter-spacing: 0.112rem;
  }
  90% {
    letter-spacing: 0;
  }
  100% {
    letter-spacing: 0;
  }
}
@keyframes animate-skills {
  0% {
    background-position: 200% center;
  }
}
@keyframes animate-skills-both {
  0% {
    background-position: 200% center;
  }
  30% {
    background-position: 85% center;
  }
  100% {
    background-position: 275% center;
  }
}
@keyframes animate-skills-both-reverse {
  0% {
    background-position: -110% center;
  }
  30% {
    background-position: 0% center;
  }
  100% {
    background-position: -175% center;
  }
}
@keyframes ocean-sky-fading {
  0% {
    background-color: rgba(var(--color-black-rgb), 0);
  }
  30% {
    background-color: rgba(var(--color-black-rgb), 0.05);
  }
  90% {
    background-color: rgba(var(--color-black-rgb), 0);
  }
  100% {
    background-color: rgba(var(--color-black-rgb), 0);
  }
}
/* backgrounds by SVGBackgrounds.com, bgjar.com, svgeez.com, and heropatterns.com */
/* global reset;  box-sizing is set on body and set to inherit on all other elements */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 62.5% of the browser supplied font-size is usually 16px */
  /* bad practice to declarer px font-size here as it removes users ability to set font-size in browser */
  font-size: 62.5%;
  box-sizing: border-box;
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}
@media only screen and (max-width: 58.5625em) {
  html {
    font-size: 66%;
  }
}
@media only screen and (max-width: 52.6875em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 29.3125em) {
  html {
    font-size: 2.33vmin;
  }
}

/* everything related to font goes in body */
body {
  font-weight: 400;
  line-height: 1.5;
  font-family: "Merriweather", serif;
  color: var(--color-primary-1);
  overflow-x: hidden;
}

.body-background {
  background-image: var(--body-background);
}

.root {
  display: flex;
}

::selection {
  background-color: var(--color-primary-1);
  color: var(--color-primary-4);
}

.heading {
  font-family: "Merriweather", serif;
}
.heading--one {
  font-size: 4.272625rem;
  font-weight: 100;
}
.heading--two {
  font-size: 3.41775rem;
  font-weight: 100;
}
.heading--three {
  font-size: 2.734375rem;
  font-weight: 100;
}
.heading--four {
  font-size: 2.1875rem;
}
.heading--five {
  font-size: 1.75rem;
}
.heading--six {
  font-size: 1.4rem;
}
.heading--seven {
  font-size: 1.12rem;
}
.heading--eight {
  font-size: 0.896rem;
}
.heading--nine {
  font-size: 0.716625rem;
}

.paragraph {
  font-family: "Open Sans", sans-serif;
  margin-top: 1.4rem;
}
.paragraph--one {
  font-size: 3.41775rem;
}
.paragraph--two {
  font-size: 2.734375rem;
}
.paragraph--three {
  font-size: 2.1875rem;
}
.paragraph--four {
  font-size: 1.75rem;
}
.paragraph--five {
  font-size: 1.4rem;
}
.paragraph--six {
  font-size: 1.12rem;
}
.paragraph--seven {
  font-size: 0.896rem;
}
.paragraph--eight {
  font-size: 0.716625rem;
}

.code {
  background: #111;
  box-shadow: 0 0 10px #08c, inset 0 0 10px #000;
  border: 0;
  border-radius: 9px;
  color: #fff !important;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: 1.4rem;
}
@media only screen and (max-width: 52.6875em) {
  .u-margin-bottom-small {
    margin-bottom: 0.7rem;
  }
}

.u-margin-bottom-medium {
  margin-bottom: 3.5rem;
}
@media only screen and (max-width: 52.6875em) {
  .u-margin-bottom-medium {
    margin-bottom: 1.75rem;
  }
}

.u-margin-bottom-large {
  margin-bottom: 7rem;
}
@media only screen and (max-width: 52.6875em) {
  .u-margin-bottom-large {
    margin-bottom: 3.5rem;
  }
}

.u-margin-bottom-huge {
  margin-bottom: 8.4rem;
}
@media only screen and (max-width: 52.6875em) {
  .u-margin-bottom-huge {
    margin-bottom: 4.2rem;
  }
}

.u-margin-top-small {
  margin-top: 1.4rem !important;
}
@media only screen and (max-width: 52.6875em) {
  .u-margin-top-small {
    margin-top: 1.4rem !important;
  }
}

.u-margin-top-medium {
  margin-top: 3.5rem !important;
}
@media only screen and (max-width: 52.6875em) {
  .u-margin-top-medium {
    margin-top: 1.75rem !important;
  }
}

.u-margin-top-large {
  margin-top: 7rem !important;
}
@media only screen and (max-width: 52.6875em) {
  .u-margin-top-large {
    margin-top: 3.5rem !important;
  }
}

.u-margin-top-huge {
  margin-top: 8.4rem !important;
}
@media only screen and (max-width: 52.6875em) {
  .u-margin-top-huge {
    margin-top: 4.2rem !important;
  }
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.text-align-center {
  text-align: center !important;
}

.flex {
  display: flex !important;
}

.align-center {
  align-items: center !important;
}

.justify-content-center {
  justify-content: center !important;
}

.unclickable {
  pointer-events: none !important;
  overflow: hidden !important;
}
.unclickable .navbar__dropdown {
  height: 0 !important;
}
.unclickable .navbar__button {
  box-shadow: none;
}
.unclickable .navbar__item {
  box-shadow: none;
}

.transparent {
  background-color: transparent !important;
  background-image: none !important;
  border: none !important;
  box-shadow: none !important;
}

.overflow--hidden {
  overflow: hidden !important;
}
@media only screen and (max-width: 68.75em) {
  .overflow--hidden {
    overflow: visible !important;
  }
}
.overflow--hidden:not(.navbar--active, .navbar--isAnimating) {
  overflow: visible !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.sliding {
  transition: none !important;
}

.transition-none {
  transition: none !important;
}

.visible {
  visibility: visible !important;
}

.hidden, .sliding {
  visibility: hidden !important;
  opacity: 0 !important;
}

.full-opacity, .visible {
  opacity: 1 !important;
}

.full-screen {
  position: fixed !important;
  left: 0 !important;
  top: 0 !important;
  width: 100vw !important;
  height: 87.5vh !important;
  z-index: 10000 !important;
  border: none !important;
  border-radius: 0 !important;
  object-fit: contain !important;
  object-position: center !important;
  transition: none !important;
}

.carousel-transition {
  transition: transform 0.25s ease !important;
}

.d-none {
  display: none !important;
}

.z-index-navbar {
  z-index: 5 !important;
}
@media only screen and (max-width: 68.75em) {
  .z-index-navbar {
    z-index: 7 !important;
  }
}

.z-index-content {
  z-index: 6 !important;
}

.z-index-highest {
  z-index: 105 !important;
}

.scale-1 {
  transform: scale(1) !important;
}

.transform-none, .full-screen {
  transform: translate3d(0, 0, 0) !important;
}

.transform-removed {
  transform: none !important;
}

.margin-0 {
  margin: 0 !important;
}

.margin-top-0 {
  margin-top: 0 !important;
}

.margin-top-1 {
  margin-top: 1.4rem !important;
}

.margin-top-2 {
  margin-top: 2.8rem !important;
}

.margin-left-3 {
  margin-left: 4.2rem !important;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.margin-bottom-1 {
  margin-bottom: 1.4rem !important;
}

.margin-bottom-2 {
  margin-bottom: 2.8rem !important;
}

.padding-0 {
  padding: 0 !important;
}

.padding-top-0 {
  padding-top: 0 !important;
}

.padding-top-1 {
  padding-top: 1.4rem !important;
}

.padding-top-2 {
  padding-top: 2.8rem !important;
}

.padding-bottom-0 {
  padding-bottom: 0 !important;
}

.padding-bottom-1 {
  padding-bottom: 1.4rem !important;
}

.padding-bottom-2 {
  padding-bottom: 2.8rem !important;
}

.fill-red {
  --opacity: calc(1 * .9);
  fill: rgba(var(--color-primary-red-rgb), var(--opacity)) !important;
}
.fill-red:hover {
  --opacity: 1;
}

.fill-primary-1 {
  fill: rgba(var(--color-primary-1-rgb), 1) !important;
}

.fill-primary-2 {
  fill: rgba(var(--color-primary-2-rgb), 1) !important;
}

.fill-primary-3 {
  fill: rgba(var(--color-primary-3-rgb), 1) !important;
}

.fill-primary-4 {
  fill: rgba(var(--color-primary-4-rgb), 1) !important;
}

.navbar {
  width: var(--site-nav-button-width);
  --site-nav-button-width: 7.5vw;
  border-radius: 14rem 0 0 14rem;
  position: relative;
  font-size: 2.1875rem;
  text-align: center;
  display: flex;
  grid-template-columns: min-content repeat(4, 1fr);
  align-items: center;
}
@media only screen and (max-width: 68.75em) {
  .navbar {
    --site-nav-button-width: auto;
    align-items: flex-start;
    border-radius: 0;
  }
  .navbar.overflow--hidden.navbar.navbar--active {
    overflow: visible !important;
  }
}
.navbar__background {
  position: fixed;
  top: 0;
  left: 0;
  width: 200vw;
  height: 200vh;
  visibility: hidden;
  z-index: -1;
}
.navbar__menu {
  width: 6.6752rem;
  height: 6.6752rem;
  position: relative;
}
@media only screen and (max-width: 68.75em) {
  .navbar__menu {
    width: 6.6752rem;
    height: 6.6752rem;
  }
}
.navbar__menu-bar, .navbar__menu-bar::before, .navbar__menu-bar::after {
  background-color: var(--color-primary-1);
  height: 0.66752rem;
  width: 3.3376rem;
}
@media only screen and (max-width: 68.75em) {
  .navbar__menu-bar, .navbar__menu-bar::before, .navbar__menu-bar::after {
    height: 0.7rem;
    width: 3.5rem;
  }
}
.navbar__menu-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navbar__menu-bar, .navbar__menu-bar::before, .navbar__menu-bar::after {
  transition: transform 0.25s ease, width 0.25s ease;
}
.navbar__menu-bar::before, .navbar__menu-bar::after {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
}
.navbar__menu-bar::before {
  transform: translate(-50%, calc((-0.66752rem) - 50%));
}
.navbar__menu-bar::after {
  transform: translate(-50%, calc((0.66752rem) + 50%));
}
.navbar__menu:hover .navbar__menu-bar::before {
  transform: translate(-50%, calc(-6.6752rem * 0.15 - 50%));
}
.navbar__menu:hover .navbar__menu-bar::after {
  transform: translate(-50%, calc(6.6752rem * 0.15 + 50%));
}
.navbar.navbar--active:not(.closed) .navbar__menu-bar::before {
  transform: rotate(105deg) translate(0.3537856rem, 2.536576rem);
}
@media only screen and (max-width: 68.75em) {
  .navbar.navbar--active:not(.closed) .navbar__menu-bar::before {
    transform: rotate(105deg) translate(0.39998rem, 2.8rem);
  }
}
.navbar.navbar--active:not(.closed) .navbar__menu-bar {
  width: calc(6.6752rem * 0.25);
}
.navbar.navbar--active:not(.closed) .navbar__menu-bar::after {
  transform: rotate(-105deg) translate(0rem, -0.66752rem);
}
@media only screen and (max-width: 68.75em) {
  .navbar.navbar--active:not(.closed) .navbar__menu-bar::after {
    transform: rotate(-105deg) translate(-0.105rem, -0.7rem);
  }
}
.navbar__content {
  position: relative;
  z-index: 10;
  visibility: hidden;
  width: 100%;
  transform-origin: left;
  transform: translateX(-100%);
  transition: visibility 0.5s ease, transform 0.5s ease;
}
@media only screen and (max-width: 68.75em) {
  .navbar__content {
    transform: translateY(0);
    position: absolute;
    transform-origin: top;
    top: calc(8.75rem - 1.4rem);
    left: -1px;
    display: flex;
    overflow: visible !important;
    flex-direction: column;
    width: calc(100vw - 1.862rem);
  }
}
.navbar__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  backface-visibility: hidden;
  transform-origin: top left;
  transition: transform 0.25s ease, opacity 0.375s ease, width 0.25s cubic-bezier(1, 0, 0, 1) 0.25s;
  --min-column-width: 23.5375rem;
}
@media only screen and (max-width: 68.75em) {
  .navbar__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--min-column-width), 1fr));
    column-gap: 1px;
    row-gap: 1px;
    flex-direction: column;
    opacity: 0;
    /* this add the width part of the animation */
    /* width: $default-font-size * 1; */
    transform: scale(0);
  }
}
@media only screen and (max-width: 23.125em) {
  .navbar__list {
    --min-column-width: 11.2rem;
  }
}
.navbar__list .navbar__item:first-child {
  /* border-radius: $default-font-size * 0.5 0 0 $default-font-size * 0.5; */
  border-radius: 0;
}
@media only screen and (max-width: 68.75em) {
  .navbar__list > .navbar__item:nth-of-type(3) {
    order: 1;
    border-radius: 0 0 1.4rem 1.4rem;
    z-index: 10;
  }
}
.navbar__list .navbar__dropdown .navbar__item {
  margin-left: 0;
}
.navbar__item {
  border-left: 0.28rem solid var(--color-primary-1);
  position: relative;
  background-color: var(--color-primary-4);
  cursor: pointer;
  height: 100%;
  width: 100%;
  transition: transform 0.125s ease, background-color 0.125s ease;
}
.navbar__item .triangle-down {
  transition: transform 0.25s ease;
}
.navbar__item:hover {
  transition: background-image 0.5s cubic-bezier(1, 0, 0, 1);
}
.navbar__item:hover > .navbar__link-image {
  opacity: 0.099;
}
.navbar__item:not(.navbar__dropdown-container):hover {
  z-index: 10000;
  transform: translateY(-0.28rem);
  background: rgba(var(--color-primary-1-rgb), 0.95);
  box-shadow: 0px 10px 10px rgba(17, 17, 17, 0.5);
  transition: background 0.1666666667s ease, transform 0.25s ease, box-shadow 0.25s ease;
}
.navbar__item:not(.navbar__dropdown-container):hover a {
  color: rgba(var(--color-primary-4-rgb), 0.95);
  transition: color 0.25s ease;
}
.navbar__item:not(.navbar__dropdown-container):hover + * {
  border-top: 0.28rem solid transparent !important;
}
@media only screen and (max-width: 68.75em) {
  .navbar__item:not(.navbar__dropdown-container):hover + * {
    border-top: 1px solid var(--color-primary-1) !important;
  }
}
.navbar__item:not(.navbar__dropdown-container) img,
.navbar__item .navbar__link > img {
  pointer-events: none;
  width: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.navbar__item .navbar__link > img {
  height: 100%;
}
.navbar__item:hover .triangle-down {
  transform: rotate(90deg);
}
.navbar__item:last-child, .navbar__item:first-child {
  border-radius: 0 10rem 10rem 0;
}
@media only screen and (max-width: 68.75em) {
  .navbar__item:last-child, .navbar__item:first-child {
    border-radius: 0;
  }
}
.navbar div.navbar__link {
  cursor: auto;
}
.navbar__link, .navbar__link:link, .navbar__link:visited {
  padding: 1.7878rem 0;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: var(--color-primary-1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  transition: padding 0.5s ease, opacity 0.25s ease 0.25s;
}
@media only screen and (max-width: 68.75em) {
  .navbar__link, .navbar__link:link, .navbar__link:visited {
    flex-direction: column;
    position: relative;
    z-index: 10000;
    opacity: 0;
  }
}
@media only screen and (max-width: 68.75em) {
  .navbar--done .navbar__item {
    border: 1px solid var(--color-primary-1);
  }
}
.navbar__button {
  border-style: double;
  border: 1px solid var(--color-primary-1);
  cursor: pointer;
  z-index: 100;
  border: 1px solid transparent;
  background-color: var(--color-primary-4);
  border-radius: 14rem;
  display: flex;
  align-items: center;
  transition: border-radius 0.75s ease;
}
@media only screen and (max-width: 68.75em) {
  .navbar__button {
    border-radius: 1.4rem;
    border: none;
    transition: border-radius 0.25s ease;
  }
}
.navbar__button:hover {
  background-color: var(--color-primary-3);
}
.navbar__dropdown {
  z-index: -100000;
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  height: auto;
  list-style: none;
  display: flex;
  flex-direction: column;
  transform-origin: bottom;
  transform: translateY(-100%) scaleY(1);
  transition: transform 0.125s ease-in;
}
@media only screen and (hover: none) {
  .navbar__dropdown {
    visibility: visible;
    opacity: 1;
    height: auto;
    transform: translateY(0%) scale(1);
  }
}
@media only screen and (max-width: 68.75em) {
  .navbar__dropdown {
    position: relative;
    height: 0;
    transform: translateY(0%) scale(0);
    top: 0;
  }
}
.navbar__dropdown-group {
  display: flex;
  align-items: center;
}
.navbar__dropdown .navbar__item {
  opacity: 0;
  border: none;
  transform-origin: top;
  transition: padding 0.5s ease, opacity 0.5s ease, transform 0.125s ease, background-color 0.125s ease;
}
@media only screen and (max-width: 68.75em) {
  .navbar__dropdown .navbar__item {
    border-top: 0.14rem solid transparent;
    border-bottom: 0.14rem solid var(--color-primary-1);
    border-left: 0.14rem solid var(--color-primary-1);
    border-right: 0.14rem solid var(--color-primary-1);
    margin-top: 0;
    width: 75%;
    align-self: center;
  }
}
.navbar__dropdown .navbar__item:first-child {
  border-radius: 0;
}
@media only screen and (max-width: 68.75em) {
  .navbar__dropdown .navbar__item:first-child {
    border-top: 0.14rem solid var(--color-primary-1);
    margin-top: 1.05rem;
  }
}
.navbar__dropdown .navbar__item:last-child {
  border-radius: 0 0 1.4rem 1.4rem;
}
@media only screen and (max-width: 68.75em) {
  .navbar__dropdown .navbar__item:last-child {
    border-radius: 0 0 0.7rem 0.7rem;
  }
}
.navbar__dropdown .navbar__item:hover {
  transform: translateX(0.56rem) !important;
  box-shadow: -10px 0 10px rgba(17, 17, 17, 0.5);
}
@media only screen and (max-width: 68.75em) {
  .navbar__dropdown .navbar__item:hover, .navbar__dropdown .navbar__item:hover + li {
    border-top: 0.14rem solid var(--color-primary-1);
  }
}
.navbar__dropdown .navbar__link:link, .navbar__dropdown .navbar__link:visited {
  padding: 0;
}
.navbar__dropdown-container {
  grid-column: 1/-1;
}
.navbar__dropdown-container:hover {
  transform: translate(0);
}
.navbar__dropdown-container:hover .navbar__dropdown, .navbar__dropdown .navbar__item:hover .navbar__dropdown {
  visibility: visible;
  opacity: 1;
  height: auto;
  transform: translateY(0px) scale(1);
  /* background: var(--color-primary-4);
  border-radius: 0 0 $default-font-size $default-font-size; */
}
@media only screen and (hover: none) {
  .navbar__dropdown-container .navbar__dropdown, .navbar__dropdown .navbar__item .navbar__dropdown, .navbar__dropdown .navbar__item {
    visibility: visible;
    opacity: 1;
    height: auto;
    transform: translateY(0px) scale(1);
  }
}
.navbar__dropdown-container:hover .navbar__dropdown .navbar__item {
  --color: var(--color-primary-1);
  --size: 0.28rem;
  height: 100%;
  opacity: 1;
  border-top: var(--size) solid var(--color);
}
.navbar__dropdown-container:hover .navbar__dropdown .navbar__item:hover {
  --color: transparent;
}
@media only screen and (max-width: 68.75em) {
  .navbar__dropdown-container:hover .navbar__dropdown .navbar__item {
    width: 90%;
    max-width: 42rem;
    --size: 0px;
  }
  .navbar__dropdown-container:hover .navbar__dropdown .navbar__item:first-child {
    --size: 1px;
  }
}
.navbar__dropdown-container:hover .navbar__dropdown .navbar__link {
  padding: 1.7878rem 2.8rem;
}
.navbar.navbar--isAnimating, .navbar.navbar--active {
  --site-nav-button-width: auto;
}
.navbar.navbar--active .navbar__link, .navbar.navbar--active .navbar__link:link, .navbar.navbar--active .navbar__link:visited {
  opacity: 1;
}
.navbar.navbar--active .navbar__list {
  opacity: 1;
  width: 100%;
  transform: scale(1);
}
.navbar.navbar--active .navbar__content {
  visibility: visible;
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}
@media only screen and (max-width: 68.75em) {
  .navbar.navbar--active .navbar__content {
    width: calc(100vw - 1.862rem);
    padding-right: 0.7rem;
    /* width: 100vw; */
    position: absolute;
    z-index: 100;
  }
}
@media only screen and (hover: none) {
  .navbar.navbar--active .navbar__content {
    width: calc(100vw - 1.4rem / 2);
    padding-right: 0;
  }
}
.navbar.navbar--active:not(.closed) .navbar__button {
  border-radius: 14rem 0rem 0rem 14rem;
}
@media only screen and (max-width: 68.75em) {
  .navbar.navbar--active:not(.closed) .navbar__button {
    border-radius: 1.4rem 1.4rem 0rem 0rem;
  }
}
.navbar.navbar--active:not(.closed) .navbar__button:hover .navbar__menu-bar::before {
  transform: rotate(135deg) translate(1.134784rem, 1.134784rem);
}
@media only screen and (max-width: 68.75em) {
  .navbar.navbar--active:not(.closed) .navbar__button:hover .navbar__menu-bar::before {
    transform: rotate(135deg) translate(1.19rem, 1.19rem);
  }
}
.navbar.navbar--active:not(.closed) .navbar__button:hover .navbar__menu-bar::after {
  transform: rotate(-135deg) translate(1.134784rem, -1.134784rem);
}
@media only screen and (max-width: 68.75em) {
  .navbar.navbar--active:not(.closed) .navbar__button:hover .navbar__menu-bar::after {
    transform: rotate(-135deg) translate(1.19rem, -1.19rem);
  }
}
.navbar.navbar--active:not(.closed) .navbar__button:hover .navbar__menu-bar {
  width: 0;
}
.navbar.navbar--active .navbar__link:not(.navbar.navbar--active__dropdown .navbar.navbar--active__link) {
  padding: 1.7878rem 2.6817rem;
}
@media only screen and (max-width: 68.75em) {
  .navbar.navbar--active .navbar__link:not(.navbar.navbar--active__dropdown .navbar.navbar--active__link) {
    padding: 1.4rem 0;
  }
}
.navbar.navbar--active:not(.closed) .navbar__background {
  visibility: visible;
  transition: filter 0.5s ease;
}
.navbar.navbar--isAnimating .navbar__content {
  transform: scaleX(1) translateX(-100%) scaleY(1);
}
@media only screen and (max-width: 68.75em) {
  .navbar.navbar--isAnimating .navbar__content {
    transform: scaleX(1) translateY(-0.35rem) scaleY(1);
  }
}
.navbar.navbar--isAnimating .navbar__dropdown {
  display: none;
}
.navbar.navbar--isAnimating * {
  pointer-events: none;
  box-shadow: none;
}
.navbar * {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: text; /* Safari 'none' or 'text' here 'all' has issues*/
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.closed .navbar__list {
  opacity: 0 !important;
  visibility: hidden;
  transition: opacity 0.5s ease;
  pointer-events: none;
}
.closed .navbar__button {
  border-radius: 100% !important;
  transition: border-radius 0.5s ease !important;
}

.open .navbar__list {
  opacity: 1 !important;
  pointer-events: all;
  transition: opacity 0.5s ease;
}
.open .navbar__button {
  transition: border-radius 0.5s ease !important;
}

.header {
  pointer-events: none;
  top: 2.1rem;
  width: 100%;
  position: fixed;
  z-index: 1;
  transition: opacity 0.5s ease, transform 0.5s ease;
}
@media only screen and (max-width: 68.75em) {
  .header {
    padding: 0.7rem;
    box-shadow: 0 1.4rem 2.8rem rgba(17, 17, 17, 0.33);
    top: 0;
    z-index: 10;
    background-image: var(--body-background);
    border-bottom: 0.14rem solid var(--color-primary-4);
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(600px + (100% - 600px) / 2 + 6.6752rem);
  margin: 0 auto;
}
.header__inner * {
  pointer-events: all;
}
@media only screen and (max-width: 68.75em) {
  .header__inner {
    width: var(--header-inner-width-nav-switch);
  }
}
.header-toggler {
  display: none;
  box-shadow: 0 1.4rem 2.8rem rgba(17, 17, 17, 0.33);
  height: calc(var(--header-height) + 4rem);
  border-left: 0.21rem solid var(--color-primary-4);
  border-bottom: 0.21rem solid var(--color-primary-4);
  border-right: 0.21rem solid var(--color-primary-4);
  border-radius: 0 0 1000px 1000px;
  position: fixed;
  right: 0;
  top: 0;
  background-color: var(--color-primary-1);
  opacity: 0;
  transition: height 0.5s ease;
}
@media only screen and (max-width: 68.75em) {
  .header-toggler {
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .header-toggler__svg {
    cursor: pointer;
    transform: rotate(var(--header-toggler-svg-rotation)) translate(var(--header-toggler-translate-x), var(--header-toggler-translate-y));
    fill: var(--color-primary-4);
    width: calc(4rem * 0.88085);
    height: 4rem;
    transition: transform 0.5s ease, all 0.5s ease;
  }
  .header-toggler--active svg {
    --header-toggler-svg-rotation: 0deg;
  }
  .header-toggler--active + .header {
    transform: translateY(-100%);
  }
  .header-toggler:hover {
    background-color: var(--color-primary-4);
  }
  .header-toggler:hover svg {
    fill: var(--color-primary-1);
  }
}
@media only screen and (max-width: 58.5625em) {
  .header-toggler {
    right: 0.7rem;
  }
}

.page-nav {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari 'none' or 'text' here 'all' has issues*/
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
  z-index: 1;
  position: absolute;
  top: calc(6.6752rem + 1.4rem * 1);
  left: 0;
  width: calc((100% - 600px) / 2);
  font-size: 2.1875rem;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-auto-rows: min-content;
  max-height: calc(100vh - (6.6752rem + 1.4rem * 1));
  transition: opacity 1.25s ease;
  overflow-y: auto;
  padding-bottom: 2.8rem;
}
@media only screen and (max-width: 68.75em) {
  .page-nav {
    z-index: 0;
    font-size: 1.75rem;
    position: static;
    height: auto;
    width: calc(var(--header-inner-width-nav-switch) - 16rem);
    grid-template-columns: repeat(auto-fill, minmax(var(--page-nav-min-column-width), 1fr));
    justify-items: center;
    padding-bottom: 0;
  }
}
.page-nav__section {
  backface-visibility: hidden;
  cursor: pointer;
  width: 100%;
  text-align: center;
  text-decoration: none;
  list-style: decimal;
  color: transparent;
  background-image: var(--site-nav-linear-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  padding: 0.5vw 0;
  transition: color 0.5s ease;
}
@media only screen and (max-width: 68.75em) {
  .page-nav__section {
    padding: 0.35rem 0;
  }
}
@media only screen and (max-width: 29.3125em) {
  .page-nav__section {
    padding: 0;
  }
}
@media only screen and (hover: none) {
  .page-nav__section:hover {
    transform: scale(1.25);
  }
}
.page-nav__section-group {
  font-size: min(1.4rem, 1vw);
  padding: 0.35rem 2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  list-style: none;
  transition: transform 0.125s ease;
}
@media only screen and (max-width: 68.75em) {
  .page-nav__section-group:nth-of-type(1) {
    margin-left: 0;
  }
}
.page-nav__section-group:hover {
  transform: translateY(-0.25vw);
}
.page-nav__section-group:hover span {
  text-shadow: 2px 8px 6px hsla(0, 0%, 0%, 0.2), 0px -5px 35px hsla(0, 0%, 100%, 0.3);
  background-image: linear-gradient(to right, rgba(var(--color-primary-4-rgb), 1), rgba(var(--color-primary-4-rgb), 1)) !important;
}
@media only screen and (max-width: 68.75em) {
  .page-nav__section-group:hover {
    transform: translateY(-0.14rem);
  }
}
@media only screen and (hover) {
  .page-nav__section-group:hover > a {
    color: var(--color-primary-2);
  }
}
@media only screen and (max-width: 68.75em) {
  .page-nav__section-group {
    font-size: min(1.4rem, 1.5vw);
  }
}
.page-nav__section:hover {
  text-shadow: 2px 8px 6px hsla(0, 0%, 0%, 0.2), 0px -5px 35px hsla(0, 0%, 100%, 0.3);
}
.page-nav--active {
  transform: scale(var(--site-nav-active-scale-amount));
}

.page-nav- {
  display: none;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: var(--color-primary-4);
  -webkit-box-shadow: inset 0 0 0.7rem rgba(var(--color-primary-1-rgb), 0.5);
  box-shadow: inset 0 0 0.7rem rgba(var(--color-primary-1-rgb), 0.5);
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: var(--scrollbar-width);
  background: var(--color-primary-4);
}

::-webkit-scrollbar-corner {
  background: var(--color-primary-1);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0.7rem rgba(var(--color-primary-1-rgb), 0.5);
  box-shadow: inset 0 0 0.7rem rgba(var(--color-primary-1-rgb), 0.5);
  background: var(--color-primary-1);
}

:root {
  --diamond-clip-low: 31.8%;
  --diamond-clip-high: 68.2%;
}

.diamond-fractal {
  opacity: 0;
  background: var(--color-primary-1);
  clip-path: polygon(0 0, 100% 0%, var(--diamond-clip-high) var(--diamond-clip-low), var(--diamond-clip-high) var(--diamond-clip-high), 100% 100%, 0 100%, var(--diamond-clip-low) var(--diamond-clip-high), var(--diamond-clip-low) var(--diamond-clip-low), 0 0);
  position: fixed;
  top: 0;
  left: 20%;
  bottom: 0;
  right: 0;
  transition: left 1s cubic-bezier(0.68, -0.6, 0.32, 1.6), opacity 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.square {
  opacity: 0.5;
  mix-blend-mode: difference;
  background-color: var(--color-primary-2);
  position: absolute;
  height: var(--diamond-fractal-length);
  width: var(--diamond-fractal-length);
  max-height: 100vh;
  max-width: 100vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: var(--translate-center) rotate(var(--diamond-fractal-rotation));
}
.square__inner-odd {
  transform: var(--translate-center) rotate(0);
}
.square__inner-even {
  background-color: var(--color-primary-2);
}
.square__inner-1 {
  animation: square-odd var(--diamond-fractal-animation-duration) infinite linear;
  height: calc(var(--diamond-fractal-length) * var(--square-root-of-two));
  width: calc(var(--diamond-fractal-length) * var(--square-root-of-two));
}
.square__inner-2 {
  animation: square-even var(--diamond-fractal-animation-duration) infinite linear;
  height: calc(var(--diamond-fractal-length) / 2);
  width: calc(var(--diamond-fractal-length) / 2);
}
.square__inner-3 {
  animation: square-odd calc(var(--diamond-fractal-animation-duration) / 2) infinite linear;
  height: calc(var(--diamond-fractal-length) / 2 * var(--square-root-of-two));
  width: calc(var(--diamond-fractal-length) / 2 * var(--square-root-of-two));
}
.square__inner-4 {
  animation: square-even calc(var(--diamond-fractal-animation-duration) / 2) infinite linear;
  height: calc(var(--diamond-fractal-length) / 4);
  width: calc(var(--diamond-fractal-length) / 4);
}
.square__inner-5 {
  animation: square-even calc(var(--diamond-fractal-animation-duration) / 4) infinite linear;
  height: calc(var(--diamond-fractal-length) / 4 * var(--square-root-of-two));
  width: calc(var(--diamond-fractal-length) / 4 * var(--square-root-of-two));
}
.square__inner-6 {
  animation: square-even calc(var(--diamond-fractal-animation-duration) / 8) infinite linear;
  height: calc(var(--diamond-fractal-length) / 8);
  width: calc(var(--diamond-fractal-length) / 8);
}
.square__inner-7 {
  animation: square-even calc(var(--diamond-fractal-animation-duration) / 8) infinite linear;
  height: calc(var(--diamond-fractal-length) / 8 * var(--square-root-of-two));
  width: calc(var(--diamond-fractal-length) / 8 * var(--square-root-of-two));
}
.square__inner-8 {
  animation: square-even calc(var(--diamond-fractal-animation-duration) / 16) infinite linear;
  height: calc(var(--diamond-fractal-length) / 16);
  width: calc(var(--diamond-fractal-length) / 16);
}
.square__outer {
  background: var(--color-primary-bridge-1);
  height: calc(var(--diamond-fractal-length) * 1);
  width: calc(var(--diamond-fractal-length) * 1);
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: var(--translate-center);
  background-color: var(--color-primary-4);
}
.circle-1 {
  width: calc(var(--diamond-fractal-length));
  height: calc(var(--diamond-fractal-length));
}
.circle-2 {
  width: calc(var(--diamond-fractal-length) * var(--square-root-of-two));
  height: calc(var(--diamond-fractal-length) * var(--square-root-of-two));
}
.circle-3 {
  width: calc(var(--diamond-fractal-length) / 2);
  height: calc(var(--diamond-fractal-length) / 2);
}
.circle-4 {
  width: calc(var(--diamond-fractal-length) * var(--square-root-of-two) / 2);
  height: calc(var(--diamond-fractal-length) * var(--square-root-of-two) / 2);
}
.circle-5 {
  width: calc(var(--diamond-fractal-length) / 4);
  height: calc(var(--diamond-fractal-length) / 4);
}
.circle-6 {
  width: calc(var(--diamond-fractal-length) * var(--square-root-of-two) / 4);
  height: calc(var(--diamond-fractal-length) * var(--square-root-of-two) / 4);
}
.circle-7 {
  width: calc(var(--diamond-fractal-length) / 8);
  height: calc(var(--diamond-fractal-length) / 8);
}
.circle-8 {
  width: calc(var(--diamond-fractal-length) * var(--square-root-of-two) / 8);
  height: calc(var(--diamond-fractal-length) * var(--square-root-of-two) / 8);
}
.circle-9 {
  width: calc(var(--diamond-fractal-length) / 16);
  height: calc(var(--diamond-fractal-length) / 16);
}

.audio-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(33.6rem, 1fr));
}
.audio-list__item {
  --padding-top-and-bottom: 0.7rem;
  --padding-right: 1.4rem;
  cursor: pointer;
  background: linear-gradient(to left, rgba(var(--color-primary-1-rgb), 1) 0%, rgba(var(--color-primary-4-rgb), 1) 5%, rgba(var(--color-primary-1-rgb), 1) 10%, rgba(var(--color-primary-1-rgb), 1) 100%);
  background-size: 200% auto;
  background-clip: text;
  color: transparent;
  animation: animate-skills infinite 10s;
  border-bottom-width: 0.14rem;
  border-bottom-style: solid;
  border-image: linear-gradient(to right, rgba(var(--color-primary-4-rgb), 0.1) 0%, rgba(var(--color-primary-1-rgb), 1) 50%, rgba(var(--color-primary-1-rgb), 1) 50%, rgba(var(--color-primary-4-rgb), 0.1) 100%);
  border-image-slice: 1;
  text-decoration: underline;
  width: max-content;
  padding: var(--padding-top-and-bottom) var(--padding-right) var(--padding-top-and-bottom) 0;
}
@media only screen and (max-width: 58.5625em) {
  .audio-list__item {
    --padding-top-and-bottom: 1.4rem * .25;
    --padding-right: 1.4rem * .5;
    width: auto;
  }
}
.audio-list__item > span:nth-of-type(2) {
  padding-left: 0.7rem;
}
.audio-list__item:hover {
  color: var(--color-primary-1);
  text-decoration: none;
  border-image: none;
}

.audio-player__toggler svg, .audio-player__controls svg {
  transition: opacity 0.5s ease;
  cursor: pointer;
  fill: rgba(var(--svg-fill-color), 1);
}
.audio-player__toggler svg:hover, .audio-player__controls svg:hover {
  fill: rgba(var(--svg-fill-color), 0.75);
}
.audio-player__toggler svg:active, .audio-player__controls svg:active, .audio-player__toggler svg:focus, .audio-player__controls svg:focus {
  fill: rgba(var(--svg-active-color), 1);
}

.audio-player {
  transform: translateY(100%);
  transition: transform 0.5s ease, opacity 0.25s ease;
}

.audio-player {
  --background-color: rgba(var(--color-primary-2-rgb), 1);
  --color: var(--color-primary-4);
  --svg-fill-color: var(--color-primary-4-rgb);
  --svg-active-color: var(--color-primary-3-rgb);
  --svg-size: 4.272625rem;
  --toggler-padding: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  color: var(--color);
  background-color: var(--background-color);
  z-index: 10;
}
.audio-player__checkbox-label {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate3d(-50%, -50%, 0);
}
.audio-player__content {
  max-width: 600px;
  width: 100%;
  text-align: center;
}
.audio-player__controls {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  align-items: center;
  padding: 1.4rem 0;
}
.audio-player__controls svg:not(.audio-player__restart, .audio-player__backward, .audio-player__forward) {
  width: var(--svg-size);
  height: var(--svg-size);
}
.audio-player__controls > div {
  position: relative;
  width: var(--svg-size);
  height: var(--svg-size);
}
.audio-player__controls > div > svg {
  position: absolute;
  left: 0;
  top: 0;
}
.audio-player__details {
  font-size: 2.1875rem;
  padding: 1.4rem;
}
.audio-player__details-time {
  margin-left: 1.4rem;
}
.audio-player__progress {
  cursor: pointer;
  background-color: rgba(var(--svg-fill-color), 0.2);
  width: 100%;
  height: 2.1875rem;
}
.audio-player__progress > div {
  align-self: flex-start;
  background-color: var(--color);
  height: 100%;
}
.audio-player__backward, .audio-player__forward {
  width: calc(var(--svg-size) * 1.090838207);
  height: calc(var(--svg-size) * 1.090838207);
}
.audio-player__toggler {
  position: fixed;
  bottom: 0;
  right: 0;
  height: calc(100% + var(--svg-size) + var(--toggler-padding));
  background-color: var(--background-color);
  z-index: -1;
  border-radius: 1.4rem;
}
.audio-player__toggler svg {
  transition: transform 0.5s ease;
  transform: rotate(var(--audio-player-toggler-rotation-closed));
  width: calc(var(--svg-size) * 1.131266846);
  height: calc(var(--svg-size) * 1.131266846);
}
.audio-player__toggler svg.audio-player__toggler--open {
  transform: rotate(var(--audio-player-toggler-rotation-open));
}
.audio-player__restart {
  width: calc(var(--svg-size) * 0.75);
  height: calc(var(--svg-size) * 0.75);
}

/*# sourceMappingURL=style.css.map */
