.bridge {
  position: relative;
  width: 100%;
  background-color: var(--color-primary-1);

  &__hero {
    height: 85vh;
    width: calc(100% - #{$default-font-size * .9});
    // margin: $default-font-size * 9 auto 0 auto;
    // background: var(--color-primary-1);

    &-heading {
      z-index: 10;
      background-color: transparent;

      &:first-of-type {
        position: absolute;
        top:25vw;
        left: 50%;
        transform: translate(-50%, 0%);
      }
    }
  }

  &__content {
    padding: $default-font-size;

  }
}