.bridge {
	display: grid;
	grid-template-rows: 100vh;
	// grid-auto-rows: 1fr;
	// grid-template-columns: repeat(8, 1fr);
	position: relative;
	width: 100%;
	background-color: var(--color-primary-4);

	&__section {
		z-index: 1;
		position: relative;
		// padding: $default-font-size * 10;
		background-color: var(--color-primary-2);
		color: var(--color-primary-1);
	}

	&__content {
		padding: $default-font-size;
	}
}

.hero {
	position: relative;
	// height: 85vh;

	&__heading {
		mix-blend-mode: difference;
		z-index: 10;
		color: var(--color-primary-2);
		position: absolute;
		font-weight: 100;
		font-size: $default-font-size * 6;

		&:first-of-type {
			top: 33%;
			left: 50%;
			transform: translate(-50%,-50%);
		}

		&:nth-of-type(2) {
			mix-blend-mode: difference;
			top: 50%;
			left: 15%;
			transform: translate(-50%,-50%);
		}
		&:nth-of-type(3) {
			mix-blend-mode: difference;
			top: 50%;
			right: 15%;
			transform: translate(50%,-50%);
		}
		&:nth-of-type(4) {
			mix-blend-mode: difference;

			top: 66%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
	}
	
	&__more {
		display: flex;
		align-items: center;
		justify-content: center;
		height: $default-font-size * 15;
		width: $default-font-size * 15;
		font-size: $default-font-size * 3;
		z-index: 100;
		position: absolute;
		top: 50%;
		left: 60%;
		transform: translate(-50%, -50%);
		// background-color: var(--color-primary-3);
		color: var(--color-primary-2);
		// padding: $default-font-size * 2 $default-font-size * 4;
		border-radius: $default-font-size * 200;
		transition: 	
			background-color $animation-duration $animation-easing-standard,
		;

		& input {
			display: none;
		}

		& label {
			margin: 0;
			padding: 0;
			height: 66%;
			cursor: pointer;
		}
		
		& svg {
			fill: var(--color-primary-2);
			transition: 	
				fill $animation-duration $animation-easing-standard,
			;
		}

		&:hover {
			background-color: var(--color-primary-2);
			& svg {
				fill: var(--color-primary-1);
			}
		}

		
	}

	
	// &-text {
	// 	height: var(--diamond-fractal-length);
	// 	width: var(--diamond-fractal-length);
	// 	text-align: center;
	// 	display: flex;
	// 	justify-content: center;
	// 	align-items: space-between;
	// 	flex-direction: column;
	// 	position: relative;
	// 	// z-index: 1;
	// 	color: var(--color-primary-1);
	// 	// transform: rotate(calc(var(--diamond-fractal-rotation) * -1));
	// }
}

#hero__more-checkbox {
	&:checked + .hero__more{
		opacity: 0;
		visibility: hidden;
	}

	&:checked ~ .bg-video{
		clip-path: $animation-bridge-windshield-two-end;
	}
}