$hero-background-image-alpha: .33;
$hero-blend-mode: hard-light;
$bridge-logo-opacity: .5;

.bridge {
	display: grid;
	grid-template-rows: 100vh;
	// grid-auto-rows: 1fr;
	// grid-template-columns: repeat(8, 1fr);
	position: relative;
	width: 100%;
	background-color: var(--color-primary-4);

		
	& .root.navbar--active { 
		filter: none;
	}


	&__section {
		z-index: 1;
		position: relative;
		// padding: $default-font-size * 10;
		background-color: var(--color-primary-2);
		color: var(--color-primary-1);
	}

	&__content {
		padding: $default-font-size;
	}
}

.hero {
	background-image: linear-gradient(to right, 
		rgba($color-primary-bridge-2, $hero-background-image-alpha) 0%, 
		rgba($color-primary-bridge-1, $hero-background-image-alpha) 25%, 
		rgba($color-primary-bridge-1, $hero-background-image-alpha) 75%, 
		rgba($color-primary-bridge-2, $hero-background-image-alpha) 100%
	);
	position: relative;
	// height: 85vh;

	&__heading {
		font-family: 'Spectral', serif;
		opacity: 0;
		visibility: hidden;
		mix-blend-mode: $hero-blend-mode;
		// z-index: 10;
		color: var(--color-primary-3);
		position: fixed;
		font-weight: 100;
		font-size: $default-font-size * 6;

		transition: 
			opacity $animation-duration $animation-easing-standard $animation-duration,
			top $animation-duration $animation-easing-standard-easeInOutBack $animation-duration,
			bottom $animation-duration $animation-easing-standard-easeInOutBack $animation-duration,
			left $animation-duration $animation-easing-standard-easeInOutBack $animation-duration,
			right $animation-duration $animation-easing-standard-easeInOutBack $animation-duration,
		;

		&:first-of-type, &:nth-of-type(4) {
			font-size: $default-font-size * 10;
			font-weight: 200;
		}

		&:nth-of-type(2), &:nth-of-type(3) {
			font-size: $default-font-size * 5;
			font-weight: 700;
		}

		&:first-of-type {
			top: -10%;
			left: 50%;
			transform: translate(-50%,-50%);
		}

		&:nth-of-type(2) {
			mix-blend-mode: $hero-blend-mode;
			top: 50%;
			left: -10%;
			transform: translate(-50%,-50%);
		}
		&:nth-of-type(3) {
			mix-blend-mode: $hero-blend-mode;
			top: 50%;
			right: -10%;
			transform: translate(50%,-50%);
		}
		&:nth-of-type(4) {
			mix-blend-mode: $hero-blend-mode;
			bottom: -10%;
			left: 50%;
			transform: translate(-50%, 50%);
		}
	}
	
	&__more {
		display: flex;
		align-items: center;
		justify-content: center;
		height: $default-font-size * 10;
		width: $default-font-size * 10;
		font-size: $default-font-size * 3;
		z-index: 1;
		position: fixed;
		top: 50%;
		left: 60%;
		transform: translate(-50%, -50%);
		color: var(--color-primary-2);
		border-radius: $default-font-size * 200;
		transition:
			left $animation-duration + $bridge-hero-animation-duration / 2 $animation-easing-standard-easeInOutBack ,
		;

		& input {
			display: none;
		}

		& label {
			margin: 0;
			padding: 0;
			height: 100%;
			cursor: pointer;
			display: flex;
			justify-content: center;
		}
		
		& svg {
			transform: rotate(var(--bridge-hero-arrow-rotation));
			transition: 
				transform $animation-duration + $bridge-hero-animation-duration / 2 $animation-easing-standard ,
				fill $animation-duration $animation-easing-standard,
			;
			fill: var(--color-primary-1);
		}

		&:hover {
			
			& svg {
				fill: var(--color-primary-2);
				z-index: 1;
			}

			& .hero__bridge-logo {
				opacity: $bridge-logo-opacity;
				background-color: var(--color-primary-1);
			}
		}
	}

	&__bridge-logo {
		pointer-events: none;
		background-image: url('../imgs/bridge-logo.svg');
    position: fixed;
    top: 50%;
    left: 50%;
    height: 15rem;
    width: 15rem;
    border-radius: 100px;
    transform: translate(-50%, -50%);
    background-size: cover;
		opacity: 0;
		transition:
			opacity $animation-duration $animation-easing-standard,
		;

		// z-index: 1;
	}
}



#hero__more-checkbox {
	display: none;

	&:checked ~ .hero .hero__bridge-logo {
		opacity: $bridge-logo-opacity / 8;
		z-index: 0;
	}
	
	&:checked ~ .hero .hero__more{
		// opacity: 0;
		// visibility: hidden;
		left: 50%;

		& svg {
			--bridge-hero-arrow-rotation: 180deg;
		}
	}

	&:checked ~ .hero .bg-video{
		clip-path: $animation-bridge-windshield-two-end;
	}

	&:checked ~ .hero .hero__heading{
		opacity: 1;
		visibility: visible;

		&:first-of-type {
			top: 25%;
		}
		&:nth-of-type(2) {
			left: 25%;
		}
		&:nth-of-type(3) {
			right: 25%;
		}
		&:nth-of-type(4) {
			bottom: 25%;
		}
	}

	&:checked ~ .hero .diamond-fractal {
		left: 0;
		opacity: .05;
	}
}