.csharp {
	font-size: $default-font-size * 1;
	overflow: hidden;
	width: 100vw;
	background-color: var(--color-primary-1);

	@include respond(nav-switch) {
		padding-top: $default-font-size * 8;
	}

	// background-image:
	//   get-resume-card-gradient(.95)
	//   ,
	//   url($resume-card-background-work-history);
	// background-attachment: fixed;

	// @include respond(tab-port) {
	//   background-image: var(--color-primary-2);
	// }

	& .paragraph {
		margin: 0;
	}

	&__card {
		border: 3px solid rgba(var(--color-primary-4-rgb), .5); 
		border-radius: 0 0 $default-font-size / 2 $default-font-size / 2;
		box-shadow: $navbar-box-shadow-resume;
		width: $resume-card-width-full;

		background-color: rgba(var(--color-primary-4-rgb), 1);
		// color: rgba(var(--color-primary-1-rgb),.875);
		margin: $default-font-size * 1 auto;

		@include respond(tab-land) {
			width: calc(100% - #{$default-font-size} * 1);
		}


		
	}

	&__content {
		z-index: 5;
		position: relative;
		& > * {
			padding: 0 $default-font-size * 2 0 $default-font-size * 2;

			@include respond(phone) {
				padding: $default-font-size * .5;
			}
		}

		& > *:last-child() {
			padding-bottom: $default-font-size;

			@include respond(phone) {
				padding-bottom: $default-font-size * .5;
			}
		}
	}

	&__headers {
		color: var(--color-primary-4);
		background-image: linear-gradient(
			to bottom right,
			rgba(var(--color-primary-1-rgb), 1),
			rgba(var(--color-primary-1-rgb), 1)
		);
	}

	&__header {
		padding: $default-font-size * 1 $default-font-size * 1 $default-font-size *
			1 0;
		color: rgba(var(--color-primary-1), 1);
		border-bottom: $default-font-size * 0.15 solid
			rgba(var(--color-primary-1-rgb), 0.25);

		&-title {
			font-size: $default-font-size * 3;

			@include respond(tab-land) {
				font-size: $default-font-size * 2;
			}
		}
	}

	&__card-section {
		&-title {
			color: rgba(var(--color-primary-1), 1);
			font-size: $default-font-size * 1.35;
			padding: $default-font-size 0;
		}

		&:last-of-type {
			padding-bottom: $default-font-size * 2;
		}

		& {
			& ul {
				list-style: disc;
			}
			:is(ul, ol) {
				padding: 0 $default-font-size * 2 0 $default-font-size * 2;
			}
		} 
	}

	&__section {
		margin-bottom: $default-font-size * 6;
	}

	&__section-content {
		font-family: $font-family-text !important;

		& li {
			padding-left: $default-font-size * 0.5;
		}
	}

	&__title {
		--font-size: #{$default-font-size * 6};
		-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: text; /* Safari 'none' or 'text' here 'all' has issues*/
		-khtml-user-select: none; /* Konqueror HTML */
		-moz-user-select: none; /* Old versions of Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
		user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */

		font-size: var(--font-size);
		text-align: center;
		width: 100vw;
		padding-top: calc(#{$header-top} - 2vw);
		text-shadow: $resume-header-text-shadow;
		color: var(--color-primary-4);

		display: flex;
		justify-content: center;
		align-items: center;

		&-link {
			text-decoration: none;
			transition: color $animation-duration * 0.5 $animation-easing-standard;
			@include link-animating(
				var(--color-primary-4-rgb),
				var(--color-primary-1-rgb),
				var(--color-primary-4-rgb),
				var(--color-primary-4-rgb)
			);
			&:hover {
				color: var(--color-primary-3);
			}
		}

		@include respond(nav-switch) {
			// display: grid;
			// grid-template-columns: min-content 1fr min-content;
			// justify-content: flex-start;
			display: flex;
			flex-direction: column-reverse;
			width: $resume-card-width-full;
			margin: auto;
		}

		@include respond(tab-land) {
			--padding: #{$default-font-size * .5};
			width: 100vw;
			--font-size: #{$default-font-size * 3};
			padding: var(--padding) calc(var(--padding) + var(--scrollbar-width)) var(--padding) var(--padding);
		}
		@include respond(small-font) {
			--font-size: #{$default-font-size * 3};
			display: flex;
			// flex-direction: column;
			// margin-top: $default-font-size * 5;
		}
	}

	&__carousel {
		// width: $resume-card-width-full;
		margin: $default-font-size auto 0 auto;
		display: grid;
		row-gap: $default-font-size * 1;
		// grid-template-rows: $default-font-size * 23.75;
		grid-template-columns:
			1fr $resume-card-width-full / 3 $resume-card-width-full / 3
			$resume-card-width-full / 3 1fr;
		justify-content: center;
		padding: $default-font-size * 2 0 $default-font-size * 2 0;

		@include respond(nav-switch) {
			width: calc(100% - #{$default-font-size} * 1);
			display: flex;
			flex-direction: row;
			padding-bottom: $default-font-size;
		}
	}
}

.downloader {
	background-color: var(--color-primary-red);
	background-image: url($downloader-background-svg);
	background-size: cover;

	@include respond(tab-land) {
		background-image: linear-gradient(
			to right,
			var(--color-primary-1) 0%,
			var(--color-primary-2) 100%
		);
	}
}

.playlist-syncer {
	background-image: $bridge-card-section-2-gradient,
		url(getSvgBackground(
			bridge-section-2,
			$color-bridge-section-svg-1,
			$color-bridge-section-svg-1
		));
	background-size: cover;

	@include respond(tab-land) {
		background-image: linear-gradient(
			to right,
			var(--color-primary-1) 0%,
			var(--color-primary-2) 100%
		);
	}

	& .csharp__card {
		background-color: rgba(var(--color-primary-4-rgb), 1);
	}

}