.downloader {
  width: 100vw;
  background-color: var(--color-primary-2);
  
  &__carousel {
    height: 100vh;
    width: $resume-card-width-full;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(nav-switch) {
      width: calc(100% - #{$default-font-size} * 1);
    }
  }

}

