.downloader {
  width: 100vw;
  
  &__carousel {
    height: 100vh;
    width: $resume-card-width-full;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(nav-switch) {
      width: 100%;
    }
  }

}

