.csharp {
  overflow: hidden;
  width: 100vw;
  background-color: var(--color-primary-2);
  
  background-image: 
    get-resume-card-gradient(.95)
    ,
    url($resume-card-background-work-history);
  background-attachment: fixed;

  @include respond(nav-switch) {
    padding-top: $default-font-size * 8;
  }

  @include respond(tab-port) {
    background-image: var(--color-primary-2);
  }
  
  &__title {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: text; /* Safari 'none' or 'text' here 'all' has issues*/
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */

    font-size: $default-font-size * 4;
    text-align: center;
    width: 100vw;
  	padding-top: $header-top;
    text-shadow: $resume-header-text-shadow;

    @include respond(nav-switch) {
    }
  }

  &__carousel {
    // width: $resume-card-width-full;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr $resume-card-width-full / 2 $resume-card-width-full / 2 1fr;
    justify-content: center;
    padding: $default-font-size * 2 0 $default-font-size * 7 0;
    

    @include respond(nav-switch) {
      width: calc(100% - #{$default-font-size} * 1);
      display: flex;
      flex-direction: row;
    }
  }

}

