.home {
	height: 100vh;
	width: 100vw;

	// background-image: linear-gradient(
	// 		to right,
	// 		var(--color-primary-3) 0%,
	// 		var(--color-primary-3) 50%,
	// 		var(--color-primary-3) 50%
	// 	),
	// 	url("imgs/background-2.jpg");
	// background-position: center;
	// background-size: cover;
	// background-blend-mode: color-burn;

	// &__portrait {
	//   position: absolute;
	//   bottom: 0%;
	//   left: 50%;
	//   transform: translate(-50%, 0%);
	//   width: 100%;
	//   height: 100%;

	//   background-image:
	//   //   linear-gradient(to right,
	//   //   var(--color-primary-1) 0%,
	//   //   var(--color-primary-2) 50%,
	//   //   var(--color-primary-3) 50%,
	//   // ),
	//   url('imgs/self-small.png');
	//   filter: saturate(0%);
	//   background-position: center;
	//   background-size: cover;
	//   background-blend-mode: saturation;
	//   // & img {
	//   //   width: 100%;
	//   //   filter: saturate(0);
	//   // }
	// }

	&__canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
	}

	&__first-name, &__last-name, &__third-word {
		position: absolute;
		transform: translate(-50%, -50%);	
		z-index: 10;
    font-size: $default-font-size * 8;
		// font-family: $font-family-text;
		// color: var(--color-primary-4)
	}
	
	&__first-name {
		top: 20%;
		left: 50%;
	}

	&__last-name {
		top: 80%;
		left: 50%;
	}

	&__third-word {
		left: 25%;
		top: 50%;
    font-size: $default-font-size * 4;

	}
	
}
