.page-wrapper {
    padding-top: calc(#{$header-top} + 1.6vw);

    @include respond(nav-switch) {
		padding-top: calc(var(--header-height) + #{$default-font-size} * 1);
	}

    @include respond(mobile) {
        padding-top: calc(var(--header-height) + #{$default-font-size} * 1);
    }

    &.downloader {
	    padding-top: calc(var(--header-height) + #{$navbar__logo-width} - #{$default-font-size} * 1);
    }

    &.csharp, &.downloader {
        @include respond(nav-switch) {
            padding-top: $default-font-size * 2;
        }
    }
}