.resume {
	grid-column: 1 / -1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	margin: $page-margin-top-amount auto 0 auto;

	// @include respond(tab-port) {
	//   margin: $page-margin-top-amount - $default-font-size auto 0 auto;
	// }

	@include respond(nav-switch) {
		margin-top: $page-margin-top-amount-nav-switch;
	}
	@include respond(tab-port) {
		margin-top: calc(
			#{$page-margin-top-amount-nav-switch} - #{$default-font-size * 1}
		);
	}

	&__section {
		// background-image: linear-gradient(to left, var(--color-primary-1), var(--color-primary-2));
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		// grid-template-columns: 1fr minmax(min-content, 800px) 1fr;
		// grid-auto-rows: minmax(min-content, max-content);
		// border-radius: $default-font-size;

		// grid-row-gap: $default-font-size * 2;
		@include respond(nav-switch) {
			width: 100vw;
		}
		

		&-summary {
			grid-column: 1 / -1;
		}
		&-skills {
			&__resume-card {
				background-image: url('../../src//imgs/resume-background-1.jpg');
			}
		}
		&-work-History {
			line-height: 1.5;
		}
		&-education {
		}
		&-references {
			& .resume__header {
				margin-bottom: $default-font-size * 0.5;
			}
		}
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: $default-font-size * 2;
		text-shadow: getTextShadow(soft-emboss, $color-primary-resume-3, $color-primary-resume-2);

		@include respond(tab-port) {
			margin-bottom: $default-font-size * 0.75;
		}

		&:last-child {
			margin-bottom: $default-font-size * 0.5;
		}

		&-summary {
			grid-column: 1 / -1;
		}
		&-title {
		}
	}
	&__content {
		padding: $default-font-size * 3 $default-font-size $default-font-size * 3.5;
		font-size: $default-font-size;

		@include respond(phone) {
			padding: $content-padding-nav-switch;
		}
	}
	&__card {
		max-width: calc(100% - 20.8rem);
		width: $resume-card-width-full;
		margin: $default-font-size * 2 auto;
		color: var(--color-primary-1);
		background-color: var(--color-primary-3);
		// grid-column: 2 / 3;
		padding: 0 $default-font-size * 2;
		// border: 3px solid var(--color-primary-1);
		border-radius: $default-font-size * 0.5;
		box-shadow: $navbar-box-shadow-resume;

		@include respond(nav-switch) {
			max-width: 100%;
		}
		@include respond(tab-land) {
			width: 95%;
		}
		@include respond(tab-port) {
			max-width: 95%;
			width: 100%;
			margin: $default-font-size auto;
		}
		@include respond(phone) {
			padding: 0;
		}
	}
	& .heading {
		text-shadow: getTextShadow(distant, rgba($color-grey-20,.70), $color-primary-2);
		// text-shadow: getTextShadow(soft-emboss, $color-primary-3);
		color: var(--color-primary-3);
	}
}

.education {
	&__item {
		margin-left: 1.6rem;
		&:nth-of-type(n + 2) {
			margin-top: $default-font-size * 0.5;
		}

		@include respond(small-font) {
			&:last-of-type {
				margin-bottom: $default-font-size * 0.5;
			}
		}
	}
	&__date,
	&__gpa {
		font-weight: 500;
		font-size: $default-font-size * 0.9;
	}
	&__date {
		margin-right: $default-font-size * 0.5;
	}
	&__degree {
	}
	&__location {
	}
	&__gpa {
	}
}

.references {
	// font-size: $default-font-size * .9;
	display: grid;
	grid-template-columns:
		repeat(2, minmax(min-content, $default-font-size * 12.5))
		max-content 1fr;
	grid-auto-rows: minmax($default-font-size * 4, $default-font-size * 6);
	align-items: center;

	& > * {
		padding: $default-font-size * 0.5 $default-font-size * 1.5
			$default-font-size * 0.5 0;
		display: flex;
		align-items: center;
		height: 100%;
		border-bottom: $default-font-size * 0.1 solid var(--color-primary-1);

		&:nth-last-child(n + 13) {
			padding-top: 0;
		}
	}

	@include respond(tab-port) {
		grid-gap: 0;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: min-content;

		& > * {
			margin-left: $default-font-size * 3;
			// font-size: $default-font-size;
			padding: 0;
			border: none;
		}

		& > *:nth-child(4n + 1) {
			margin-left: 0;
		}
	}

	&__name {
		@include respond(tab-port) {
			font-size: $default-font-size * 1;
			margin: $default-font-size 0 $default-font-size * 0.5 0;

			& *:nth-child(2) {
				// font-size: $default-font-size * 1.15;
			}

			&:nth-child(n + 2) {
				border-top: $default-font-size * 0.1 solid var(--color-primary-1);
			}
		}
		&-text {
			// border-top-width: 0.32rem;
			// border-color: transparent;
			// border-bottom-style: solid;
		}

		&-link:link,
		&-link:visited {
			@include link-line;
			@include link-animating;
			display: inline;

			&:hover {
				border-bottom: $default-font-size * .1 solid var(--color-primary-1);
				border-image: none;
			}
		}

		@include respond(nav-break) {
			&:nth-child(1) {
				margin-top: $default-font-size * 0.5;
			}
		}
	}
	&__relation {
	}
	&__number {
		display: none;

		&--no-link {
			border-top: $default-font-size * 0.1875 solid transparent;
		}

		@include respond(tab-port) {
			@include item-number;
			display: inline-block;
		}
	}
	&__email {
		padding-right: 0;
		// display: inline-block;
		@include respond(tab-port) {
			column-count: auto;
			width: auto;
			padding-bottom: $default-font-size * 1;
		}

		@include respond(nav-break) {
			display: inline-block;
			// padding-top: 0;
		}

		& a {
			// @include link-line;
			@include link-animating;
		}
	}

	&__tag {
		display: none;
		margin-right: $default-font-size * 0.5;
		font-weight: 700;

		@include respond(tab-port) {
			display: inline-block;
		}
	}

	@include respond(tab-port) {
		&__email,
		&__relation,
		&__phone,
		&__name {
			grid-column: 1 / -1;
		}
	}
}

div.references__name {
	display: flex;
	align-items: center;
}
