.resume {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: calc(100% - 2rem);
  margin:  auto;
  margin: $default-font-size * 7 auto 0 auto;

  &__section {
    background-color: $color-primary-4;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 800px 1fr;
    grid-auto-rows: minmax(min-content, max-content);
   
    grid-row-gap: $default-font-size * 2;

    &-summary {
      grid-column: 1 / -1;
    }
    &-skills {
      
    }
    &-work-history {
      
    }
    &-education {
      
    }
  }

  &__header {
    
    &-summary {
      grid-column: 1 / -1;
    }
    &-skills {
      
    }
    &-work-history {
      
    }
    &-education {
      
    }
  }  
  &__content {
    padding: $default-font-size $default-font-size $default-font-size * 2;
  }
  &__card {
    margin: $default-font-size * 2;
    color: $color-primary-1;
    background-color: $color-primary-4;
    grid-column: 2 / 3;
    padding: 0 $default-font-size * 2;
    border: 2px solid $color-primary-3;
    border-radius: $default-font-size;
    box-shadow: 0 0 0rem 2rem rgba($color-primary-2, .2);
  }
}