$color-grey-light-1: hsl(0, 9%, 98%);
$color-grey-light-2: hsl(0, 8%, 95%);
$color-grey-light-3: hsl(0, 6%, 94%);

$color-black: hsl(0, 0%, 0%);
$color-grey-20: hsl(0, 0%, 20%);
$color-grey-40: hsl(0, 0%, 40%);
$color-grey-60: hsl(0, 0%, 60%);
$color-grey-80: hsl(0, 0%, 80%);
$color-white: hsl(0, 0%, 100%);


$color-primary-1: #28537b;
$color-primary-1-light: hsl(209, 0%, 60%);

$color-primary-2: #8ac6d0;
$color-primary-3: #f4d262;
$color-primary-4: #fbeeac;

$color-primary-resume-1: hsl(209, 51%, 32%);
$color-primary-resume-2: hsl(190, 43%, 68%);
$color-primary-resume-3: hsl(46, 87%, 67%);
$color-primary-resume-4: hsl(50, 91%, 83%);
$resume-color-opacity: .875;

$color-primary-bridge-1: #00406b;
$color-primary-bridge-2: #f59229;
$color-primary-bridge-3: #e4e0c9;
$color-primary-bridge-4: #f5f1db;

$color-primary-downloader-4: #112d4e;
$color-primary-downloader-3: #3f72af;
$color-primary-downloader-2: #dbe2ef;
$color-primary-downloader-1: #f9f7f7;

:root {
	--color-grey-light-1: #{$color-grey-light-1};
	--color-grey-light-2: #{$color-grey-light-2};
	--color-grey-light-3: #{$color-grey-light-3};

	--color-black: 	#{$color-black};
  --color-grey-20: #{$color-grey-20};
	--color-grey-40: #{$color-grey-40};
	--color-grey-60: #{$color-grey-60};
	--color-grey-80: #{$color-grey-80};
	--color-white: 	#{$color-white};

	--color-primary-1: #{$color-primary-1};
	--color-primary-1-light: #{$color-primary-1-light};
	--color-primary-2: #{$color-primary-2};
	--color-primary-3: #{$color-primary-3};
	--color-primary-4: #{$color-primary-4};

	--color-primary-resume-1: #{$color-primary-resume-1};
	--color-primary-resume-2: #{$color-primary-resume-2};
	--color-primary-resume-3: #{$color-primary-resume-3};
	--color-primary-resume-4: #{$color-primary-resume-4};

	--color-primary-bridge-2: #{$color-primary-bridge-2};
	--color-primary-bridge-4: #{$color-primary-bridge-4};
	--color-primary-bridge-3: #{$color-primary-bridge-3};
	--color-primary-bridge-1: #{$color-primary-bridge-1};

	--color-primary-downloader-1: #{$color-primary-downloader-1};
	--color-primary-downloader-3: #{$color-primary-downloader-3};
	--color-primary-downloader-2: #{$color-primary-downloader-2};
	--color-primary-downloader-4: #{$color-primary-downloader-4};
}
