%svg-behavior {
	transition: opacity $animation-duration $animation-easing-standard;
	cursor: pointer;
	fill: rgba(var(--svg-fill-color), 1);

	&:hover {
		fill: rgba(var(--svg-fill-color), 0.75);
	}

	&:active,
	&:focus {
		fill: rgba(var(--svg-active-color), 1);
	}
}

.audio-player {
	--background-color: rgba(var(--color-primary-2-rgb), 1);
	--color: var(--color-primary-4);
	--svg-fill-color: var(--color-primary-4-rgb);
	--svg-active-color: var(--color-primary-3-rgb);
	--svg-size: 7vmin;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: auto;
	color: var(--color);
	background-color: var(--background-color);
	z-index: 10;
	transform: translateY(100%);
	transition: 
		transform $animation-duration
		$animation-easing-standard,
		opacity $animation-duration * .5 $animation-easing-standard,
		;

	@include respond(nav-switch) {
		--svg-size: #{$default-font-size * 4};
	}

	@include respond(small-font) {
		--svg-size: #{$default-font-size * 3};
	}

	&__controls {
		display: flex;
		justify-content: center;
		align-items: center;

		&
			svg:not(.audio-player__restart, .audio-player__backward, .audio-player__forward) {
			width: var(--svg-size);
			height: var(--svg-size);
		}

		& svg {
			@extend %svg-behavior;
		}

		& > div {
			position: relative;
			width: var(--svg-size);
			height: var(--svg-size);

			& > svg {
				position: absolute;
			}
		}
	}

	&__details {
		font-size: $default-font-size * 1.5;
		padding: $default-font-size * 0.25;

		&-time {
			margin-left: $default-font-size * 1;
		}
	}

	&__progress {
		cursor: pointer;
		background-color: rgba(var(--svg-fill-color), 0.2);
		width: 100%;
		height: $default-font-size * 1.5;

		& > div {
			align-self: flex-start;
			background-color: var(--color);
			height: 100%;
		}
	}

	&__backward,
	&__forward {
		width: calc(var(--svg-size) * 1.090838207);
		height: calc(var(--svg-size) * 1.090838207);
	}

	&__toggler {
		--padding: #{$default-font-size} * 0.5;
		position: absolute;
		bottom: 0;
		right: 0;
		height: calc(100% + var(--svg-size) + var(--padding));
		background-color: var(--background-color);
		z-index: -1;
		border-radius: $default-font-size;

		& svg {
			transform: rotate(90deg);
			width: calc(var(--svg-size) * 1.131266846);
			height: calc(var(--svg-size) * 1.131266846);
			@extend %svg-behavior;
		}
	}

	&__restart {
		width: calc(var(--svg-size) * 0.75);
		height: calc(var(--svg-size) * 0.75);
	}
}
