.bg-video {
  opacity: 0.075;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  clip-path: polygon(
    10% 0%,
    10% 100%,
  );

  & video {
      height: 100%;
      width: 100%;
      object-fit: cover;
  }
}