.card {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: text; /* Safari 'none' or 'text' here 'all' has issues*/
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */

	cursor: pointer;
	z-index: $card-z-index;
	backface-visibility: hidden;
	color: var(--color-primary-1);
	position: relative;
	// height: $card-height;
	// width: $card-height * 2 / 3;
	display: grid;
	grid-template-rows: $card-header-height 1fr;
	align-items: center;
	justify-items: center;
	transform: scale(var(--card-scale-amount));
	transition: transform $animation-duration $animation-easing-standard;

	&__checkbox {
		display: none;
	}

	&__children {
		display: none;
		opacity: 0;
		padding: 0 $default-font-size * 2;
	}

	&__image {
		width: 100%;
		position: absolute;
		// opacity: .3;
		z-index: -1;
	}
	&__title {
		grid-column: 1/-1;
		backface-visibility: hidden;
		text-align: center;
		font-size: $default-font-size * 1.5;
		height: 100%;
		width: 100%;
		// padding: $default-font-size;
	}
	&__text {
	}

	&__content {
		width: 100%;
		display: grid;
		grid-template-columns: 80% 20%;
	}

	&__play,
	&__pause,
	&__close,
	&__stop {
		cursor: pointer;
		opacity: 0;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 50%;
		width: 50%;
		fill: rgba($color-primary-bridge-1, 0.5);
		z-index: 10;
		position: absolute;
		transition: opacity $animation-duration $animation-easing-standard,
			fill $animation-duration $animation-easing-standard;
	}

	&__pause {
		top: 76.5%;
		left: 33%;
		width: 10%;
		height: 10%;
	}

	&__stop {
		top: 76.5%;
		left: 66%;
		width: 10%;
		height: 10%;
	}

	&__close {
	}

	&__current-svg {
		z-index: 10;
		opacity: $card-initial-opacity;
	}

	& * {
		backface-visibility: hidden;
	}

	&--hoverable {
		&:hover {
			--card-scale-amount: 1.5;
			// transform: perspective(#{$default-font-size * 3}) translate3d(0,#{$default-font-size},#{$default-font-size * 1}) ;
			z-index: $card-z-index + 1;
		}

		&:not(.card--done, .card--open):hover .card__play {
			opacity: $card-initial-opacity * 2;
			fill: rgba($color-primary-bridge-1, 1);
		}

		&:is(.card--open, .card--done) hover .card__close {
			opacity: 1;
		}
	}

	&--open {
		transform: var(--card-playing-transform);
		// width: calc(#{$resume-card-width-full} - var(--scrollbar-width));
		z-index: 2;
		grid-template-rows: auto;

		& .card__content {
			// height: 67%;
			height: 100%;
			// width: 94.4%;
		}

		& .card__image {
				width: 102%;
		}

		& .card__title {
			font-size: $default-font-size * 0.5;
		}
		& .fg-video {
			opacity: 1;
			grid-column: 1/-1;
			position: relative;

			& video {
				object-fit: contain;
			}
		}

		& .card__current-svg {
			opacity: 0;
		}

		& .card__play {
			opacity: 0;
		}

		& .card__stop,
		& .card__pause {
			opacity: $card-initial-opacity * 2;
			fill: var(--color-primary-2);
		}

		&:hover :is(.card__close, .card__pause) {
			opacity: 1;
		}

		&:hover .card__stop {
			opacity: $card-initial-opacity * 2;
		}
	}

	&--done {
		grid-template-rows: auto;
		cursor: auto;

		& .card__close {
			opacity: 1;
			z-index: $card-z-index + 10;
		}

		& .card__image {
			width: 102%;
		}
	}
}
