.card {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: text; /* Safari 'none' or 'text' here 'all' has issues*/
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */

	cursor: pointer;
	z-index: $card-z-index;
	backface-visibility: hidden;
	color: var(--color-primary-1);
	position: relative;
	// height: $card-height;
	// width: $card-height * 2 / 3;
	display: grid;
	grid-template-rows: $card-header-height 1fr;
	align-items: center;
	justify-items: center;
	transform: scale(var(--card-scale-amount));
	transition: transform $animation-duration $animation-easing-standard;

	&__checkbox {
		display: none;
	}

	&__children {
		opacity: 0;
		position: absolute;
    left: 50%;
    // top: 47%;
    top: 5%;
    transform: translate(-50%, -50%);
    font-size: $default-font-size * .25;
    background-color: var(--color-primary-4);
    border: .1px solid var(--color-primary-1);
    // padding: 0.33rem;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
		transition:
			opacity $animation-duration * 3 $animation-easing-standard,
			transform $animation-duration $animation-easing-standard-easeInOutBack,
		;		

		& p {
			padding: $default-font-size * .25;
		}

		&-toggler {
			// position: absolute;
			// left: 0;
			// top: 50%;
			// transform: translate(-50%, -50%) rotate(-90deg);
			// width: $default-font-size;
			// transform: translate(100%, -50%);
		}
	}

	&__image {
		width: 100%;
		position: absolute;
		// opacity: .3;
		z-index: -1;
	}
	&__title {
		grid-column: 1/-1;
		backface-visibility: hidden;
		text-align: center;
		font-size: $default-font-size * 1.5;
		height: 100%;
		width: 100%;
		// padding: $default-font-size;
	}
	&__text {
	}

	&__content {
		// width: 85%;
		display: grid;
		grid-template-columns: 80% 20%;
	}

	&__play, &__pause, &__close, &__stop,	&__restart {
		cursor: pointer;
		opacity: 0;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 50%;
		width: 50%;
		fill: rgba($color-primary-bridge-2, 1);
		z-index: 10;
		position: absolute;
		transition: opacity $animation-duration $animation-easing-standard,
			fill $animation-duration $animation-easing-standard
		;
	}

	&__pause {
		top: $card-pause-and-stop-top;
		left: 25%;
		width: $card-pause-and-stop-width;
		height: $card-pause-and-stop-width;
	}

	&__stop {
		top: $card-pause-and-stop-top;
		left: 75%;
		width: $card-pause-and-stop-width;
		height: $card-pause-and-stop-width;
	}

	&__close {
	}

	&__restart {
		top: $card-pause-and-stop-top;
		left: 50%;
		width: $card-pause-and-stop-width * .75;
		height: $card-pause-and-stop-width * .75;
	}

	&__current-svg {
		z-index: 10;
		opacity: $card-initial-opacity;
	}

	& * {
		backface-visibility: hidden;
	}

	&--hoverable {
		&:hover {
			--card-scale-amount: 1.5;
			// transform: perspective(#{$default-font-size * 3}) translate3d(0,#{$default-font-size},#{$default-font-size * 1}) ;
			z-index: $card-z-index + 1;
		}

		&:hover .card__children {
			z-index: $card-z-index;
		}

		&:not(.card--done, .card--open):hover .card__play {
			opacity: $card-initial-opacity * 2;
			fill: rgba($color-primary-bridge-1, 1);
		}

		&:is(.card--open, .card--done):hover .card__close {
			opacity: .5;
		}
	}

	&--open {
		transform: var(--card-playing-transform);
		// width: calc(#{$resume-card-width-full} - var(--scrollbar-width));
		z-index: 2;
		grid-template-rows: auto;

		& .card__content {
			// height: 67%;
			height: 100%;
			// width: 94.4%;
		}

		& .card__image {
				width: 102%;
		}

		& .card__title {
			font-size: $default-font-size * 0.5;
		}
		& .fg-video {
			opacity: 1;
			grid-column: 1/-1;
			position: relative;

			& video {
				object-fit: contain;
			}
		}

		& .card__current-svg {
			opacity: 0;
		}

		& .card__play {
			opacity: 0;
		}

		& .card__stop,
		& .card__pause {
			// opacity: $card-initial-opacity * 2;
			fill: var(--color-primary-2);
		}

		& .card__close:hover {
			opacity: 1 !important;
		}

		&:hover .card__close {
			opacity: 1;
		}

		&:hover :is(.card__pause, .card__stop, .card__restart) {
			opacity: $card-initial-opacity * 2;
		}

		// &:hover .card__stop {
		// 	opacity: $card-initial-opacity * 2;
		// }
	}

	&--done {
		grid-template-rows: auto;
		cursor: auto;

		& .card__close {
			z-index: $card-z-index + 10;
			
			&:hover {
				opacity: 1 !important;
			}
		}

		& .card__image {
			width: 102%;
		}

		& .card__children {
			opacity: 1;
			z-index: 100;
		}

		& .card__pause{
			opacity: 0;

			
		}

		&:hover :is(.card__pause, .card__stop) {
			opacity: 0;
		}
	}
}
