.card {
	cursor: pointer;
	z-index: $card-z-index;
	backface-visibility: hidden;
	color: var(--color-primary-1);
	position: relative;
	// height: $card-height;
	// width: $card-height * 2 / 3;
	display: grid;
	grid-template-rows: $card-header-height 1fr;
	align-items: center;
	justify-items: center;
  transform: scale(var(--card-scale-amount));
	transition: 
		transform $animation-duration $animation-easing-standard,
	;

  &__checkbox {
    display: none;
  }

	&__children { 
		display: none;
		opacity: 0;
		padding: 0 $default-font-size * 2;
	}

	&__image {
		width: 100%;
		position: absolute;
    // opacity: .3;
		z-index: -1;
	}
	&__title {
		grid-column: 1/-1;
		backface-visibility: hidden;
		text-align: center;
		font-size: $default-font-size * 1.5;
		height: 100%;
    width: 100%;
		padding: $default-font-size;
	}
	&__text {
		
	}

	& svg {

		z-index: 10;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 50%;
		width:50%;
		fill: rgba($color-primary-bridge-1, .5);

		transition: 
			opacity $animation-duration $animation-easing-standard,
			fill $animation-duration $animation-easing-standard,
		;

	}

	&__content {
		width: 100%;
		display: grid;
		grid-template-columns: 80% 20%;
	}

	&__play {
		opacity: 0;
	}
	
	&__pause {
		opacity: 0;
	}
	
	&__stop {
		opacity: 0;
	}

	&__current-svg {
		z-index: 10;
		opacity: .5;
	}

	& * {
		backface-visibility: hidden;
	}

	&--hoverable{
		&:hover {
			--card-scale-amount: 1.5;
			// transform: perspective(#{$default-font-size * 3}) translate3d(0,#{$default-font-size},#{$default-font-size * 1}) ;
			z-index: $card-z-index + 1;
		}

		&:hover &__current-svg {
			opacity: 1;
			fill: rgba($color-primary-bridge-1, 1);
		}
	}

  &--playing {
    transform: var(--card-playing-transform);
  }

}