$carousel-width: 50vw;
$carousel-grid-column-gap: $default-font-size;
$carousel-grid-width: calc(
	(#{$resume-card-width-full} - 2 * #{$carousel-grid-column-gap}) / 3
);

.carousel {
	grid-column: 2 / span 3;
	display: grid;
	grid-column-gap: $carousel-grid-column-gap;
	grid-template-columns: repeat(
		auto-fit,
		minmax($carousel-grid-width, $default-font-size)
	);
	justify-items: flex-start;
	align-items: flex-start;
	overflow: hidden;
  

	@include respond(nav-switch) {
		width: 100%;
    justify-content: center;
		grid-column-gap: $default-font-size / 2;
		grid-template-columns: repeat(
			auto-fit,
			minmax(
				$default-font-size *5,
        $default-font-size * 21
			)
		);
		grid-row-gap: $default-font-size * .5;
	}

  &__dots {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;    

    @include respond(nav-switch) {
      display: none;
    }
  }

  &__dot {
    position: relative;
    z-index: 6;
    cursor: pointer;
    width: $navbar__logo-width / 2;
    height: $navbar__logo-width / 2;
    fill: var(--color-primary-4);

    &--active {
      fill: var(--color-primary-2) !important;
    }
  }

	&__arrow-button {
		position: relative;
		z-index: 100;
		// transform: none;
		justify-self: center;
		align-self: center;
		cursor: pointer;

    @include respond(nav-switch) {
      display: none;
    }

		&--left {
			grid-column: 2 / span 1;
			grid-row: 2 / span 1;
			transform: rotate(90deg);
		}

		&--right {
			grid-column: 4 / span 1;
			grid-row: 2 / span 1;
			transform: rotate(-90deg);
		}

		& svg {
			width: $navbar__logo-width;
			height: $navbar__logo-width;
			fill: var(--color-primary-4);

			@include respond(nav-switch) {
				width: $default-font-size * 5;
				height: $default-font-size * 5;
			}

			&:hover,
			&:active,
			&:focus {
				fill: var(--color-primary-3);
			}
		}
	}

	&__image {
		border: $default-font-size * 0.1 solid var(--color-primary-4);
		border-radius: $default-font-size * 2;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 6;
		position: relative;
		transform: translateX(var(--carousel-image-translation-x));
		transition: transform $animation-duration / 2 $animation-easing-standard,
			filter $animation-duration / 2 $animation-easing-standard;

		cursor: pointer;
		-webkit-user-drag: none;
		-khtml-user-drag: none;
		-moz-user-drag: none;
		-o-user-drag: none;

		-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: text; /* Safari 'none' or 'text' here 'all' has issues*/
		-khtml-user-select: none; /* Konqueror HTML */
		-moz-user-select: none; /* Old versions of Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
		user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */

		@include respond(nav-switch) {
			width: 100%;
		}

		&:not(.full-screen):hover,
		&:not(.full-screen)focus,
		&:not(.full-screen)active {
			filter: sepia(0.75);
		}
	}
}
