$carousel-width: 50vw;
$carousel-grid-column-gap: $default-font-size;
$carousel-grid-width: calc(
	(
		#{$resume-card-width-full} 
		- 2 * #{$carousel-grid-column-gap}
		- .3rem
	) / 3
);

.carousel {
	grid-column: 2 / span 3;
	display: grid;
	grid-column-gap: $carousel-grid-column-gap;
	grid-template-columns: repeat(
		auto-fit,
		minmax($carousel-grid-width, $default-font-size)
		);
	padding: 0 0 0 .2rem;
	justify-items: flex-start;
	align-items: flex-start;
	overflow: hidden;
  

	@include respond(nav-switch) {
		width: 100%;
    justify-content: center;
		grid-column-gap: $default-font-size / 2;
		grid-template-columns: repeat(
			auto-fit,
			minmax(
				$default-font-size *5,
        $default-font-size * 21
			)
		);
		grid-row-gap: $default-font-size * .5;
	}

  &__dots {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;    

    @include respond(nav-switch) {
      display: none;
    }
  }

  &__dot {
    position: relative;
    z-index: 6;
    cursor: pointer;
    width: $navbar__logo-width / 2;
    height: $navbar__logo-width / 2;
    fill: var(--color-primary-4);

    &--active {
      fill: var(--color-primary-2) !important;
    }
  }

	&__arrow-button {
		position: relative;
		z-index: 100;
		// transform: none;
		justify-self: center;
		align-self: center;
		cursor: pointer;

    @include respond(nav-switch) {
      display: none;
    }

		&--left {
			grid-column: 2 / span 1;
			grid-row: 2 / span 1;
			transform: rotate(90deg);
		}

		&--right {
			grid-column: 4 / span 1;
			grid-row: 2 / span 1;
			transform: rotate(-90deg);
		}

		& svg {
			width: $navbar__logo-width;
			height: $navbar__logo-width;
			fill: var(--color-primary-4);

			@include respond(nav-switch) {
				width: $default-font-size * 5;
				height: $default-font-size * 5;
			}

			&:hover,
			&:active,
			&:focus {
				fill: var(--color-primary-3);
			}
		}
	}

	&__item {
		position: relative;
		z-index: 6;
		font-size: $default-font-size;
		width: 100%;
		height: $default-font-size * 20;

		border: $default-font-size * 0.1 solid var(--color-primary-4);
		border-radius: $default-font-size * .5;
		overflow: hidden;

		transform: translateX(var(--carousel-item-translation-x));
		transition: 
			transform $animation-duration / 2 $animation-easing-standard
		;

		&--full-screen{
			width: 100vw;
			height: 100vh;
			position: fixed;
			top: 0;
			left: 0;
			z-index: 100000;
    	transform: translate(0,0);
			transition: none;
			border: none;
			border-radius: 0;


			& .carousel__image-description {
				display: flex;
				font-size: $default-font-size * 2;
				justify-content: center;
				align-items: center;
				position: fixed;
				min-height: calc(100vh - #{$downloader-image-full-screen-height});
				background: var(--color-primary-4);

				@include respond(nav-switch) {
					font-size: $default-font-size * 1.5;					
				}
			}
		}
	}

	&__video {
		cursor: pointer;
		&.fg-video {
			opacity: 1;
			video {
				height: 100%;
				object-position: top left;
			}
		}

		&-svg {
			pointer-events: none;
			width: $default-font-size * 6;
			height: $default-font-size * 6;
			fill: var(--color-primary-4);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			transition:  
				fill $animation-duration / 4 $animation-easing-standard,
			;
		}

		&:hover + &-svg {
			fill: var(--color-primary-3);
		}
	}

	&__image {
		
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: top;
	
		// transition: 
		// 	filter $animation-duration / 2 $animation-easing-standard
		// ;

		cursor: pointer;
		-webkit-user-drag: none;
		-khtml-user-drag: none;
		-moz-user-drag: none;
		-o-user-drag: none;

		-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: text; /* Safari 'none' or 'text' here 'all' has issues*/
		-khtml-user-select: none; /* Konqueror HTML */
		-moz-user-select: none; /* Old versions of Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
		user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */

		@include respond(nav-switch) {
			width: 100%;
		}

		&:not(.full-screen):hover,
		&:not(.full-screen)focus,
		&:not(.full-screen)active {
			filter: sepia(0.15);
		}

		&-description {		
			display: none;
			justify-content: center;
    	align-items: center;
			font-size: $default-font-size * 1;
			text-align: center;
			left: 0;
			bottom: 0;
			width: 100%;
			position: absolute;
			color: var(--color-primary-1);
			z-index: 10000;
			background: rgba($color-primary-downloader-4, .5);
			padding: $default-font-size;
			// display: none;	
			// height: 100vh;
			// border: none;
			// border-radius: 0;
			// object-fit: contain;
			// backdrop-filter: blur($default-font-size) sepia(0) brightness(0.25);
			// transform: translate(0,0);
			// transition: none;	
		}		
	}

	&__item:hover &__image-description, &__item:active &__image-description, &__item:focus &__image-description {
		display: flex;
	}
}
