$carousel-width:50vw;
// $carousel-height: 50vh;

.carousel {
  width: $carousel-width;
  // height: $carousel-height;
  display: grid;
  grid-column-gap: $default-font-size;
  grid-template-columns: repeat(auto-fill, minmax($carousel-width / 3, $default-font-size));
  // grid-template-rows: $carousel-height;
  justify-items: flex-start;
  align-items: flex-start;
  overflow: hidden;

  @include respond(nav-switch) {
    width: 100%;
    grid-column-gap: $default-font-size / 2;
    grid-template-columns: repeat(auto-fill, minmax(calc(100vw / 3 - #{$default-font-size} * .875), $default-font-size));

  }
  // &__item{
  //   border: 1px solid black;
  //   border-radius: $default-font-size * 2;
  //   width: calc(#{$carousel-width} / 3 - (#{$default-font-size} * 2));
  //   overflow: hidden;

  // }

  &__image {
    border: $default-font-size * .1 solid var(--color-primary-4);
    // box-shadow: $navbar-box-shadow-resume;
    border-radius: $default-font-size * 2;
    width: calc(#{$carousel-width} / 3 - (#{$default-font-size} * 2));
    height: 100%; 
    object-fit: cover;
    z-index: 10;
    position: relative;
    transition: 
      transform $animation-duration $animation-easing-modern,
    ;
    
    cursor: pointer;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;

    @include respond(nav-switch) {
      width: 100%;
    }
  }
}