%quote-basic {
	position: absolute;
	font-size: $default-font-size * 8;
	opacity: 0.25;
	color: var(--color-primary-1);
}

.quote {
	cursor: pointer;
	text-align: center;
	position: relative;

	&:hover {
		&::before,
		&::after {
			opacity: 0.5;
		}
	}

	&::before {
		content: "\201C";
		top: 0;
		left: -$default-font-size;
		@extend %quote-basic;
	}

	&::after {
		content: "\201D";
		bottom: 0;
		right: -$default-font-size;
		@extend %quote-basic;
	}

	&__message {
		position: relative;
		font-style: italic;
		font-size: $default-font-size * 2;
		font-family: $font-family-fancy-bridge;
	}

	&__author {
		padding-top: $default-font-size;
		font-size: $default-font-size * 1.5;
		font-family: $font-family-headers;
	}
}
