.skills-popup {
	color: rgba($color-primary-resume-1, $resume-color-opacity);
	position: fixed;
	top: 0;
	left: 0;
	font-size: $default-font-size * 1;
	backdrop-filter: blur(10px) brightness(0.5);
	width: 100vw;
	height: 100vh;
	opacity: 0;
	visibility: hidden;
	z-index: 10000;
	transition: opacity $animation-duration * 1.5 $animation-easing-standard,
		visibility $animation-duration * 1.5 $animation-easing-standard;

	&__content {
		overflow-y: auto;
		overflow-x: hidden;
		width: $default-font-size * 62.5;
		max-width: 90vw;
		max-height: 90vh;
		height: 100%;
		background-color: var(--color-primary-4);
		padding: $default-font-size * 2;
		border: $default-font-size * 0.15 solid var(--color-primary-1);
		box-shadow: 0 0 $default-font-size * 1.5 0 var(--color-primary-1);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, 200%);
		border-radius: $default-font-size * 0.5;
		transition: transform $animation-duration * 1.5
			$animation-easing-standard-easeInOutBack-smaller;
		@include respond(nav-switch) {
			padding: $default-font-size * 1 $default-font-size * 1.5;
		}
		@include respond(small-font) {
			max-width: 95vw;
			max-height: 95vh;
		}
	}

	&__header {
		font-size: $default-font-size * 2;
		font-weight: 100;
		text-align: center;
		margin-bottom: $default-font-size * 1.5;
		display: grid;
		grid-template-columns: 1fr min-content;

		@include respond(nav-switch) {
			border-bottom: $default-font-size * 0.1 solid var(--color-primary-1);
			margin-bottom: $default-font-size * 0.5;
			font-size: $default-font-size * 1.5;
		}

		&-text {
			margin-right: $default-font-size * 1.5;
		}
		&-skill {
			font-weight: 400;
		}
	}

	&__table {
		display: grid;
		grid-template-columns:
			minmax($default-font-size * 6.25, max-content) minmax(
				$default-font-size * 12.5,
				1fr
			)
			repeat(2, minmax($default-font-size * 6.25, min-content)) min-content;

		@include respond(nav-switch) {
			display: flex;
			flex-direction: column;
			// justify-content: center;
			// align-items: center;
		}

		&-repo {
			position: relative;
			grid-column: 1/-1;
			padding-right: $default-font-size * 3;

			&:nth-last-child(n + 2) {
				border-bottom: $default-font-size * 0.1 solid
					var(--color-primary-1-light);
			}
		}

		&-header {
			font-weight: 700;
			border-bottom: $default-font-size * 0.1 solid var(--color-primary-1);
			display: flex;
			align-items: center;
			text-align: center;
		}
		&-item {
			border-bottom: 1px solid var(--color-primary-1-light);
			font-weight: 400;
			font-family: $font-family-text;
			// border-bottom: 1px solid transparent;
			display: flex;
			align-items: center;
			padding: $default-font-size * 1.5 $default-font-size * 2
				$default-font-size * 1.5 0;
			transition: border $animation-duration * 0.5 $animation-easing-standard;

			@include respond(nav-switch) {
				border: none;
				padding: $default-font-size 0;

				&:nth-child(n + 4) {
					padding-top: 0;
				}

				&:nth-child(3) {
					display: grid;
					grid-template-columns: max-content 1fr;
					column-gap: $default-font-size;
				}

				.skills-popup__table-repo > &:first-child {
					font-size: $default-font-size * 1.1;
					display: grid;
					grid-template-columns: max-content 1fr;
					column-gap: $default-font-size;
				}

				.skills-popup__table-repo > &:last-child {
					position: absolute;
					top: $default-font-size * 0.75;
					right: 0;
				}

				& .skills-popup__table-item {
					padding: 0;
				}
			}

			& span {
				border-bottom: $default-font-size * 0.1 solid transparent;
				font-style: normal;

				@include respond(nav-switch) {
					&:nth-child(2n + 1) {
						font-weight: 700;
					}
				}
			}

			&.skills-popup__description {
				display: inline;
				& a {
					text-decoration: none;
					&:hover {
						border-image: none;
						// color: var(--color-primary-2);
					}
				}
			}

			&:nth-child(5n + 3),
			&:nth-child(5n + 4) {
				padding-right: $default-font-size;
			}

			&:nth-child(5n + 5) {
				padding-right: 0;
			}
		}
	}

	&__url {
		backface-visibility: hidden;
		display: flex;
		justify-content: center;
		& svg {
			fill: var(--color-primary-1);
			height: $default-font-size * 2;
			width: $default-font-size * 2;

			transition: color $animation-duration * 0.5 $animation-easing-standard,
				transform $animation-duration * 0.5 $animation-easing-standard;
		}
		&:hover svg {
			fill: var(--color-primary-2);
			transform: scale(1.15);
		}
	}

	&__hint {
		font-size: $default-font-size * 0.75;
		font-style: italic;

		@include respond(nav-switch) {
			padding-bottom: $default-font-size;
		}
	}

	&__close {
		cursor: pointer;
		fill: var(--color-primary-1);
		height: $default-font-size * 2;
		width: $default-font-size * 2;
		margin-left: auto;
		backface-visibility: hidden;
		transition: fill $animation-duration * 0.25 $animation-easing-standard,
			transform $animation-duration * 0.25 $animation-easing-standard;
		&:hover {
			fill: var(--color-primary-2);
			transform: scale($scale-amount * 1.1);
		}
	}

	&__link {
		cursor: pointer;
		text-decoration: none;
		position: relative;

		&-text {
			@include link-line;
			// transition: border $animation-duration * 0.1 $animation-easing-standard,
			// 	color $animation-duration * 0.1 $animation-easing-modern;

			&::before {
				border-radius: 100%;
				background-image: linear-gradient(
					to bottom,
					var(--color-primary-1) 0%,
					var(--color-primary-4) 5%,
					var(--color-primary-4) 95%,
					var(--color-primary-4) 100%
				);
				content: "";
				position: absolute;
				top: 50%;
				left: 0%;
				opacity: 0;
				width: 1px;
				height: $default-font-size * 4;
				// max-height: calc(100% - .8rem);
				transform: translate(0%, -50%);
				z-index: -1;
				transition: opacity $animation-duration * 0.25
						cubic-bezier(1, 0, 0.25, 0.55) $animation-duration * 0.25,
					height $animation-duration * 0.25 $animation-easing-modern
						$animation-duration * 0.25,
					width $animation-duration * 0.25 $animation-easing-modern,
					border-radius $animation-duration * 0.25 $animation-easing-standard
						$animation-duration * 0.25;
			}
		}

		&:hover {
			// @include skills-popup-item-hover;
		}

		&:hover &-text::before {
			@include skills-popup-link-hover;

			@include respond(nav-switch) {
				opacity: 0;
			}
		}

		&:hover &-text {
			color: var(--color-primary-1);
			// border-image: linear-gradient(to right, var(--color-primary-2) 0%, var(--color-primary-3) 50%, var(--color-primary-3) 50%, var(--color-primary-2) 100%);
			// border-bottom: 1px solid 0,0,0;
			// border-image: linear-gradient(
			// 	to bottom,
			// 	var(--color-primary-4),
			// 	var(--color-primary-4)
			// );
			border-image: none;
			border-image-slice: 1;
		}
	}

	&__error {
		grid-column: 1 /-1;
		justify-self: center;
		margin-top: 30vh;
		font-size: $default-font-size * 2;
	}

	&--active {
		opacity: 1;
		visibility: visible;

		& .skills-popup__content {
			transform: translate(-50%, -50%);
		}
	}

	//JS
	// &__item-js--hover {
	// @include skills-popup-item-hover;
	// }
	&__link-js--hover > div::before {
		@include skills-popup-link-hover;
	}

	//This has to go at the end to override a previous style
	&__table-item.skills-popup__link {
		border-bottom: none;
	}

	&__content::-webkit-scrollbar {
		width: $default-font-size;
	}

	&__content::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		border-radius: $default-font-size;
	}

	&__content::-webkit-scrollbar-thumb {
		border-radius: $default-font-size;
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
	}
}
