
.bg-video {
  opacity: 0.075;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  // animation: 5s bridge-hero-windshield 1;
  // animation: 5s bridge-hero-windshield-two infinite;
  clip-path: $animation-bridge-windshield-two-start;
  transition: clip-path $bridge-hero-animation-duration  $animation-easing-standard;
  
  // &:hover {
  //   clip-path: $animation-bridge-windshield-two-end;

  // }

  & video {
      height: 100%;
      width: 100%;
      object-fit: cover;
  }
}


.fg-video {
  opacity: .075;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  & video {
      height: 100%;
      width: 100%;
      object-fit: cover;
  }
}



