.replay-viewer {
	background-color: rgba(var(--color-primary-red-rgb), .5);
	fill: var(--color-primary-2);
	background-size: 50px 50px;
	background-repeat: repeat;
  background-image:url($replay-viewer-background);
}
