/* global reset;  box-sizing is set on body and set to inherit on all other elements */
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 62.5% of the browser supplied font-size is usually 16px */
  /* bad practice to declarer px font-size here as it removes users ability to set font-size in browser */
  font-size: 62.5%;
  box-sizing: border-box;
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 43.75%;
  }
}
@media only screen and (max-width: 42.8125em) {
  html {
    font-size: 37.5%;
  }
}
@media only screen and (max-width: 36.9375em) {
  html {
    font-size: 31.25%;
  }
}
@media only screen and (max-width: 30.5em) {
  html {
    font-size: 1.03vmin;
  }
}

/* everything related to font goes in body */
body {
  font-weight: 400;
  line-height: 1.5;
  font-family: "Cinzel", sans-serif;
  color: #fbeeac;
  background-image: linear-gradient(to right, #28527a, rgba(40, 82, 122, 0.75));
}

#root {
  display: grid;
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end grid-end];
}

.heading {
  font-family: "Cinzel", serif;
}
.heading--one {
  font-size: 4.8rem;
}
.heading--two {
  font-size: 3.2rem;
}
.heading--three {
  font-size: 2.4rem;
}
.heading--four {
  font-size: 2rem;
}
.heading--five {
  font-size: 1.6rem;
}
.heading--six {
  font-size: 1.36rem;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: 1.6rem;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-small {
    margin-bottom: 0.8rem;
  }
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-medium {
    margin-bottom: 2rem;
  }
}

.u-margin-bottom-large {
  margin-bottom: 8rem;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-large {
    margin-bottom: 4rem;
  }
}

.u-margin-bottom-huge {
  margin-bottom: 9.6rem;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-huge {
    margin-bottom: 4.8rem;
  }
}

.u-margin-top-small {
  margin-top: 1.6rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-top-small {
    margin-top: 1.6rem !important;
  }
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-top-medium {
    margin-top: 2rem !important;
  }
}

.u-margin-top-large {
  margin-top: 8rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-top-large {
    margin-top: 4rem !important;
  }
}

.u-margin-top-huge {
  margin-top: 9.6rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-top-huge {
    margin-top: 4.8rem !important;
  }
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.text-align-center {
  text-align: center !important;
}

.flex {
  display: flex !important;
}

.align-center {
  align-items: center !important;
}

.justify-content-center {
  justify-content: center !important;
}

.overflow--hidden {
  overflow: hidden !important;
}

.triangle-down {
  margin-left: 0.8rem;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.528rem 0 0.528rem 1.2rem;
  border-color: transparent transparent transparent #8ac4d0;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row::after {
  display: table;
  clear: both;
  content: "";
}
@media only screen and (max-width: 56.25em) {
  .row {
    max-width: 85.6rem;
    padding: 0 3rem;
  }
}
@media only screen and (max-width: 42.8125em) {
  .row {
    margin: 0;
    max-width: 100%;
  }
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
@media only screen and (max-width: 56.25em) {
  .row:not(:last-child) {
    margin-bottom: 6rem;
  }
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
@media only screen and (max-width: 56.25em) {
  .row [class^=col-]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .row [class^=col-] {
    width: 100% !important;
  }
}
.row .col-1-of-2 {
  width: calc((100% - 1 * 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
.row .col-2-of-3 {
  width: calc((2 * (100% - 2 * 6rem) / 3) + 6rem);
}
.row .col-2-of-4 {
  width: calc((100% - 1 * 6rem) / 2);
}
.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

.navbar {
  z-index: 10000;
  border-radius: 16rem 0 0 16rem;
  position: fixed;
  top: 3.2rem;
  left: 4rem;
  font-size: 2.4rem;
  text-align: center;
  display: flex;
  align-items: center;
}
.navbar__menu {
  width: 8rem;
  height: 8rem;
  position: relative;
}
.navbar__menu-bar, .navbar__menu-bar::before, .navbar__menu-bar::after {
  background-color: #28527a;
  height: 0.4rem;
  width: 3.2rem;
}
.navbar__menu-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navbar__menu-bar, .navbar__menu-bar::before, .navbar__menu-bar::after {
  transition: transform 0.25s ease, width 0.25s ease;
}
.navbar__menu-bar::before, .navbar__menu-bar::after {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
}
.navbar__menu-bar::before {
  transform: translate(-50%, calc(-.8rem - 50%));
}
.navbar__menu-bar::after {
  transform: translate(-50%, calc(+.8rem + 50%));
}
.navbar__menu:hover .navbar__menu-bar::before {
  transform: translate(-50%, calc(-1.2rem - 50%));
}
.navbar__menu:hover .navbar__menu-bar::after {
  transform: translate(-50%, calc(+1.2rem + 50%));
}
.navbar.navbar--active .navbar__menu-bar::before {
  transform: rotate(105deg) translate(0.2rem, 2.2rem);
}
.navbar.navbar--active .navbar__menu-bar {
  width: 20%;
}
.navbar.navbar--active .navbar__menu-bar::after {
  transform: rotate(-105deg) translate(0rem, -0.8rem);
}
.navbar__content {
  visibility: hidden;
  width: 100%;
  transform: translateX(-125%);
  transition: visibility 0.5s ease, transform 0.5s ease;
}
.navbar__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.navbar__list .navbar__item:first-child {
  border-radius: 0.8rem 0 0 0.8rem;
}
.navbar__list .navbar__item:nth-child(n+1) {
  margin-left: 0.32rem;
}
.navbar__list .navbar__dropdown .navbar__item {
  margin-left: 0;
}
.navbar__item {
  position: relative;
  background-color: #fbeeac;
  cursor: pointer;
  height: 100%;
  width: 100%;
  transition: transform 0.125s ease, background-color 0.125s ease;
}
.navbar__item .triangle-down {
  transition: transform 0.25s ease;
}
.navbar__item:hover {
  background-color: #28527a;
}
.navbar__item:not(.navbar__dropdown-container):hover {
  transform: translateY(-0.32rem);
  box-shadow: 0 0.8rem 3.2rem rgba(0, 0, 0, 0.2);
}
.navbar__item:hover .triangle-down {
  transform: rotate(90deg);
}
.navbar__item:last-child {
  border-radius: 0 10rem 10rem 0;
}
.navbar__link:link, .navbar__link:visited {
  padding: 2.25rem 0;
  font-size: 3.2rem;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #28527a;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  transition: padding 0.5s ease;
}
.navbar__link:link:hover, .navbar__link:visited:hover {
  color: #fbeeac;
}
.navbar__button {
  cursor: pointer;
  z-index: 100;
  background-color: #fbeeac;
  border-radius: 16rem;
  display: flex;
  align-items: center;
  transition: border-radius 0.5s ease;
}
.navbar__dropdown {
  visibility: hidden;
  opacity: 0;
  transform: translateY(0%);
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  height: auto;
  list-style: none;
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease;
}
.navbar__dropdown .navbar__item {
  opacity: 0;
  height: 0;
  border: none;
  margin-top: 0.32rem;
  transform-origin: top;
  transition: height 0.5s ease, padding 0.5s ease, opacity 0.5s ease, transform 0.125s ease, background-color 0.125s ease;
}
.navbar__dropdown .navbar__item:first-child {
  border-radius: 0.8rem 0.8rem 0 0;
}
.navbar__dropdown .navbar__item:last-child {
  border-radius: 0 0 16rem 16rem;
}
.navbar__dropdown .navbar__item:hover {
  transform: translateX(0.32rem) !important;
  box-shadow: 0.8rem 0 3.2rem rgba(0, 0, 0, 0.2);
}
.navbar__dropdown .navbar__link:link, .navbar__dropdown .navbar__link:visited {
  padding: 0;
}
.navbar__dropdown-container {
  transition: height 0.05s ease;
}
.navbar__dropdown-container:hover {
  transform: translate(0);
}
.navbar__dropdown-container:hover .navbar__dropdown, .navbar__dropdown .navbar__item:hover .navbar__dropdown {
  visibility: visible;
  opacity: 1;
  transform: translateY(0%);
}
.navbar__dropdown-container:hover .navbar__dropdown .navbar__item {
  height: 100%;
  opacity: 1;
}
.navbar__dropdown-container:hover .navbar__dropdown .navbar__link {
  padding: 2.25rem 3.2rem;
}
.navbar.navbar--active .navbar__content {
  visibility: visible;
  opacity: 1;
  width: 100%;
  transform: translateX(0%);
}
.navbar.navbar--active .navbar__button {
  border-radius: 16rem 1.6rem 1.6rem 16rem;
}
.navbar.navbar--active .navbar__button:hover .navbar__menu-bar::before {
  transform: rotate(135deg) translate(1.1rem, 1.1rem);
}
.navbar.navbar--active .navbar__button:hover .navbar__menu-bar::after {
  transform: rotate(-135deg) translate(1.1rem, -1.1rem);
}
.navbar.navbar--active .navbar__button:hover .navbar__menu-bar {
  width: 0;
}
.navbar.navbar--active .navbar__link:not(.navbar.navbar--active__dropdown .navbar.navbar--active__link) {
  padding: 2.25rem 3.2rem;
}
.navbar.navbar--isAnimating * {
  pointer-events: none;
}
.navbar * {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: text;
  /* Safari 'none' or 'text' here 'all' has issues*/
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.home {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to right, rgba(244, 209, 96, 0.75) 0%, rgba(244, 209, 96, 0.75) 50%, rgba(244, 209, 96, 0.75) 50%), url("imgs/background-2.jpg");
  background-position: center;
  background-size: cover;
  background-blend-mode: color-burn;
}

/*# sourceMappingURL=style.css.map */
