$pauseButtonVerticalHeight: calc(#{$itemViewerButtonWidth} * .85);

.button {
    @include button();
    margin-top: $itemViewerProgressHeight;

    &--close {
        &-left, &-right {
            width: $itemViewerButtonLineWidth;
            height: $itemViewerButtonWidth;
            @include positionButton(var(--rotation));
        }

        &-left {
            --rotation: -45deg;
        }

        &-right {
            --rotation: 45deg;
        }
    }
    
    &--foward {
        &-left, &-right {
            background-color: transparent;
            width: 0;
            height: 0;
            border-top: calc(#{$itemViewerButtonWidth} / 2.25) solid transparent;
            border-left: calc(#{$itemViewerButtonWidth} / 2.5) solid $itemViewerButtonColor;
            border-bottom: calc(#{$itemViewerButtonWidth} / 2.25) solid transparent;
        }

        &-left {
            @include positionButton($xTranslate: -95%, $rotation: 180deg);
        }
        &-right {
            @include positionButton($xTranslate: 5%, $rotation: 180deg);
        }
    }

    &--next {
        &-left, &-right {
            background-color: transparent;
            width: 0;
            height: 0;
            border-top: calc(#{$itemViewerButtonWidth} / 2.25) solid transparent;
            border-left: calc(#{$itemViewerButtonWidth} / 2.5) solid $itemViewerButtonColor;
            border-bottom: calc(#{$itemViewerButtonWidth} / 2.25) solid transparent;
        }

        &-left {
            @include positionButton($xTranslate: -95%);
        }
        &-right {
            @include positionButton($xTranslate: 5%);
        }
    }
    
    &--play {
        &-triangle{
            @include positionButton();
            background-color: transparent;
            width: 0;
            height: 0;
            border-top: calc(#{$itemViewerButtonWidth} / 2.25) solid transparent;
            border-left: calc(#{$itemViewerButtonWidth} / 1.33) solid $itemViewerButtonColor;
            border-bottom: calc(#{$itemViewerButtonWidth} / 2.25) solid transparent;
        }
    }

    &--pause {
        &-left, &-right {
            width: $itemViewerButtonLineWidth;
            height: $pauseButtonVerticalHeight;
        }

        &-left {
            @include positionButton($xTranslate: calc(-50% - #{$itemViewerButtonLineWidth * 1.25}), $yTranslate: -50%);
        }
        
        &-right {
            @include positionButton($xTranslate: calc(-50% + #{$itemViewerButtonLineWidth * 1.25}), $yTranslate: -50%);

        }
    }

    &--restart {
        &-arrow {
            @include positionButton();
            right: 0;
            top: 0;
            transform: translate(-10%, 10%);
            background-color: transparent;
            width: 0;
            height: 0;
            border-top: calc(#{$itemViewerButtonWidth} / 2.5) solid transparent;
            border-right: calc(#{$itemViewerButtonWidth} / 2.5) solid $itemViewerButtonColor;
            border-bottom: none;
        }

        &-circle {
            &-inner, &-outer {
                border-radius: 50%;
                @include positionButton();
            }

            &-inner {
                height: calc($pauseButtonVerticalHeight - ($itemViewerButtonLineWidth * 2));
                width: calc($pauseButtonVerticalHeight - ($itemViewerButtonLineWidth * 2));
                background-color: $itemViewerBackgroundColor;
            }

            &-outer {
                height: $pauseButtonVerticalHeight;
                width: $pauseButtonVerticalHeight;
            }
        }

        &-triangle-cutout {
            @include positionButton();
            bottom: 0;
            right: 0;
            transform: translate(0, -50%);
            background-color: transparent;
            width: 0;
            height: 0;
            border-top: calc(#{$itemViewerButtonWidth} / 1) solid transparent;
            border-right: calc(#{$itemViewerButtonWidth} / 1) solid black;
            border-bottom: calc(#{$itemViewerButtonWidth} / 1) solid transparent;
        }

    }

    &--stop {
        @include positionButton();
        height: $pauseButtonVerticalHeight;
        width: $pauseButtonVerticalHeight;
    }
}

