$pauseButtonVerticalHeight: calc(#{$itemViewerButtonWidth} * .85);

.button {
    @include button();
    margin-top: $itemViewerProgressHeight;

    &--close {
        &-left, &-right {
            width: $itemViewerButtonLineWidth;
            height: $itemViewerButtonWidth;
            @include positionButton(var(--rotation));
        }

        &-left {
            --rotation: -45deg;
        }

        &-right {
            --rotation: 45deg;
        }
    }
    
    &--play {
        &-triangle{
            @include positionButton();
            background-color: transparent;
            width: 0;
            height: 0;
            border-top: calc(#{$itemViewerButtonWidth} / 2.25) solid transparent;
            border-left: calc(#{$itemViewerButtonWidth} / 1.33) solid $itemViewerButtonColor;
            border-bottom: calc(#{$itemViewerButtonWidth} / 2.25) solid transparent;
        }
    }

    &--pause {
        &-left, &-right {
            width: $itemViewerButtonLineWidth;
            height: $pauseButtonVerticalHeight;
        }

        &-left {
            @include positionButton($xTranslate: calc(-50% - #{$itemViewerButtonLineWidth * 1.25}), $yTranslate: -50%);
        }
        
        &-right {
            @include positionButton($xTranslate: calc(-50% + #{$itemViewerButtonLineWidth * 1.25}), $yTranslate: -50%);

        }
    }

    &--stop {
        @include positionButton();
        height: $pauseButtonVerticalHeight;
        width: $pauseButtonVerticalHeight;
    }
}

