.#{$carouselClassname} {
    width: 100%;
    overflow: hidden;

    &__dots {
        @include displayFlexCenter();

        & > div, & > svg {
            @include displayFlexCenter();
            --opacity: #{$carouselDotOpacity};
            height: $carouselDotRadius * 6;
            width: $carouselDotRadius * 4;
            background-color: transparent;
           

            & > div {
                height: $carouselDotRadius;
                width: $carouselDotRadius;
                background-color: rgba($itemViewerBackgroundColor, var(--opacity));
                border-radius: 100%;
            }

            & use {
                fill: $itemViewerBackgroundColor;
                opacity: var(--opacity);
            }
           
            &:not(.#{$carouselClassname}__dots-current):hover {
                cursor: pointer;

                & * {
                    --opacity: .75;
                    opacity: .75 !important;
                }
            }
        }
    }

    &__item {
        margin-top: $carouselItemHoverTranslateUpAmount;
        position: relative;
        border-radius: 8px;
        overflow: hidden;
        transition:
            border-radius $carouselAnimationDuration ease,
            box-shadow $carouselAnimationDuration ease,
            transform $carouselAnimationDuration ease;

        &-container {
            width: 100vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;

            &:hover .#{$carouselClassname}__item-viewer-toolbar {
                @extend %visible;
            }

            &--no-toolbar {
                & .#{$carouselClassname}__item-viewer-toolbar {
                    opacity: 0 !important;
                    pointer-events: none !important;
                }
            }

            & img {
                width: 100vw;
                max-height: 100vh;
                object-fit: contain;
                // object-position: left;
            }
        }

        &-thumbnail {
            object-fit: cover;
            object-position: top;
            height: 100%;
            width: 100%;
        }

        &>div {
            @include positionAbsolute($top: auto);
            transition: bottom $carouselAnimationDuration ease;
            padding: calc($itemViewerToolbarMarginHorizontal / 2) $itemViewerToolbarMarginHorizontal;
            text-align: center;
            font-weight: 700;
            font-size: $carouselThumbnailFontSize;

            & * {
                @include maxTextLineCount($carouselThumbnailOverlayMaxLineCount);
            }
        }

        &:hover {
            transform: translateY(-$carouselItemHoverTranslateUpAmount);
            box-shadow: 0 $carouselItemHoverTranslateUpAmount 0.4rem 0rem rgba(black, .5);
            &>div {
                bottom: 0 !important;
            }
        }
    }

    &__items {
        display: flex;
        width: 10000000vw;
        transition: transform $carouselAnimationDuration ease;
    }

    &__item-viewer {
        display: flex;

        //add this if you want toolbar to stick to the video
        // flex-direction: column;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1000000000000000000000;
        background-color: $itemViewerBackgroundColor;
        transition:
            opacity $carouselAnimationDuration ease;

        &-button {
            @include button();
            fill: $itemViewerButtonColor;
            stroke: $itemViewerBackgroundColor;
            stroke-opacity: .15;
            stroke-width: 2px;

            &-inverse {
                @include button--inverse;

                & * {
                    @include button--inverse;
                }
            }
        }

        &-toolbar {
            transition:
                transform $carouselAnimationDuration ease,
                opacity $carouselAnimationDuration ease;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: calc($itemViewerToolbarMarginHorizontal / 2) $itemViewerToolbarMarginHorizontal;
            background: #000000cc;
            /*this color is displayed if browser can't read the below properties*/
            background: -moz-linear-gradient(180deg, #ffffff00 0%, #000000ff 100%);
            background: -webkit-linear-gradient(180deg, #ffffff00 0%, #000000ff 100%);
            background: linear-gradient(180deg, #ffffff00 0%, #000000ff 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8a96e6", endColorstr="#8a96e6", GradientType=1);
            @include positionAbsolute($top: auto);

            &-container {
                margin-top: $itemViewerProgressHeight;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                column-gap: $itemViewerToolbarColumnGap;

                &>* {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    column-gap: $itemViewerToolbarColumnGap;
                }
            }

            &-middle {
                justify-content: flex-start;
                margin-right: auto;
                font-size: 1.5rem;
                color: $itemViewerButtonColor;

                &>* {
                    text-align: center;

                    & span {
                        width: 6rem;
                        display: inline-block;

                        &:nth-last-of-type(2) {
                            width: 1rem;
                        }
                    }
                }
            }

            &-preview {
                --width: #{$itemViewerToolbarPreviewWidth};
                --height: calc(var(--width) / 2);
                @include positionAbsolute($top: calc(-1 * var(--height)),
                    $left: auto,
                    $right: calc(#{$itemViewerToolbarMarginHorizontal} / 2),
                    $bottom: auto);
                width: var(--width);
                height: var(--height);
                background-color: rgba($itemViewerBackgroundColor, $itemViewerToolbarPreviewOpacity);
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: $carouselFontSize;
                color: $itemViewerButtonColor;
                border-radius: $itemViewerToolbarPreviewBorderRadius;
                overflow: hidden;

                &>* {
                    width: calc(#{$itemViewerToolbarPreviewWidth} / 2);
                }

                &-image {
                    &-container {
                        border-right: 1px solid rgba($itemViewerButtonColor, $itemViewerToolbarPreviewOpacity);
                        height: calc(100% - 0px);

                        & img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: left;
                        }
                    }

                    &-description {
                        padding: calc($itemViewerToolbarMarginHorizontal / 2);
                        text-align: center;

                        & p {
                            @include maxTextLineCount();
                        }
                    }
                }
            }

            &-progress {
                transition: transform $carouselAnimationDuration;
                width: calc(100vw - #{$itemViewerToolbarMarginHorizontal});
                margin-bottom: $itemViewerProgressHeight;
                cursor: pointer;
                height: $itemViewerProgressHeight;
                appearance: none;
                border: none;

                &::-webkit-progress-bar {
                    background-color: #888;
                }

                &::-webkit-progress-value {
                    background-color: #fff;
                    position: relative;
                }

                &::-moz-progress-bar {
                    /* style rules */
                }

                &:hover {
                    transform: scaleY(2);
                }
            }
        }
    }

    &__navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__video {
        width: 100vw;
        object-fit: contain;
        max-height: 100vh;

        &-overlay {
            @include positionButton();
            color: black;
            max-height: 75%;
            max-width: 75%;
            background-color: white;
            border-radius: calc($itemViewerToolbarMarginHorizontal / 4);
            padding: $itemViewerToolbarMarginHorizontal;
            box-shadow: 0 0 0 50vmax rgba(0, 0, 0, .15);
            transition: opacity $carouselAnimationDuration ease;
            font-size: $carouselFontSize;

            &-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            & p {
                padding-right: $itemViewerOverlayParagraphPaddingRight;
            }

            &-custom {
                padding-top: 0;
                padding-bottom: 0;

                & .#{$carouselClassname}__item-viewer-button {
                    @include positionAbsolute($right: var(--#{$videoOverlayCustomButtonRightString}),
                        $top: var(--#{$videoOverlayCustomButtonTopString}),
                        $left: auto,
                        $bottom: auto,
                    )
                }
            }
        }
    }

    &--hidden {
        @extend %hidden;
    }

    &--visible {
        @extend %visible;
    }
}