.#{$carouselClassname} {
    &__item {
        position: relative;
        height: $itemHeight;
        width: $itemHeight;
        border-radius: 8px;
        overflow: hidden;
        transition:
            border-radius $animationDuration ease,
            box-shadow $animationDuration ease,
            transform $animationDuration ease;

        &-thumbnail {
            object-fit: cover;
            object-position: top;
            height: 100%;
            width: 100%;
        }
    }

    &__item-viewer {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1000000000000000000000;
        background-color: $itemViewerBackgroundColor;
        transition:
            opacity $animationDuration ease;

        &-button {
            @include button();
            fill: $itemViewerButtonColor;
            stroke: $itemViewerBackgroundColor;
            stroke-opacity: .15;
            stroke-width: 2px;
        }

        &-toolbar {
            @extend %hidden;
            transition:
                transform $animationDuration ease,
                opacity $animationDuration ease;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: calc($itemViewerToolbarMarginHorizontal / 2) $itemViewerToolbarMarginHorizontal;
            background: #000000cc;
            /*this color is displayed if browser can't read the below properties*/
            background: -moz-linear-gradient(180deg, #ffffff00 0%, #000000ff 100%);
            background: -webkit-linear-gradient(180deg, #ffffff00 0%, #000000ff 100%);
            background: linear-gradient(180deg, #ffffff00 0%, #000000ff 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8a96e6", endColorstr="#8a96e6", GradientType=1);
            @include positionAbsolute($top: auto);

            &-button-container {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                column-gap: $itemViewerToolbarMarginHorizontal;

                &>* {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    column-gap: $itemViewerToolbarMarginHorizontal;
                }

                &>*:nth-child(2) {
                    justify-content: flex-start;
                    margin-right: auto;
                    font-size: 1.5rem;
                    color: $itemViewerButtonColor;

                    &>* {
                        margin-top: $itemViewerProgressHeight;
                    }
                }
            }

            &-progress {
                width: calc(100vw - #{$itemViewerToolbarMarginHorizontal});
                margin-bottom: $itemViewerProgressHeight;
                cursor: pointer;
                height: $itemViewerProgressHeight;
                appearance: none;
                border: none;
                // box-shadow: 10px 10px 4px rgba( 0, 0, 0, 0.2 );

                &::-webkit-progress-bar {
                    background-color: #888;
                }

                &::-webkit-progress-value {
                    background-color: #fff;
                    // box-shadow: 1px 1px 5px 3px rgba(255, 0, 0, 0.8);
                    position: relative;
                }

                &::-moz-progress-bar {
                    /* style rules */
                }

            }
        }
    }

    &__video {
        width: 100vw;
        object-fit: contain;
        max-height: 100vh;

        &-container {
            width: 100vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;

            &:hover .#{$carouselClassname}__item-viewer-toolbar {
                @extend %visible;
            }

            @include respond(phone) {
                position: static;
            }
            
            &--no-toolbar {

                &:hover {
                    cursor: cell !important;
                }
                & .#{$carouselClassname}__item-viewer-toolbar {
                    opacity: 0 !important;
                    pointer-events: none !important;
                }
            }
        }

        &-overlay {
            @include positionButton();
        }
    }

    &--hidden {
        @extend %hidden;
    }

    &--visible {
        @extend %visible;
    }
}