%button {
    height: $itemViewerButtonWidth;
    width: $itemViewerButtonWidth;
    opacity: $itemViewerButtonOpacityNormal;
    border: none;
    position: relative;

    &:hover {
        opacity: $itemViewerButtonOpacityHover;
        cursor: pointer;
    }
}