$rollerStartingDelay: -0.036s;
$rollerLength: 80px;
$rollerDotRadius: 7px;

.loading-container {
    color: $itemViewerButtonColor;
    text-align: center;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: $rollerLength;
    height: $rollerLength;

    &-container {
        @include positionAbsolute();
        @include displayFlexCenter($direction: column, $rowGap: calc($itemViewerToolbarMarginHorizontal));
        padding: $itemViewerToolbarMarginHorizontal;
    }

    & div {
        animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: calc(#{$rollerLength} / 2) calc(#{$rollerLength} / 2);

        &:after {
            content: " ";
            display: block;
            position: absolute;
            width: $rollerDotRadius;
            height: $rollerDotRadius;
            border-radius: 50%;
            background: $itemViewerButtonColor;
            margin: -4px 0 0 -4px;
        }

        &:nth-child(1) {
            animation-delay: $rollerStartingDelay;

            &::after {
                top: 63px;
                left: 63px;
            }
        }

        &:nth-child(2) {
            animation-delay: $rollerStartingDelay * 2;


            &::after {
                top: 68px;
                left: 56px;
            }
        }

        &:nth-child(3) {
            animation-delay: $rollerStartingDelay * 3;

            &::after {
                top: 71px;
                left: 48px;
            }
        }

        &:nth-child(4) {
            animation-delay: $rollerStartingDelay * 4;

            &::after {
                top: 72px;
                left: 40px;
            }
        }

        &:nth-child(5) {
            animation-delay: $rollerStartingDelay * 5;

            &::after {
                top: 71px;
                left: 32px;
            }
        }

        &:nth-child(6) {
            animation-delay: $rollerStartingDelay * 6;

            &::after {
                top: 68px;
                left: 24px;
            }
        }

        &:nth-child(7) {
            animation-delay: $rollerStartingDelay * 7;

            &::after {
                top: 63px;
                left: 17px;
            }
        }

        &:nth-child(8) {
            animation-delay: $rollerStartingDelay * 8;

            &::after {
                top: 56px;
                left: 12px;
            }
        }
    }
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

$ringStartingDelay: -.15s;
$ringLength: 80px;
$ringDotRadius: 7px;

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;

    & div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid $itemViewerButtonColor;;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #fff transparent transparent transparent;

        &:nth-child(1) {
            animation-delay: $ringStartingDelay * 3;

        }

        &:nth-child(2) {
            animation-delay: $ringStartingDelay * 2;

        }

        &:nth-child(3) {
            animation-delay: $ringStartingDelay * 1;
        }
    }
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}