@mixin button(
    $height: $buttonWidth,
    $width: $buttonWidth,
    $opacity: $itemViewerButtonOpacityNormal, 
    $opacityHover: $itemViewerButtonOpacityHover,
    $backgroundColor: $itemViewerButtonColor,
) {
    overflow: hidden;
    height: $height;
    width: $width;
    opacity: $opacity;
    border: none;
    position: relative;
    background-color: transparent;

    &:hover {
        opacity: $opacityHover;
        cursor: pointer;
    }

    & * {
        background-color: $backgroundColor;
        fill: $backgroundColor;
    }
}

@mixin button--inverse {
    fill: $itemViewerBackgroundColor;
    stroke: $itemViewerButtonColor;
}

@mixin displayFlexCenter() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin maxTextLineCount($maxLineCount: 4) {
    display: -webkit-box;
    -webkit-line-clamp: $maxLineCount;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin pauseBar(
    $width: $buttonLineWidth,
    $height: $pauseButtonVerticalHeight,
) {
    @include positionButton($xTranslate: calc(-50% + #{$buttonWidth * .25}), $yTranslate: -50%);
    width: $width;
    height: $height;
}

@mixin positionButton(
    $rotation: 0, 
    $positioning: absolute,
    $xTranslate: -50%,
    $yTranslate: -50%,
    $top: 50%,
    $left: 50%,
) {
    position: $positioning;
    top: $top;
    left: $left;
    transform: translate($xTranslate, $yTranslate) rotate($rotation);
}

@mixin positionAbsolute(
    $bottom: 0,
    $left: 0,
    $right: 0,
    $top: 0,
) {
    position: absolute;
    bottom: $bottom;
    left: $left;
    right: $right;
    top: $top;
}

@mixin triangle($direction: right) {
    @if ($direction == left) {
        border-right: calc(#{$buttonWidth} / 2.5) solid $itemViewerButtonColor;
    }
    @if ($direction == right) {
        border-left: calc(#{$buttonWidth} / 2.5) solid $itemViewerButtonColor;
    }
    
    background-color: transparent;
    width: 0;
    height: 0;
    border-top: calc(#{$buttonWidth} / 2.25) solid transparent;
    border-bottom: calc(#{$buttonWidth} / 2.25) solid transparent;
}

//Media Query Manager
@mixin respond($breakpoint) {
	@if $breakpoint == phone {
		@media only screen and (max-width: 655px) {
			@content;
		}
	}
	@if $breakpoint == hover {
		@media only screen and (hover) {
			@content;
		}
	}
	@if $breakpoint == mobile {
		@media only screen and (hover: none) {
			@content;
		}
	}
}
