@mixin button(
    $height: $itemViewerButtonWidth,
    $width: $itemViewerButtonWidth,
    $opacity: $itemViewerButtonOpacityNormal, 
    $opacityHover: $itemViewerButtonOpacityHover,
    $backgroundColor: $itemViewerButtonColor
) {
    overflow: hidden;
    height: $height;
    width: $width;
    opacity: $opacity;
    border: none;
    position: relative;

    &:hover {
        opacity: $opacityHover;
        cursor: pointer;
    }

    & * {
        background-color: $backgroundColor;
        fill: $backgroundColor;
    }
}

@mixin positionButton(
    $rotation: 0, 
    $positioning: absolute,
    $xTranslate: -50%,
    $yTranslate: -50%,
) {
    position: $positioning;
    top: 50%;
    left: 50%;
    transform: translate($xTranslate, $yTranslate) rotate($rotation);
}