@use "sass:math";
$buttonVideoStateIndictatorAnimationSpeed: .5s;
$buttonVideoStateIndicatorWidth: 66px;
$buttonLineWidth: 7.5px;
$buttonWidth: 30px;
$carouselPageChangeButtonHeight: calc(math.hypot($buttonWidth, calc($buttonWidth / 2)) / 3);
$carouselPageChangeButtonTranslationAmount: calc(($carouselPageChangeButtonHeight / 2) / math.sqrt(2));
$carouselPageChangeButtonTranslationAmountTwo: calc(($buttonLineWidth / 2) / math.sqrt(2) / 2);
$carouselAnimationDuration: .5s;
$carouselClassname: 'thumbnail-carousel';
$carouselDotRadius: 4px;
$carouselDotOpacity: .5;
$carouselDotHoverOpacity: .8;
$carouselFontSize: 14px;
$carouselItemHoverTranslateUpAmount: 4px;
$carouselThumbnailFontSize: 12px;
$carouselThumbnailOverlayMaxLineCount: 2;
$itemViewerBackgroundColor: #000;
$itemViewerButtonColor: #fff;
$itemViewerShortcutPopupColor: rgba(24,24,24,1);;
$itemViewerButtonOpacityHover: 1;
$itemViewerButtonOpacityNormal: .9;
$itemViewerOverlayParagraphPaddingRight: 20px;
$itemViewerProgressHeight: 5px;
$itemViewerToolbarBackgroundColor: rgba($itemViewerBackgroundColor, 0);
$itemViewerToolbarColumnGap: .75vw;
$itemViewerToolbarMarginHorizontal: 20px;
$itemViewerToolbarPreviewBorderRadius: 5px;
$itemViewerToolbarPreviewOpacity: .66;
$itemViewerToolbarPreviewWidth: 200px;

$videoOverlayCustomButtonTopString: '#{$carouselClassname}-video-overlay-custom-button-top';
$videoOverlayCustomButtonRightString: '#{$carouselClassname}-video-overlay-custom-button-right';
:root {
    --#{$videoOverlayCustomButtonTopString}: calc(#{$itemViewerToolbarMarginHorizontal} * .5);
    --#{$videoOverlayCustomButtonRightString}: calc(#{$itemViewerToolbarMarginHorizontal} * .5);
}