@use "sass:math";

$buttonLineWidth: .75rem;
$buttonWidth: 3rem;
$carouselPageChangeButtonHeight: calc(math.hypot($buttonWidth, calc($buttonWidth / 2)) / 3);
$carouselPageChangeButtonTranslationAmount: calc(($carouselPageChangeButtonHeight / 2) / math.sqrt(2));
$carouselPageChangeButtonTranslationAmountTwo: calc(($buttonLineWidth / 2) / math.sqrt(2) / 2);
$carouselAnimationDuration: .5s;
$carouselClassname: 'thumbnail-carousel';
$carouselDotRadius: 5px;
$carouselFontSize: 14px;
$carouselItemHoverTranslateUpAmount: .5rem;
$carouselThumbnailFontSize: 12px;
$carouselThumbnailOverlayMaxLineCount: 2;
$itemViewerBackgroundColor: #000;
$itemViewerButtonColor: #fff;
$itemViewerButtonOpacityHover: 1;
$itemViewerButtonOpacityNormal: .75;
$itemViewerOverlayParagraphPaddingRight: 4rem;
$itemViewerProgressHeight: .5rem;
$itemViewerToolbarBackgroundColor: rgba($itemViewerBackgroundColor, 0);
$itemViewerToolbarColumnGap: .75vw;
$itemViewerToolbarMarginHorizontal: 2rem;
$itemViewerToolbarPreviewBorderRadius: .5rem;
$itemViewerToolbarPreviewOpacity: .66;
$itemViewerToolbarPreviewWidth: 20rem;

$videoOverlayCustomButtonTopString: '#{$carouselClassname}-video-overlay-custom-button-top';
$videoOverlayCustomButtonRightString: '#{$carouselClassname}-video-overlay-custom-button-right';
:root {
    --#{$videoOverlayCustomButtonTopString}: calc(#{$itemViewerToolbarMarginHorizontal} * .5);
    --#{$videoOverlayCustomButtonRightString}: calc(#{$itemViewerToolbarMarginHorizontal} * .5);
}