$itemViewerButtonLineWidth: 1rem;
$itemViewerButtonOpacityHover: 1;
$itemViewerButtonOpacityNormal: .75;
$itemViewerButtonWidth: 5rem;
$itemViewerOpacityTransitionDuration: .5s;
$itemViewerToolbarMarginHorizontal: 2rem;
$itemViewerProgressHeight: .5rem;