@keyframes black-hole {
	0% {
		transform: scale(1) rotate(0deg);
	}
	100% {
		transform: scale(0) rotate(720deg);
	}
}

@keyframes black-hole-background {
	0% {
		background-color: var(--color-primary-1);
	}
	100% {
		background-color: var(--color-black);
	}
}

@keyframes animate-skills {
	// 50% {
	// background-position: 150% center;
	// }
	0% {
		background-position: 200% center;
	}
}

@keyframes square-even {
	0% {
		transform: var(--translate-center) rotate(0deg);
	}
	100% {
		transform: var(--translate-center) rotate(360deg);
	}
}

@keyframes square-odd {
	0% {
		transform: var(--translate-center) rotate(0deg);
	}
	100% {
		transform: var(--translate-center) rotate(-360deg);
	}
}

@keyframes bridge-hero-windshield {
	0%{ 
		clip-path: $animation-bridge-windshield-start;
	}
	50% {
		clip-path: $animation-bridge-windshield-end;
	}
	100%{ 
		clip-path: $animation-bridge-windshield-start;
	}
}

@keyframes bridge-hero-windshield-two {
	0%{ 
		clip-path: $animation-bridge-windshield-two-start;
	}
	50% {
		clip-path: $animation-bridge-windshield-two-end;
	}
	100%{ 
		clip-path: $animation-bridge-windshield-two-start;
	}
}

// @keyframes selected-section {
//   0% {
//     transform: scale(1.05) rotate(0);
//   }
//   16.667% {
//     transform: scale(1.11666667) rotate(1.25deg);

//   }
//   33% {
//     transform: scale(1.18336667) rotate(-1.25deg);
//   }
//   50% {
//     transform: scale(1.33) rotate(0);
//   }
//   100% {
//     transform: scale(1.05) rotate(0);
//   }
// }
