@keyframes black-hole {
	0% {
		transform: scale(1) rotate(0deg);
	}
	100% {
		transform: scale(0) rotate(720deg);
	}
}

@keyframes black-hole-background {
	0% {
		background-color: var(--color-primary-1);
	}
	100% {
		background-color: var(--color-black);
	}
}

@keyframes animate-skills {
	// 50% {
	// background-position: 150% center;
	// }
	0% {
		background-position: 200% center;
	}
}

@keyframes square-even {
	0% {
		transform: var(--translate-center) rotate(0deg);
	}
	100% {
		transform: var(--translate-center) rotate(360deg);
	}
}

@keyframes square-odd {
	0% {
		transform: var(--translate-center) rotate(0deg);
	}
	100% {
		transform: var(--translate-center) rotate(-360deg);
	}
}

@keyframes bridge-hero-windshield {
	0%{ 
		clip-path: $animation-bridge-windshield-start;
	}
	50% {
		clip-path: $animation-bridge-windshield-end;
	}
	100%{ 
		clip-path: $animation-bridge-windshield-start;
	}
}

@keyframes bridge-hero-windshield-two {
	0%{ 
		clip-path: $animation-bridge-windshield-two-start;
	}
	50% {
		clip-path: $animation-bridge-windshield-two-end;
	}
	100%{ 
		clip-path: $animation-bridge-windshield-two-start;
	}
}

@keyframes bridge-more {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.5);
	}

	100% {
		transform: scale(1);
	}
}

$translate-centering: translate(-50%, -50%);
$starting-degrees: 0deg;
$max-degrees: 2.5deg;
@keyframes bridge-hero-hover {
	0%{
		transform: $translate-centering rotate($starting-degrees);
	}
	17%{
		transform: $translate-centering rotate($max-degrees);
	}
	33%{
		transform: $translate-centering rotate(-$max-degrees);
	}
	// 30%{
	// 	transform: $translate-centering rotate($max-degrees);
	// }
	50%{
		transform: $translate-centering rotate($max-degrees);
	}
	// 50%{
		// transform: $translate-centering rotate(2deg);
	// }
	60%{
		transform: $translate-centering rotate($starting-degrees);
	}
	85%{
		transform: $translate-centering rotate($max-degrees);
	}
	// 80%{
	// 	transform: $translate-centering rotate($max-degrees);
	// }
	// 90%{
	// 	transform: $translate-centering rotate($max-degrees);
	// }
	100%{
		transform: $translate-centering rotate($starting-degrees);
	}
}

// @keyframes selected-section {
//   0% {
//     transform: scale(1.05) rotate(0);
//   }
//   16.667% {
//     transform: scale(1.11666667) rotate(1.25deg);

//   }
//   33% {
//     transform: scale(1.18336667) rotate(-1.25deg);
//   }
//   50% {
//     transform: scale(1.33) rotate(0);
//   }
//   100% {
//     transform: scale(1.05) rotate(0);
//   }
// }
