//media query breakpoints
$small-font-max-width: 29.3125em;
$nav-break-max-width: 35.0625em;
$phone-max-width: 40.9375em;
$tab-port-max-width: 52.6875em;
$tab-land-max-width: 58.5625em;
$nav-switch-width: 68.75em;
$larger-than-nav-switch: 68.8125em;
$big-desktop-min-width: 112.5em;	

//font
// $font-family-text: "Roboto", sans-serif;
// $font-family-headers: "Cinzel", sans-serif;
$line-height: 1.5;
$font-family-fancy-bridge: 'New Tegomin', serif;
$font-family-text: "Open Sans", sans-serif;
$font-family-headers: "Merriweather", serif;
$default-font-size: 1.6rem;



//sizes
$scale-amount: 1.05;
$navbar__logo-width: 7vw;
$github__logo-width: $navbar__logo-width;
$navbar__logo-width-nav-switch: $default-font-size * 5;
$content-padding-nav-switch: 5vmin;
$paddingFactor: 1.25;



//navbar stuff
$navbar-full-z-index: 5;
$navbar__button-bar-before-rotation: rotate(105deg);
$navbar__button-bar-before-transform: $navbar__button-bar-before-rotation
	translate($default-font-size * 0.25, $default-font-size * 1.875);
$navbar__button-bar-after-rotation: rotate(-105deg);
$navbar__button-bar-after-transform: $navbar__button-bar-after-rotation
	translate(-$default-font-size * 0.075, -$default-font-size * 0.5);
$navbar-width-nav-switch: 97.5vw;

$navbar__item-border-radius: $default-font-size * 10;
$navbar__item-divider-width: $default-font-size * 0.2;
$navbar__item-divider: $navbar__item-divider-width solid var(--color-primary-1);

$navbar-box-shadow-resume-color: rgba($color-black, 0.15);
$navbar-box-shadow-resume: 0 $default-font-size $default-font-size * 2
	rgba($color-black, 0.33);
$hover-color-change-amount: 0.15;



//skills
$skills-linear-gradient-original: linear-gradient(
	to left,
	var(--color-primary-1) 0%,
	var(--color-primary-4) 5%,
	var(--color-primary-1) 10%,
	var(--color-primary-1) 100%
);
$skills-linear-gradient-hover: linear-gradient(
	to right,
	var(--color-primary-1),
	var(--color-primary-1)
);


//resume
$resume-card-width-full: $default-font-size * 53.125;


//header
$header-top-inner: calc(
	(
		(
				100vw -
					(
						#{$resume-card-width-full} + (
								(100vw - #{$resume-card-width-full}) / 2
							) + #{$navbar__logo-width}
					)
			) / 2
	)
);
$page-margin-top-amount: calc(#{$header-top-inner});
$page-margin-top-amount-nav-switch: $default-font-size * 7.5;
$header-top: calc(#{$header-top-inner} - 0.4vw);
$header-height: $default-font-size * 6.25;
$header-toggler-width: 4rem;
$header-inner-width: 
	calc(
		#{$resume-card-width-full} + ((100vw - #{$resume-card-width-full}) / 2) + 6.4vw
	);
$header-width-nav-switch: calc(100vw - #{$default-font-size * 1});
// $header-width-tab-land: calc(100vw - #{$default-font-size * 2});
// $header-width-phone: calc(100vw - #{$default-font-size * 2});
// $header-width-small-font: calc(100vw - #{$default-font-size * 2});


//animation
$animation-duration: 0.5s;
$animation-easing-standard: ease;
$animation-easing-standard-easeInOutBack: cubic-bezier(0.68, -0.6, 0.32, 1.6);
$animation-easing-standard-easeInOutBack-smaller: cubic-bezier(
	0.68,
	-0.2,
	0.32,
	1.2
);
$animation-easing-modern: cubic-bezier(1, 0, 0, 1);
$animation-navbar: $animation-duration $animation-easing-standard;
$animation-bridge-width: calc(#{$header-top-inner} * 2 + #{$navbar__logo-width} - .5vw);
$animation-bridge-windshield-start: polygon(
	$animation-bridge-width 100%,
	$animation-bridge-width 0,
	100% 100%,
	100% 0%);
$animation-bridge-windshield-end: polygon(
	$animation-bridge-width 100%,
	100% 100%,
	$animation-bridge-width 0,
	100% 0%);

$animation-bridge-windshield-two-start: polygon(
	$animation-bridge-width 100%,
	$animation-bridge-width 0,
	calc(#{$animation-bridge-width} + 1px) 1000%,
	200% 100%,
	100% 0%,
	$animation-bridge-width 0,
);
$animation-bridge-windshield-two-end: polygon(
	$animation-bridge-width 100%,
	$animation-bridge-width 0,
	100% 1px,
	200% 100%,
	100% 0%,
	$animation-bridge-width 0
);


//bridge
$bridge-card-hover-button-opacity: .5;
$bridge-page-nav-link-scale-amount: 1.1;
$bridge-hero-animation-duration: $animation-duration * 2;
$hero-background-opacity: .66;
$arrow-button-position: calc((100vw - calc( #{$resume-card-width-full} + ((100vw - #{$resume-card-width-full}) / 2) + #{$navbar__logo-width} )) / 2);
$bridge-card-box-shadow-size: 0 0rem $default-font-size * 2 -$default-font-size * .5;
$bridge-card-border-size: 2px solid;
$hero-background-image-alpha: .33;
$hero-blend-mode: hard-light;
$bridge-logo-opacity: .25;
$card-z-index: 1;
$card-height: $default-font-size * 50;
$card-header-height: $card-height / 3.333333333333;
$card-initial-opacity: .25;
$card-pause-and-stop-top: 85%;
$card-pause-and-stop-width: 25%;

//page-nav
$page-nav-top: calc(
	100% +
		(
			(
					(
							(
									100vw -
										(
											#{$resume-card-width-full} + (
													(100vw - #{$resume-card-width-full}) / 2
												) + #{$navbar__logo-width}
										)
								) / 2
						) - 1vw
				) * 1
		) - .9vw
);

:root {
	scroll-behavior: smooth;
	scroll-padding-top: $header-height * 1.2;
	--scrollbar-width: #{$default-font-size * .5};
	--default-font-size: #{$default-font-size};
	--site-nav-linear-gradient: linear-gradient(
		to right,
		#{var(--color-primary-1)} 0%,
		#{var(--color-primary-1)} 0%,
		#{var(--color-primary-4)} 0%,
		#{var(--color-primary-4)} 100%
	);
	--site-nav-active-scale-amount: 1;
	--body-background: linear-gradient(
		to left,
		var(--color-primary-1),
		var(--color-primary-1)
	);


	//setting media query custom properties
	--small-font-max-width: #{$small-font-max-width};
	--nav-break-max-width: #{$nav-break-max-width};
	--phone-max-width: #{ $phone-max-width};
	--tab-port-max-width: #{$tab-port-max-width};
	--tab-land-max-width: #{$tab-land-max-width};
	--big-desktop-min-width: #{$big-desktop-min-width};
	--nav-switch-width: #{ $nav-switch-width};
	--larger-than-nav-switch: #{$larger-than-nav-switch};


	//page-nav
	--page-nav-shadow-hover: #{$color-primary-bridge-4};


	//misc
	--header-toggler-svg-rotation: 180deg;
	--header-toggler-translate-x: 0;
	--header-toggler-translate-y: 0;
	--header-height: #{$header-height};
	--header-toggler-height: #{$header-height + $header-toggler-width};
	--header-toggler-width: #{$header-toggler-width};
	--header-inner-width-nav-switch: 100%;

	//bridge page
	--bridge-gradient-direction: to right;
	@include respond(nav-switch) {
		--bridge-gradient-direction: to bottom;
	}
	--bridge-page-nav-link-color: var(--color-primary-4);
	--bridge-page-nav-link-color-hover: var(--color-primary-1);
	--bridge-hero-translate-heading-1: (-50%, calc(-50% - 50vh));
	--bridge-hero-translate-heading-2: (calc(-50% - 50vw),-50%);
	--bridge-hero-translate-heading-3: (calc(50% + 50vw),-50%);
	--bridge-hero-translate-heading-4: (-50%, calc(50% + 50vh));
	--bridge-hero-rotate-heading-1: 0deg;
	--bridge-hero-rotate-heading-2: 0deg;
	--bridge-hero-rotate-heading-3: 0deg;
	--bridge-hero-rotate-heading-4: 0deg;
	--hero-more-y-translate: -50%;
	--bridge-section-height: 1px;
	--bridge-section-padding: 0;
	--arrow-button-fill-left: var(--color-primary-bridge-1);
	--arrow-button-fill-right: var(--color-primary-bridge-1);
	--arrow-button-fill-hover: var(--color-primary-bridge-2);
	--arrow-button-right-fill-hover: var(--color-primary-bridge-2);
	--arrow-button-left-fill-hover: var(--color-primary-bridge-2);
	--card-scale-amount: 1;
	--card-playing-transform: translate(0,0) scale(1);
	

	//shapes stuff
	--diamond-fractal-animation-duration: 120s;
	--diamond-fractal-length: calc(20vw * var(--aspect-ratio-factor));
	--aspect-ratio-factor: calc(16 / 9);
	--diamond-fractal-rotation: 45deg;
	--translate-center: translate(-50%, -50%);
	--square-root-of-two: 0.707106781;
	--diamond-outer-opacity: 0.05;
}
