//font
// $font-family-text: "Roboto", sans-serif;
// $font-family-headers: "Cinzel", sans-serif;
$line-height: 1.5;
$font-family-text: "Open Sans", sans-serif;
$font-family-headers: "Merriweather", serif;
$nav-switch-width: 68.75em;
$default-font-size: 1.6rem;



//sizes
$scale-amount: 1.05;
$navbar__logo-width: 7vw;
$github__logo-width: $navbar__logo-width;
$navbar__logo-width-nav-switch: $default-font-size * 5;
$content-padding-nav-switch: 5vmin;
$paddingFactor: 1.25;



//animation
$animation-duration: 0.5s;
$animation-easing-standard: ease;
$animation-easing-standard-easeInOutBack: cubic-bezier(0.68, -0.6, 0.32, 1.6);
$animation-easing-standard-easeInOutBack-smaller: cubic-bezier(
	0.68,
	-0.2,
	0.32,
	1.2
);
$animation-easing-modern: cubic-bezier(1, 0, 0, 1);
$animation-navbar: $animation-duration $animation-easing-standard;
$animation-bridge-width: 20%;
$animation-bridge-windshield-start: polygon(
	$animation-bridge-width 100%,
	$animation-bridge-width 0,
	100% 100%,
	100% 0%);
$animation-bridge-windshield-end: polygon(
	$animation-bridge-width 100%,
	100% 100%,
	$animation-bridge-width 0,
	100% 0%);

$animation-bridge-windshield-two-start: polygon(
	$animation-bridge-width 100%,
	$animation-bridge-width 0,
	calc(#{$animation-bridge-width} + 1px) 1000%,
	200% 100%,
	100% 0%,
	$animation-bridge-width 0,
);
$animation-bridge-windshield-two-end: polygon(
	$animation-bridge-width 100%,
	$animation-bridge-width 0,
	100% 1px,
	200% 100%,
	100% 0%,
	$animation-bridge-width 0
);



//navbar stuff
$navbar__button-bar-before-rotation: rotate(105deg);
$navbar__button-bar-before-transform: $navbar__button-bar-before-rotation
	translate($default-font-size * 0.25, $default-font-size * 1.875);
$navbar__button-bar-after-rotation: rotate(-105deg);
$navbar__button-bar-after-transform: $navbar__button-bar-after-rotation
	translate(-$default-font-size * 0.075, -$default-font-size * 0.5);
$navbar-width-nav-switch: 97.5vw;

$navbar__item-border-radius: $default-font-size * 10;
$navbar__item-divider-width: $default-font-size * 0.2;
$navbar__item-divider: $navbar__item-divider-width solid var(--color-primary-1);

$navbar-box-shadow-resume-color: rgba($color-black, 0.15);
$navbar-box-shadow-resume: 0 $default-font-size $default-font-size * 2
	rgba($color-black, 0.33);
$hover-color-change-amount: 0.15;

//skills
$skills-linear-gradient-original: linear-gradient(
	to left,
	var(--color-primary-1) 0%,
	var(--color-primary-4) 5%,
	var(--color-primary-1) 10%,
	var(--color-primary-1) 100%
);
$skills-linear-gradient-hover: linear-gradient(
	to right,
	var(--color-primary-1),
	var(--color-primary-1)
);



//resume
$resume-card-width-full: $default-font-size * 53.125;



//header
$header-top-inner: calc(
	(
		(
				100vw -
					(
						#{$resume-card-width-full} + (
								(100vw - #{$resume-card-width-full}) / 2
							) + #{$navbar__logo-width}
					)
			) / 2
	)
);
$page-margin-top-amount: calc(#{$header-top-inner});
$page-margin-top-amount-nav-switch: $default-font-size * 7.5;
$header-top: calc(#{$header-top-inner} - 0.2vw);
$header-height: $default-font-size * 6.25;
$header-toggler-width: 4rem;

$header-width-nav-switch: calc(100vw - #{$default-font-size * 2});
// $header-width-tab-land: calc(100vw - #{$default-font-size * 2});
// $header-width-phone: calc(100vw - #{$default-font-size * 2});
// $header-width-small-font: calc(100vw - #{$default-font-size * 2});




//page-nav
$page-nav-top: calc(
	100% +
		(
			(
					(
							(
									100vw -
										(
											#{$resume-card-width-full} + (
													(100vw - #{$resume-card-width-full}) / 2
												) + #{$navbar__logo-width}
										)
								) / 2
						) - 1vw
				) * 1
		) - .6vw
);

:root {
	scroll-behavior: smooth;
	scroll-padding-top: $header-height * 1.2;
	--nav-switch-width: $nav-switch-width;
	--site-nav-linear-gradient: linear-gradient(
		to right,
		#{var(--color-primary-1)} 0%,
		#{var(--color-primary-1)} 0%,
		#{var(--color-primary-4)} 0%,
		#{var(--color-primary-4)} 100%
	);
	--site-nav-active-scale-amount: 1;
	--body-background: linear-gradient(
		to left,
		var(--color-primary-1),
		var(--color-primary-1)
	);

	--page-nav-shadow-hover: #{$color-primary-bridge-4};


	//misc
	--header-toggler-svg-rotation: 180deg;
	--header-toggler-translate-x: 0;
	--header-toggler-translate-y: 0;


	--header-inner-width-nav-switch: 100%;



	//shapes stuff
	--diamond-fractal-animation-duration: 120s;
	--diamond-fractal-length: calc(20vw * var(--aspect-ratio-factor));
	--aspect-ratio-factor: calc(16 / 9);
	--diamond-fractal-rotation: 45deg;
	--translate-center: translate(-50%, -50%);
	--square-root-of-two: 0.707106781;
	--diamond-outer-opacity: 0.05;
}
